[2021-07-22 07:30] jangyoojin opened #1 "[lately][func] YouTube 비디오 공유 기능 사용 중, 배속 시 영상 끊김"
[발생현상]
YouTube 비디오 공유 기능을 통해 비디오를 공유하고, 해당 비디오를 배속으로 재생하면 비디오를 공유한 사람에게는 비디오와 음향 모두 배속되어 재생되지만 다른 사람들에게는 영상과 소리가 끊기는 현상이 계속 발생

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 추가액션 - YouTube 비디오 공유 - 임의의 비디오 공유
2. 비디오 오른쪽 하단 설정에서 재생 속도를 2배로 설정
3. 공유한 참가자가 아닌 다른 참가자의 화면에서 재생되는 비디오를 관찰

[2021-07-22 08:14] boonjo opened #2 "[lately][UI] 계정설정에서 버튼 로딩 동작 오류"
[발생현상]

계정설정에서 어느 버튼을 누룰시, 모든 버튼에서 로딩 모션 동작

![button](https://user-images.githubusercontent.com/61446495/126607736-9ac26c37-d9aa-45e5-a4c8-873d78627a45.gif)

[발생일자]
2021 - 07 - 22

[재현경로]
- 발생 환경 : macOS  모든환경
1. 메인화면
2. 로그인 계정명
3. 계정설정
4. 인증 메일 보내기

[2021-07-22 08:30] SangY00n opened #3 "[lately][func] 회의에 새로 참가한 참가자에게 채팅 메시지가 20개까지만 보이는 현상"
[발생현상]
회의에 새로 참가한 참가자에게 채팅 메시지가 최근에 채팅창에 전송된 20개까지만 보입니다.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 회의를 생성한 후 21개 이상의 채팅 메시지를 전송
2. 회의실에 새로운 참가자가 입장하여 채팅 창의 채팅 메시지를 확인

[스크린샷 및 동영상 첨부]

기존의 회의에 참가하고 있던 참가자에게 보이는 채팅 메시지 (1부터 30까지 적은 채팅 메시지 모두 확인 가능)
![image](https://user-images.githubusercontent.com/85980653/126610302-30c539f0-3bc9-45c6-aa55-52dd55bdb1f9.png)

새롭게 입장한 참가자에게 보이는 채팅 메시지 (1부터 10까

[2021-07-22 08:37] YoungRaeKimm opened #4 "[lately][func] 로그인된 회원은 무조건 방장 기능 부여되는 현상"
[발생현상]
로그인한 계정으로 미팅룸에 접속시 방장이 아님에도 불구하고 방장기능이 부여 되었다고 표시됩니다.

[발생일자]
2021-07-22

[재현경로]
- 발생 환경 : iPad OS
1.  미팅룸 생성
2. 다른 id로 로그인
3. 해당 방 접속

[스크린샷 및 동영상 첨부]

-
<img width="389" alt="스크린샷 2021-07-22 오후 5 36 50" src="https://user-images.githubusercontent.com/33543992/126611396-b3d39447-7bbe-49b0-b75c-e7eb23bafc09.png">

[2021-07-22 08:45] dmsgk724 opened #5 "[lately][func] 메인화면 배경 선택 기능에서의 오류"
[발생현상]
메인화면에서 배경 선택 기능을 누르면 아래로 내려가는 스크롤바가 작동하지 않고
배경 선택 중 화면 공유기능이 작동하지 않음

[발생일자]
2021-07-22

[재현경로]
- 발생 환경 : android chrome,
1. 메인화면 ->배경 선택
2. 메인화면 ->배경 선택 배경 선택하려 스크롤바를 아래로 내릴시 작동 x
3. 배경 선택후 빠르게 스크롤시 스크롤이 잠시 작동하나 몇 초 후 위로 다시 스크롤바를 올리려 하면 작동하지 않음

[스크린샷 또는 동영상]
https://user-images.githubusercontent.com/85989698/126594212-0aa94fee-fd3a-44b2-bb86-041430e7826e.mp4

[2021-07-22 08:47] YoungRaeKimm opened #6 "[lately][func] 채팅으로 한글을 입력할 경우 전의 메세지의 마지막 한글자가 앞에 한번 더 나오는 현상"
[발생현상]
채팅으로 한글을 입력할 경우 전의 메세지의 마지막 한글자가 앞에 한번 더 나오는 현상 입니다.

[발생일자]
2020-07-22

[재현경로]
- 발생 환경 : iPad OS safari
1. 한글로 채팅 입력
2.
3.

[스크린샷 및 동영상 첨부]
![IMG_0384](https://user-images.githubusercontent.com/33543992/126612541-45bb0e8b-8869-4ac6-98e1-f2ae85704297.PNG)

[2021-07-22 08:48] ktm0526 opened #7 "[lately][UI] 메인화면 계정설정 화면의 풀다운 메뉴에 배경선택 및 설정 메뉴가 없음"
[발생현상]
회의 생성 메인화면에서 계정설정 화면으로 넘어간 후 우측 상단의 풀다운 메뉴를 열어보면 주요기능, 계정 설정, 로그아웃 메뉴만 존재합니다.

[발생일자]
2021.07.22

[재현경로]

- 발생 환경 : 안드로이드, 모든 브라우저

1. 메인 화면
2. 계정 설정
3. 풀다운 메뉴 터치

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/43801981/126612426-7794c72f-05c8-4d2e-b233-24f4160b2e2a.png)

[2021-07-22 08:48] dmsgk724 opened #8 "[lately][func] 회의 이름 적는 칸 클릭 후 메인화면에서 배경 선택 시 나타나는 오류"
[발생현상]
회의 이름을 적는 칸에 커서를 두면 키보드가 화면에 나타나있는 상태 이러한 상태에서 메인화면->배경선택을 누르면 기능 전체가 동작하지 않음
비디오 자체가 움직이지 않는 경우도 있고 비디오는 움직이지만 화면이 절반 잘려서 나오는 경우도 있음

[발생일자]
2021-07-22

[재현경로]
- 발생 환경 : android chrome,
1. 회의 이름 적는 칸 클릭
2. 메인화면 ->배경 선택

[스크린샷 또는 동영상]

https://user-images.githubusercontent.com/85989698/126612632-ff14e1a4-0346-4a7e-8b65-0ed7455b1c83.mp4

[2021-07-22 08:50] SangY00n opened #9 "[lately][func] 회의실에 패스워드가 설정된 상태에서 녹화가 시작되지 않는 현상"
[발생현상]
방장이 회의실에 패스워드를 설정할 경우 회의 녹화 기능 사용 시 녹화가 시작되지 않습니다.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 방장이  ...추가 액션-보안 옵션-패스워드 추가 를 통해 회의실에 패스워드를 설정
2. 방장이 ...추가 액션-녹화 시작

[스크린샷 및 동영상 첨부]
아래의 알럿이 지속적으로 떠있으면서 영상 다운로드 url 메일이 계속 발송됩니다.
![image](https://user-images.githubusercontent.com/85980653/126612235-6181bd2b-933b-4f83-90f5-3aafc6b861bb.png)

다운로드 url 메일 스크린샷 (다운로드 버튼이 있어야 할 자리에 버튼이 없습니다.)
![

[2021-07-22 08:59] ktm0526 opened #10 "[lately][func] 회의 초대장 공유 기능 사용시 메일 전송 화면이 아닌 단순 메일함 화면으로 이동"
[발생현상]
회의 초대장 공유 기능을 사용하면 메일 전송 화면으로 가지 않고, 초대장 전송을 위해 고른 메일의 메일함이 로드됩니다.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 안드로이드, 모든 브라우저, Gmail 혹은 Outlook (다른 메일의 경우 테스트 환경으로 인해 시도해보지 못했습니다)
1. 참석자 - 초대하기 - 회의 초대장 공유
2. Gmail 혹은 Outlook 선택

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/43801981/126614063-a4497b1b-8d2f-4774-b6ce-a6d2521c151a.mp4

[2021-07-22 09:02] YoungRaeKimm opened #11 "[lately][UI] 품질 설정 후 회의화면 상단 품질 'AUD'로만 유지되는 현상"
[발생현상]
품질을 새롭게 설정 하였을 때에 회의화면 상단 'HD'나 'SD' 와 같은 품질이 'AUD'로 고정되는 현상입니다.

[발생일자]
2020-07-22
[재현경로]
- 발생 환경 : iPad OS safari
1. 품질설정을 바꿈
2. 아래의 'SD'로 바꿈에도 불구하고 위에 'AUD'로 고정되는 것을 확인하실 수 있습니다.
3.

[스크린샷 및 동영상 첨부]
![IMG_0385](https://user-images.githubusercontent.com/33543992/126614328-e25dc371-84b0-466c-8e8f-13ec8b71cdd9.PNG)

[2021-07-22 09:03] SangY00n opened #12 "[lately][UI] 비디오 품질 설정 시 회의 화면 상단 문구 표출 오류"
[발생현상]
사용자가 회의 품질 설정하기를 통하여 표준해상도(SD) 또는 저화질(LD)로 비디오 품질을 변경하였을 때,
자신의 화면 상단에 계속해서 HD로 표출되는 현상이 발견됩니다.

다른 참가자들에게는 해당 참가자의 비디오 품질이 올바르게 표출됩니다.

[발생일자]
2021.07.21

[재현경로]
- 발생 환경 : 윈도우 크롬
1. ...추가 액션-품질 설정하기-표준해상도 또는 저화질 선택-완료
2. 화면 상단의 비디오 품질 문구 표출 확인

[스크린샷 및 동영상 첨부]
표준해상도(SD)로 설정 시 HD로 뜸
![Animation_2021-07-22-17-58-25](https://user-images.githubusercontent.com/85980653/126614430-ce855902-4a89-4

[2021-07-22 09:06] ktm0526 opened #13 "[lately][UI] 접속자 통계에서 상태, 시작시간, 종료시간, 접속 시간이 겹쳐서 나타남"
[발생현상]
안드로이드 웹 환경에서 접속자 통계 창을 켰을 때 상태, 시작시간, 종료시간, 접속 시간이 겹쳐 알아볼 수 없습니다.

[발생일자]
2021.07.22
[재현경로]
- 발생 환경 : 안드로이드, 모든 브라우저
1. 추가액션 - 접속자 통계

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/43801981/126614898-eb0e2690-3d90-473d-ab6b-e680d002c4fe.png)

[2021-07-22 09:08] ktm0526 opened #14 "[lately][func] 안드로이드 하단 내비게이션 바의 back 버튼을 이용하여 회의에서 나갈 경우, 방장이 없는 상태로 방이 유지됨"
[발생현상]
안드로이드 환경에서 back 버튼을 이용하여 회의에서 나갈 경우, 방장이 없는 상태로 방이 그대로 유지됩니다.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 안드로이드, 모든 브라우저
1. 안드로이드 환경에서 회의 생성 및 다른 기기에서 참여
2. 백 버튼을 이용하여 방장(모바일 환경)이 회의 이탈
3. 방장이 없는 상태로 방이 유지됨

[2021-07-22 09:18] SangY00n commented on #12
자신에게는 항상 HD로 보이는 것이 맞다고 하여 issue close 합니다.

[2021-07-22 09:18] #12 closed

[2021-07-22 09:41] jangyoojin opened #15 "[lately] [enhance] 비밀번호 재설정 버튼 클릭 후 안내 문구 노출 시간 짧음"
[발생현상]
계정 설정에서 비밀번호 재설정 버튼을 클릭하면 오른쪽에 '비밀번호 재설정 방법이 이메일로 전달됩니다.' 문구가 비밀번호 재설정을 위한 메일을 보냈다는 안내 문구로 변함. 그러나 이메일 인증 버튼을 눌렀을 때는 오른쪽에 안내 문구로 바뀐 후 계속 유지되지만, 비밀번호 재설정의 경우 안내 문구가 잠시 보인 후 다시 원래 문구로 돌아오는 것을 확인. 안내 문구로 계속 유지되게 수정하면 좋을 것 같음

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 메인 화면 - 계정 설정 - 비밀번호 재설정 버튼 클릭
2. 오른쪽 문구를 관찰

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/12

[2021-07-22 09:59] jangyoojin opened #16 "[lately][UI] 오디오 공유 시 안내 문구 수정 필요"
[발생현상]
오디오 공유 기능을 사용할 때 안내 문구로 'lately.vmeeting.kr에서 내 화면과 오디오를 공유하는 중입니다.'라는 문구가 뜸. 오디오 공유 기능은 화면을 공유하지 않고 오디오만 공유하므로 'lately.vmeeting.kr에서 오디오를 공유하는 중입니다.'으로 수정이 필요

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 추가 액션 - 오디오 공유
2. 공유 중에 화면 아래 쪽에 뜨는 안내 문구 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/126621774-24b23e31-89a1-4e5c-86c5-559dd04efb4f.png)

[2021-07-23 01:37] boonjo opened #17 "[lately][func] Safari에서 배경설정시 카메라 오류"
[발생현상]

배경 선택시 카메라 작동 오류

![background](https://user-images.githubusercontent.com/61446495/126727532-7eded886-91a7-4a3f-a171-5362005adaf0.gif)

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 : macOS Safari
1. 메인화면
2. 로그인 계정명
3. 배경선택

[2021-07-23 01:45] sjhan22 opened #18 "[lately][func] 아이폰 메인화면에서의 배경선택 옵션 제공"
[발생현상]
모바일에서는 배경 선택 기능을 제공하지 않는데, 아이폰 chrome web으로 접속 시 메인화면에서 배경선택 옵션이 제공됨.
배경 적용시 배경이 제대로 적용되지 않고 검정색 화면이 뜸.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 메인화면 - 로그인계정명 - 배경선택 - 원하는 배경선택- 적용
2.
3.

[스크린샷 또는 동영상]
![image](https://user-images.githubusercontent.com/85981002/126593432-3beb37e5-6de4-4945-a3c6-52d55da266cf.png)

[2021-07-23 01:48] YoungRaeKimm opened #19 "[lately][UI] 판서 작성 후 판서 종료하지 않고 토글뷰 눌렀을 때에 작성한 판서 유지 현상"
[발생현상]
판서 작성 후 판서 종료하지 않고 토글뷰 눌렀을 때에 작성한 판서 유지 현상입니다.

[발생일자]
2020-07-23

[재현경로]
- 발생 환경 : iPad OS safari
1. 판서 열기 버튼 누름
2. 판서 작성
3. 토글뷰 버튼 누름

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/33543992/126728827-22c4c0c1-a6d8-445a-a64e-f3de94520f30.png)

[2021-07-23 01:49] sjhan22 opened #20 "[lately][func] 아이폰에서 채팅 검색 기능이 제공되지 않음"
[발생현상]
아이폰에서 모든 브라우저 web으로 접속 시 채팅 검색 기능이 제공되지 않음.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 채팅창 열기
2.
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/126728873-181fc5b2-b67b-464b-8186-ebbc0cd616e0.png)

[2021-07-23 01:53] sjhan22 opened #21 "[lately][func] 아이폰에서의 사용자 차단 기능"
[발생현상]
사용자 차단 기능은 내보내기 기능과 동일한 작업인데 이름이 달라 사용자에게 혼란을 줄 수 있음.(용어 통일 필요)

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 채팅창 열기 - 참여자 더보기 - 사용자 차단 - 차단
2.
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/126729068-b6ca3dbd-b24d-4179-a161-c6a19ba4971a.png)

[2021-07-23 01:56] YoungRaeKimm opened #22 "[lately][UI] 판서의 hand 기능 작동 안되는 현상"
[발생현상]
판서의 hand 기능 작동 안되는 현상

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : iPad OS safari
1. 판서열기 버튼 누름
2. hand 버튼 누른후 화면 드래그
3.

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/126729225-c524665a-ff61-4e8b-8e08-c7a6d79bb31c.MP4

[2021-07-23 01:57] sjhan22 opened #23 "[lately][func] 아이폰에서 회의방 접속 후 로그인이 안되는 현상"
[발생현상]
아이폰에서 모든 브라우저 web으로  로그인을 하지 않을 상태로 접속 시 회의방 입장 후에 로그인이 불가능함.
(로그인 버튼을 눌러도 아무런 변화가 없음)

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 추가액션 - 이름명(로그인)
2.
3.

[스크린샷 및 동영상 첨부]

[2021-07-23 02:04] sjhan22 opened #24 "[lately][func] 아이폰에서 회의에서 나갈 때 방장 지정이 불가능한 현상"
[발생현상]
아이폰 모든 브라우저 web으로 접속 시 회의에서 나갈 때 디폴트값으로 가장 상단에 있는 참가자가 방장으로 지정되어 있는데 다른사람으로 변경이 불가능함. (다른 사람을 클릭해도 변경되지 않음.)

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 회의나가기 - 회의나가기 - 지정 후 나가기
2.
3.

[스크린샷 및 동영상 첨부]

[2021-07-23 02:04] boonjo opened #25 "[lately][func] 배경적용 후 취소시 오류"
[발생현상]

다른 배경 선택후 취소시, 다음에 배경선택에 들어갔을때 카메라 오류

![background_cancel](https://user-images.githubusercontent.com/61446495/126729405-1f7b7dd9-672b-4443-954e-97d696450585.gif)

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 : macOS Chrome, Firefox, Opera, Naver Whale
1. 메인화면 - 로그인 계정명
2. 배경선택 - 특정 배경 선택 - 적용
3. 배경선택 - 다른 배경 선택 - 취소
4. 배경선택 시 미리보기 화면 멈춤현상

[2021-07-23 02:11] sjhan22 opened #26 "[lately][func] 아이폰에서 회의삽입 기능이 참가자 목록을 통해서만 제공되고 추가액션을 통해서는 제공되지 않는 현상."
[발생현상]
아이폰 모든 브라우저 web에서 회의삽입 기능이 참가자 목록을 통해서는 제공되는데 데스크탑 환경에서와는 달리 추가액션을 통해서는 제공되지 않음.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 참가자 목록 - 초대하기 - 이 회의 삽입 - 복사 (이 경로는 모바일에서 가능)
2. 추가액션 (데스크탑 환경에서와는 달리 회의 삽입 기능이 존재하지 않음)
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/126729963-9c6036e4-230c-4425-a049-bd312ad3a23c.png)

[2021-07-23 02:16] sjhan22 opened #27 "[lately][func] 아이폰에서 다른 참가자가 공유한 Youtube 비디오의 썸네일만 보이고 재생이 안되는 현상"
[발생현상]
아이폰에서 다른 참가자가 공유한 Youtube 비디오의 썸네일만 보이고 재생이 안됨.

[발생일자]
2021.07.22

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. (다른 참가자가) 추가액션 - Youtube 비디오 공유 - 링크 입력 - 공유
2. 다른 참가자의 화면에서는 공유가 되고 있는데 아이폰에서는 재생이 되지 않음
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/126730284-a4162313-1f14-4881-b782-d143edc2e46c.png)

[2021-07-23 02:22] sjhan22 opened #28 "[lately][func] 아이폰에서 품질을 변경해도 화면에 표시되는 품질 상태가 변경되지 않는 현상"
[발생현상]
아이폰에서 품질 설정하기를 통해 품질을 변경해도 화면에 표시되는 품질 상태는 변경되지 않음.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 아이폰 모든 브라우저 web
1. 추가 액션 - 품질 설정하기 - 원하는 품질 선택 - 완료
2. 스크린샷에서 품질을 HD에서 SD로 변경했음에도 화면에는 HD로 그대로 표시되고 있음
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/126730580-5b856cba-34e3-4b1c-b373-5da91188c071.png)

[2021-07-23 02:25] YoungRaeKimm opened #29 "[lately] 아이패드의 장치 설정에서 default 오디오를 제외한 다른 오디오 선택하면 설정 에러"
[발생현상]
아이패드의 메인화면의 장치 설정에서 오디오 설정버튼을 누르고 default로 선택되어있는 오디오를 제외한 다른 오디오를 선택하면 '디바이스 선택'이라 뜨는 현상

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : iPad의 safari
1. 로그인
2. 아이패드와 오디오 연결
3. 메인화면의 설정버튼을 누름
4. 오디오 선택을 기본 오디오를 제외한 다른 오디로로 함

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/126730750-2dbe8e11-117d-42c3-b589-083f27696cb4.MP4

[2021-07-23 02:47] boonjo opened #30 "[lately][func] Firefox에서 카메라 허용 오류"
[발생현상]

카메라 허용을 할려면 꼭 메인화면 설정을 통해서 가능함, 하지만 미팅룸 안에서는 카메라 액세스 못함

![firefox_camera](https://user-images.githubusercontent.com/61446495/126731690-df9bc89d-8730-4b25-a46f-19b793d8132b.gif)

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 : macOS Firefox

1. 메인화면
2. 설정
3. 카메라 허용
4. 미팅 생성

[2021-07-23 02:57] YoungRaeKimm opened #31 "[lately][func] 아이패드 chrome에서 디바이스 접근을 못하는 현상"
[발생현상]
아이패드 chrome 브라우저에서 디바이스 접근을 전혀 못하는 현상입니다. 마이크와 카메라 모두 접근이 불가합니다.

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 :
1. 아이패드 chrome 어플로 들어가서 로그인
2. 세팅 버튼 누름

1. 회의 생성
2. 오디오 세팅, 카메라 세팅 권한 없음을 확인할 수 있음

[스크린샷 및 동영상 첨부]
![IMG_0390](https://user-images.githubusercontent.com/33543992/126732535-710a5870-05de-45dd-9426-6107c83f9e0f.PNG)
![IMG_0389](https://user-images.githubusercontent.com/33543992/126732540-07

[2021-07-23 03:01] YoungRaeKimm opened #32 "[lately][func] 아이패드 chrome에서 언어 선택 안되는 현상"
[발생현상]
아이패드 chrome에서 접속하였을 떄, 메인화면의 세팅에서 언어 선택이 안되는 현상

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 아이패드 chome
1. 로그인
2. setting버튼의 more버튼 누름
3.

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/126732889-8bf40b44-25cc-481b-9c5c-b156c69d8a17.MP4

[2021-07-23 03:02] jungheekang opened #33 "[lately][func] 사이트 상단 Vmeeting 로고 메인으로 이동 기능 필요"
[발생현상]
사이트 상단 vmeeting 로고을 클릭하여도 메인으로 이동되지 않음
계정 설정화면에서 메인으로 갈수있는 버튼이 없음
(기존 .io에는 해당 기능있음, 화상회의 중에는 비활성화 처리가 맞는것같습니다. )

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 모든 환경
1. 메인화면 - 주요기능
1. 로그인 후 계정 설정 화면

[2021-07-23 04:50] jungheekang opened #34 "[lately][func]로그인 화면에서 '로그인상태유지' 체크박스 해제 후 재확인 시 체크박스 체크되어 있음"
[발생현상]
로그인 화면에서 로그인상태유지 체크박스 해제 후 로그인 한뒤 브라우저 다시 접속시 로그인 되어 있음

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 모든 환경
1. 로그인 화면 - 로그인 상태 유지 체크박스 해제
2. ID/PW 입력 후 로그인
3. 모든 브라우저 닫기 - vmeeting 접속 시 로그인되어있음

[2021-07-23 04:56] boonjo opened #35 "[lately][UI] Safari에 기능 확인 메세지에서 스크롤 가능"
[발생현상]

불필요한 스크롤 기능

![scroll](https://user-images.githubusercontent.com/61446495/126738908-605b92cc-f22c-48db-80fc-8f1b2fc007c6.gif)

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 : macOS Safari
1. 추가액션
2. 모두 음소거

[2021-07-23 05:21] jungheekang opened #36 "[lately][func]로그인상태에서 회의참석 후 설정에서 로그아웃해도 메인페이지에선 로그인 유지되는 현상"
[발생현상]

[발생일자]

[재현경로]
- 발생 환경 :
1.
2.
3.

[스크린샷 및 동영상 첨부]

[2021-07-23 05:21] oomuns opened #37 "[lately][func] 탈퇴한 계정이 다른 창에 로그인 되어 있는 경우, 기능이 정상적으로 작동하는 오류"
[발생현상]
계정 탈퇴를 진행한 후 동일한 계정으로 미리 로그인 되어있는 다른 창에서 회의 참여, 생성, 계정 설정 등 기능들이 정상적으로 작동한다.

[발생일자]
2021-07-22
[재현경로]
- 발생 환경 : iPad 네이버웨일
1. 두 개의 창에서 같은 계정으로 로그인
2. 하나의 창에서 계정 탈퇴를 진행
3. 다른 하나의 창에서 기능들이 정상적으로 동작

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/86105163/126741015-bbf5cbbc-8036-41bf-a480-66eb4abd23e1.png)

탈퇴한 후 계정 설정이 가능하다.

![탈퇴한후회의참여가능](https://user-images.githubuserc

[2021-07-23 05:26] boonjo opened #38 "[lately][UI] 영어로 나오는 "Disable everyone's camera' 문구의 정렬이 다름"
[발생현상]

Chrome & Safari 윈도우 크기를 똑같이 넓게 했을때, 영어로 나오는 "Disable everyone's camera' 문구의 정렬된 배치가 다름

<img width="1578" alt="text_arrangement" src="https://user-images.githubusercontent.com/61446495/126740465-48c5826b-1db8-4cfe-9e6e-bb2efc548d79.png">

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 : macOS Safari
1. 윈도우 사이즈를 넓고 짧게 하기
2. 회의 생성
3. 추가액션

[2021-07-23 05:35] YoungRaeKimm opened #39 "[lately][UI] 아이패드에서 ...버튼을 누르면 참여자 화면 자체를 누른 것과 같은 효과가 나는 현상"
[발생현상]
아이패드에서 ...버튼이 눌리는 대신 참여자 화면을 누를때와 동일한 현상이 일어납니다.

[발생일자]
2020-07-23

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1. 참여자 2명 이상인 미팅룸 환경 조상
2. 참여자 화면 블록 안의 ...버튼 누르기 (토글뷰 ON/OFF 상태와 상관없이)
3.

[스크린샷 및 동영상 첨부]

[2021-07-23 05:39] boonjo commented on #6
비슷한 오류라 여기 thread로 작성합니다.

[발생현상]

한글로 채팅 입력시, 마지막 글자가 한번더 보내지는 현상

<img width="288" alt="korean_chat" src="https://user-images.githubusercontent.com/61446495/126741326-4b2d07bb-4e22-475a-af08-b48a14ef73b2.png">

[발생일자]
2020-07-23

[재현경로]

- 발생 환경 : macOS Chrome

1. 위와 같음

[2021-07-23 05:44] oomuns commented on #39
토글뷰일때는 ...버튼도 눌리고 참여자 화면도 같이 눌리는 것 같습니다.
...버튼을 눌렀을 때 나오는 창이 나오고 참여자 화면을 눌렀을 때 나오는 화면이 나옵니다.
![image](https://user-images.githubusercontent.com/86105163/126741644-72767fd9-a152-4cd7-8df2-0b9d0b62f20e.png)
이후 참여자 화면을 눌렀을 때와 같은 화면으로 넘어감

[2021-07-23 05:46] YoungRaeKimm opened #40 "[lately] 아이패드에서 품질 설정 버튼 누르기 힘듬"
[발생현상]
아이패드에서 품질 설정 버튼이 너무 작아 누르기가 힘든 것 같습니다.
개선시키면 좋을 것 같아 글 남깁니다.

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저

1. 미팅룸 만듬
2. 품질설정 버튼을 누름
3. 설정 포인트 버튼 왔다갔다 해보기

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/126741825-00159248-fed1-490f-865d-ff7630e4b77e.mp4

[2021-07-23 05:49] #40 closed

[2021-07-23 05:49] sjhan22 commented on #11
아이폰 모든 브라우저에서도 동일한 현상 발생합니다. (코멘트 단 후에 issue는 close 합니다.)

[2021-07-23 05:50] #28 closed

[2021-07-23 06:00] oomuns opened #41 "[lately][UI] 언어가 영어일 때 withdrawl misspelling"
[발생현상]
언어가 영어로 설정되어있을 때 회원탈퇴인 withdrawal 이 아닌 오타 withdrawl로 나와있다.
[발생일자]
2021-07-22
[재현경로]
- 발생 환경 :  모든 환경에서
1. 언어를 영어로 설정
2. 계정 설정에 회원탈퇴인 withdrawal 이 오타 나있다.
3.

[스크린샷 및 동영상 첨부]
![misspelling](https://user-images.githubusercontent.com/86105163/126742828-f1f8f782-2c0c-4c44-b92d-7a2e276ee71a.PNG)

[2021-07-23 06:21] YoungRaeKimm commented on #19
아이패드의 모든 브라우저에서 동일한 현상 일어납니다.

[2021-07-23 06:26] SangY00n opened #42 "[lately][func] 오디오 공유 시 카메라가 꺼지는 현상"
[발생현상]
카메라가 켜져 있는 상태에서 오디오 공유를 시도할 경우, 카메라가 off 상태가 됩니다.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 카메라 on
2. ...추가 액션-오디오 공유-오디오를 공유하려는 창 선택-오디오 공유 체크-공유

[스크린샷 및 동영상 첨부]
![Animation_2021-07-23-15-25-37](https://user-images.githubusercontent.com/85980653/126744788-38ce30b2-e0b4-4ba7-9c3d-e5f3eff85cd7.gif)

[2021-07-23 06:29] boonjo commented on #42
발생 환경 macOS Chrome에서도 동일한 bug가 있습니다

[2021-07-23 06:30] SangY00n commented on #42
추가적으로
카메라 off-오디오 공유 시작-카메라 on-오디오 공유 중지
를 시도할 경우 오디오 공유 중지와 함께 카메라가 off 상태가 되는 현상이 발생합니다.

[2021-07-23 06:31] boonjo commented on #19
macOS의 모든 브라우저 역시 동일한 현상이 나타납니다

[2021-07-23 06:33] YoungRaeKimm commented on #22
아이패드의 모든 브라우저가 동일한 현상이 일어납니다.

[2021-07-23 06:38] YoungRaeKimm commented on #10
아이패드에서 safari 브라우저에서 yahoo 메일, chorme 브라우저에서 G 메일 에서 동일한 현상이 일어납니다.

[2021-07-23 06:42] oomuns opened #43 "[lately][UI] iPad에서 판서 가능한 영역이 제한적임"
[발생현상]
iPad로 판서 기능을 이용했을 때 화면의 일정 부분만 판서를 사용할 수 있고 나머지 영역은 판서를 사용할 수 없다.
zoom을 이용해 확대 혹은 축소 하였을 때도 화면 상 동일한 영역에서 잘린다.
[발생일자]

[재현경로]
- 발생 환경 :  iPad 네이버 웨일, 크롬
1. 판서 실행 후 작성할 때 화면이 잘린다.
2.
3.

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/86105163/126745974-8b44339a-5a37-4b26-8ba5-3a111673237b.png)
축소하기 전 판서 화면
![image](https://user-images.githubusercontent.com/86105163/12674

[2021-07-23 06:46] boonjo opened #44 "[lately][func] E2EE 키 활성화시 음성 & 화면 깨짐"
[발생현상]

<img width="1348" alt="e2ee" src="https://user-images.githubusercontent.com/61446495/126746353-569b11fe-0d91-475e-affe-a5bdd1d98c41.png">

[발생일자]

2021-07-23

[재현경로]
- 발생 환경 :  macOS  모든환경
1. 추가액션
2. 보안 옵션
3. E2EE 키

[2021-07-23 07:01] YoungRaeKimm opened #45 "[lately][func] 유저를 강퇴 시켰을때에 접속자 통계에 접속중이라 뜨는 현상"
[발생현상]
유저가 방장으로부터 강퇴 되었을 때에 접속자 통계에 접속중이라 뜹니다.

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1. 두명 이상인 미팅룸 환경 조성
2. 방장이 한명 강퇴
3.  사용자 스탯 보면 나갔다고 안뜨는 것을 확인 가능

[스크린샷 및 동영상 첨부]
![IMG_EC4C3C28DD58-1](https://user-images.githubusercontent.com/33543992/126747656-a16592d6-1959-4caa-9ef9-5b3d5af698b6.jpeg)

[2021-07-23 07:08] SangY00n opened #46 "[lately][func] 방장이 지정 후 나가기 시도 시 첫 번째 참가자만 선택 가능한 현상"
[발생현상]
방장이 회의 나가기를 통하여 방장 권한을 넘겨 줄 참가자를 선택할 때, 첫 번째 참가자만 선택이 가능하고 다른 참가자는 선택이 불가능합니다.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 윈도우 크롬
회의 나가기-지정 후 나가기-첫 번째 참가자 외의 다른 참가자 선택

[스크린샷 및 동영상 첨부]
![Animation_2021-07-23-16-05-10](https://user-images.githubusercontent.com/85980653/126748284-6adebbff-4c71-4006-9790-6896207e593c.gif)

[2021-07-23 07:18] jungheekang commented on #24
[lately][func] 방장이 지정 후 나가기 시도 시 첫 번째 참가자만 선택 가능한 현상 #46와 동일이슈로
#24번이슈 close하겠습니다.

[2021-07-23 07:18] #24 closed

[2021-07-23 07:19] jungheekang commented on #46
[lately][func] 아이폰에서 회의에서 나갈 때 방장 지정이 불가능한 현상 #24 과 동일
#24이슈는 close 하겠습니다.

[2021-07-23 07:19] YoungRaeKimm commented on #6
아이패드 모든 브라우저에서 동일한 현상 일어납니다.

[2021-07-23 07:20] SangY00n opened #47 "[lately][func] 방장 권한을 위임받은 참가자의 '모두에 대해 회의 종료' 정상 동작하지 않음"
[발생현상]
방장 권한을 위임받은 참가자(로그인하지 않은 참가자입니다)가 '모두에 대해 회의 종료' 기능을 사용할 경우 정상 동작하지 않고 자기 자신만 회의에서 나가지는 현상이 발생합니다.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 :  윈도우 모든 브라우저

tester1: 로그인한 참가자
tester2, tester3, tester4: 로그인 하지 않은 참가자

1. tester1이 회의 생성
2. tester2, tester3, tester4 가 회의실 입장
3. tester1이 tester2에게 방장 권한 위임 후 회의 나가기
4. tester2가 '모두에 대해 회의 종료' 시도
5. tester2만 나가지고 tester3, tester4는 회의에 남아있는 현상 나타남

[2021-07-23 07:26] oomuns opened #48 "[lately][func] 탈퇴한 이메일로 다시 가입하려고 할 때 사용중인 이메일이라고 나오는 오류"
[발생현상]
회원 탈퇴한 이메일로 다시 vmeeting 회원 가입을 하려고 할 때 이미 사용중인 이메일이라고 나오는 오류

로그인 창에서 동일한 이메일로 로그인을 하려고 시도할 때에는 '이미 탈퇴한 회원입니다.' 라고 나오며 로그인이 불가합니다.
만약 비밀번호 재설정을 할 경우 메일이 오고 비밀번호를 재설정할 수 있지만, 로그인은 불가능합니다.

[발생일자]
2021-07-23
[재현경로]
- 발생 환경 :
1. vmeeting 회원 탈퇴
2. 이후 동일한 이메일로 다시 회원가입을 시도하면 이미 사용중인 이메일이라고 나온다.
3.  로그인을 시도하여도 이미 탈퇴한 회원이라고 나오며 로그인을 할 수 없다.

[스크린샷 및 동영상 첨부]

![가입불가](https://user-images.githubuserco

[2021-07-23 07:33] jungheekang commented on #7
설정메뉴는 계정설정에서는 미표출되고 메인화면에서의 드롭다운에서만 표출되는게 컨셉으로 보입니다.
해당 이슈는 close 하겠습니다.

[2021-07-23 07:33] #7 closed

[2021-07-23 07:53] oomuns opened #49 "[lately] 차단 당한 사용자가 다시 들어올 수 있는 현상"
[발생현상]
회의실에서 차단당하여 나간 사람이 바로 다시 회의실에 입장이 가능합니다.
사용자 차단을 통해 나가진 사람이 다시 들어오는 것은 사용자 차단 기능에 알맞지 않은 것 같습니다.

[발생일자]

[재현경로]
- 발생 환경 :
1. 사용자 차단
2. 차단당한 사람이 다시 회의실에 들어올 수 있음
3.

[스크린샷 및 동영상 첨부]

[2021-07-23 08:02] jungheekang opened #50 "[lately][func]녹화시작 후 종료하지 않으면 해당 회의에 아무도 없어도 방이 없어지지 않음"
[발생현상]
방장이 녹화 시작 후 회의가 종료되어 모든 참가자와 방장이 회의에서 나가도 해당방은 계속 유지되고 있음
다시 재접속해서 확인하면 상단회의시간 계속 흐르고 있고 채팅, 참여이력 모두 그대로 있음

방장이 다시 회의실에 입장하여 녹화종료해야 방이 초기화됨

zoom은 녹화을 시작했던 방장이 퇴실하거나 방 인원이 모두나가면 자동으로 녹화중지되고 저장됨

[발생일자]
2021-07-23

[재현경로]
- 발생 환경 : 모든 환경에서 동일
1. 회의생성 - 회의 방장 포함 3명 참석 총 4명
2. 녹화시작 - 총 4명 모두 회의 나가기
3. 해당 회의에 재접속 시

[2021-07-23 08:39] oomuns opened #51 "[lately][func] iPad 에서 회의 초대장을 기본 이메일 앱을 통해 공유했을 때 내용이 제대로 나오지 않는 오류"
[발생현상]
User 님이 회의에 초대합니다. <'BR><'BR>회의 참여 :<'BR>https://lately.vmeeting.kr/trial/Test<'BR>
회의 초대장, 기본 이메일 앱을 통해 공유할 경우 태그가 그대로 나오는 오류가 있습니다.

[발생일자]
2021-07-23
[재현경로]
- 발생 환경 : iPad 모든 브라우저, 기본 메일 앱
1.  회의 초대장의 옵션 중 기본 이메일 선택
2. 메일 앱 연결 시 내용에 태그가 그대로 나오는 오류 발생
3.

[스크린샷 및 동영상 첨부]
![메일오류](https://user-images.githubusercontent.com/86105163/126756504-b9d6fcfc-2cd2-4821-8294-4378bb5db785.PNG)

[2021-07-23 08:47] ktm0526 opened #52 "[lately][func] 안드로이드에서 default를 제외한 오디오 기기 간 전환이 불가능한 현상"
[발생현상]
안드로이드 웹 환경에서 회의 접속 후 설정에서 오디오 셀렉트를 통해 기기를 전환할 시, default에서 다른 기기로는 정상적으로 변경이 가능하나 다른 기기(speakerphone, headset earpiece, bluetooth headset) 사이에서는 전환이 불가능합니다

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 안드로이드, 모든 웹 브라우저
1. 회의 생성 및 접속
2. 설정 - 장치 - 오디오

[2021-07-23 08:50] ktm0526 commented on #22
안드로이드의 모든 브라우저에서도 동일한 현상이 일어납니다.

[2021-07-23 08:52] SangY00n opened #53 "[lately][UI] 회원가입 시 아이디 입력 란에 한글이나 특수문자를 입력할 경우 부적절한 안내 문구 출력"
[발생현상]
회원가입 시에 아이디 입력 란에 한글이나 특수문자 등 아이디에 포함할 수 없는 문자를 입력할 경우 '등록되지 않은 사용자입니다.' 라는 적절하지 않은 문구가 출력됩니다.
'포함할 수 없는 문자가 포함되어 있습니다.'와 같이 수정이 필요합니다.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 모든 브라우저
1. 회원가입-아이디
2. 아이디 입력 란에 한글 또는 특수문자(@과 . 제외) 입력

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/126759015-0b4cc309-00d0-498c-bce7-8735898626d9.png)

[2021-07-23 09:01] ktm0526 opened #54 "[lately][UI] 안드로이드에서 품질 설정 변경 시 상단 표시가 "HD"로 유지됨 (aud 상태 제외)"
[발생현상]
안드로이드에서 웹 브라우저 사용 시 aud가 아닌 다른 모든 품질 설정 상태에서 상단 표시가 HD로 표기됩니다.

[발생일자]
2021.07.23

[재현경로]
- 발생 환경 : 안드로이드, 모든 웹 브라우저
1. 회의 접속
2. 추가 액션 - 품질 설정하기 - 저화질, 표준해상도, 고해상도 중 하나로 전환
3. 화면 상단 품질 표기 확인

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/43801981/126760138-2254d9e3-0b4a-486e-ae8b-d8f918dc63dc.mp4

[2021-07-23 09:05] ktm0526 commented on #20
안드로이드(모든 웹 브라우저)에서도 동일 이슈 발생합니다. 다만 화면을 가로로 전환할 시에는 검색 버튼이 정상적으로 화면에 표시 및 작동하여 UI 상의 이슈 같습니다.

[2021-07-23 15:03] tu-nv commented on #4
@theun0524 can you point me the prosody code that process the permission for role host/logged in user/guest user?

[2021-07-24 14:52] theun0524 commented on #4
@tu-nv Only moderator connect to xmpp server with jwt token if user can create room into vmapi, otherwise user(guest) connect to xmpp server without jwt token.

[2021-07-24 14:57] tu-nv commented on #4
@theun this is already implemented in v2.0.0. The issue here is: if 2 users are logged in, then both will join with jwt token and both will be moderator.

[2021-07-26 01:07] jungheekang commented on #50
30초~1분 정도 후 회의실 종료 확인

[2021-07-26 01:07] #50 closed

[2021-07-26 04:35] huijjj commented on #41
수정하여 lately에 반영했습니다

[2021-07-26 04:35] #41 closed

[2021-07-26 04:35] huijjj commented on #33
수정하여 lately에 반영했습니다

[2021-07-26 04:35] #33 closed

[2021-07-26 04:37] huijjj commented on #2
탈퇴를 제외한 버튼들은 각각 로딩이 따로 동작하도록 수정하여 lately에 반영했습니다
탈퇴 버튼의 경우에는 탈퇴를 누르고 굳이 다른 버튼을 누를 일이 없으며, 탈퇴 처리 중에 이메일 인증이나 비밀번호 변경시 문제가 생길 수도 있을 것 같아서 탈퇴 처리 중에는 모든 버튼이 로딩이 되도록 유지했습니다

[2021-07-26 04:37] #2 closed

[2021-07-26 05:24] jangyoojin opened #55 "[lately][func] 이메일 인증 메일이 두 번 보내지는 문제"
[발생현상]
계정을 만들고 [인증 메일 보내기] 버튼을 처음 누르면 메일이 두 번 보내짐. [인증 메일 보내기] 버튼은 두 번째 클릭부터는 인증 메일이 한 개만 보내짐(즉, 정상작동 함).

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 크롬, 엣지
1. 회원가입을 통해 새로운 계정 만들기
2. 인증 메일 보내기 버튼 클릭
3. 가입한 메일함으로 가서 온 메일 개수 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/126937242-2fb8107f-253e-4a44-a455-e9c01c6869d5.png)

[2021-07-26 05:27] jangyoojin opened #56 "[lately][func] 수정된 이메일에 대한 인증을 할 수 없는 문제"
[발생현상]
계정의 이메일을 수정해도, [인증 메일 보내기] 버튼이 활성화되지 않음.

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 :  윈도우 크롬, 엣지
1. 기존 계정에서 이메일 정보를 수정
2. 이메일 인증에서 [인증 메일 보내기] 버튼이 활성화되지 않음을 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/126937423-5f022eca-b8f3-4006-ba7c-c4c6b5d7aae5.png)

[2021-07-26 05:32] SangY00n commented on #30
WindowOS의 Firefox 환경에서도 동일한 현상이 발견됩니다.

[2021-07-26 05:55] SangY00n commented on #30
추가적으로 메인화면의 배경선택, 그리고 미팅룸의 배경선택에서 또한 카메라 액세스가 불가능합니다. 카메라 화면이 보여야 할 위치에 무한 로딩이 걸립니다.
![Animation_2021-07-26-14-55-30](https://user-images.githubusercontent.com/85980653/126939803-ccd545c1-7967-49d6-b540-62c3f142e6ea.gif)

[2021-07-26 06:22] SangY00n opened #57 "[lately] 참가자 목록에서의 채팅 차단 기능 추가 및 '사용자 차단' 과 '내보내기' 용어 통일"
[발생현상]
현재 방장이 특정 참가자에 대해서 '채팅 차단'을 하기 위해서는 채팅창에서 _참여자 더보기(...)_ 를 눌러서만 '채팅 차단'이 가능합니다.
따라서 채팅을 차단하고자 하는 참가자가 1회 이상 채팅을 입력하여야만 해당 참가자에 대해 '채팅 차단'이 가능합니다.

'개인 메시지 보내기'나 '내보내기' 기능과 같이 채팅창의 _참여자 더보기(...)_ 에서 뿐만아니라 _참가자 목록_ 에서도 '채팅 차단'을 가능하도록 하는 것이 좋을 것 같습니다.

또한 채팅창의 _참여자 더보기(...)_ 의 '사용자 차단' 과 _참가자 목록_ 의 _더보기(...)_ 의 '내보내기' 의 기능이 동일하므로 용어를 통일하는 것이 좋을 것 같습니다.

[발생일자]
2021.07.26

[스크린샷 및 동영상 첨부]
채팅창의

[2021-07-26 07:00] SangY00n opened #58 "[lately][func] 판서 내 색상 선택에서 스포이드(color picker pipette) 사용 시 한글 입력 불가"
[발생현상]
판서 내 색상 선택에서 스포이드(color picker pipette) 사용 시 한글 입력이 불가능합니다.
다른 창을 선택했다가 돌아오거나, 회의실 창을 최소화했다가 열면 다시 한글 입력이 가능해집니다.

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 판서 열기
2. 색상 선택 - 스포이드(color picker pipette) 도구를 이용하여 색상 추출
3. 텍스트 도구 또는 채팅창에 영문만 입력 가능해짐(한글 입력 불가능)

[스크린샷 및 동영상 첨부]
색상 선택의 스포이드 버튼
![image](https://user-images.githubusercontent.com/85980653/126945460-dbf07208-4ebe-4c9b-9668-7b25bf

[2021-07-26 07:01] jangyoojin opened #59 "[lately][enhancement] 변경된 회의 이름이 저장되지 않는 문제"
[발생현상]
회의를 열고 회의 이름에서 편집 버튼을 눌러 회의 이름을 변경한다. 이후, 회의를 종료했다가 재접속하면 변경하기 전 회의이름으로 돌아가있는 것을 확인할 수 있다.

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 크롬, 엣지, 오페라, 파이어폭스, 네이버 웨일
1. 'test'라는 이름의 회의를 새로 만든다
2. 회의 내에서 'testing'으로 회의 이름을 변경한다
3. 본 회의를 종료했다가 다시 열면 변경 전 이름으로 되돌아간 것을 확인할 수 있다

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/126946372-b7e1863a-0265-4c91-9177-e3d5e251f7d4.p

[2021-07-26 07:15] SangY00n opened #60 "[lately][func] 회의실에 패스워드가 설정된 상태에서 라이브 스트리밍이 시작되지 않는 현상"
[발생현상]
방장이 회의실에 패스워드를 설정할 경우 라이브 스트리밍 기능 사용 시 라이브 스트리밍이 시작되지 않습니다.

이 이슈는 #9 이슈와 비슷한 이슈로 보입니다.

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 크롬
1. 방장이 ...추가 액션-보안 옵션-패스워드 추가 를 통해 회의실에 패스워드를 설정
2. 방장이 ...추가 액션-라이브 스트리밍 시작 을 통해 라이브 스트리밍 시작

[스크린샷 및 동영상 첨부]
아래의 알럿이 지속적으로 떠있으면서 라이브 스트리밍이 시작되지 않습니다.
![image](https://user-images.githubusercontent.com/85980653/126947862-8cfdd779-dcf7-46bb-9728-4220d09f6090.pn

[2021-07-26 07:34] jangyoojin opened #61 "[lately][func] Firefox에서 ^Audio setting, ^Video setting 버튼 비활성화 되어 있음"
[발생현상]
윈도우에서 Firefox 브라우저로 회의에 접속하면 ^Audio setting, ^Video setting 버튼이 클릭되지 않음

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 firefox
1. 회의 접속
2. ^Audio setting, ^Video setting 버튼 클릭 시도

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/126950503-d492e9d7-4e04-4745-baaf-dc96743ccbf9.png)

[2021-07-26 07:59] jangyoojin opened #62 "[lately][UI] Firefox 환경에서 설정-오디오 출력이 보이지 않음"
[발생현상]
Windows Firefox 환경에서 설정의 오디오 출력 부분이 보이지 않음

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 윈도우 firefox
1. 윈도우 firefox를 통해 회의에 접속 -> 추가 액션 -> 설정 -> 오디오 출력 선택 메뉴가 보이지 않음
2. 윈도우 firefox를 통해 lately.vmeeting.kr에 접속 -> 설정 -> 오디오 출력 선택 메뉴가 보이지 않음

[스크린샷 및 동영상 첨부]
firefox
![image](https://user-images.githubusercontent.com/74976893/126954047-d82fac70-ae08-44e8-8a74-6c1cb9c36cb2.png)
chrome
![image](https://use

[2021-07-26 08:52] dmsgk724 opened #63 "[lately][func] android에서 카메라 액세스가 되지 않는 오류"
[발생현상]
카메라에 액세스할 수 없다고 뜬다.
기기 의 상태 표시줄에서는 CHROME 사이트에서 카메라와 마이크를 사용중이라고 표시하고 있다.

[발생일자]
2021-07-22,2021-07-26

[재현경로]
- 발생 환경 : android chrome, android firfox
1. 입장 시화면이 멈춤
2. 화면이 멈추고 몇초 후 카메라에 액세스 할 수 없습니다라는 알림이 뜸

[스크린샷 또는 동영상]

https://user-images.githubusercontent.com/85989698/126961754-628e1f89-d53b-451f-a86c-607e387a8c94.mp4

[2021-07-26 08:53] oomuns opened #64 "[lately][func] 윈도우 Chrome 에서 화면 공유 시 배경이 사라지는 현상"
[발생현상]
화면 공유 시 카메라 배경 설정이 사라지는 현상

[발생일자]
2020-07-26
[재현경로]
- 발생 환경 :  윈도우 Chrome
1.  카메라 배경 설정
2. 화면 공유 시 배경이 사라짐
3.

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/86105163/126961787-85cf6b1b-96f0-47d1-8f4c-79052dc96783.png)
화면 공유 전 정상적으로 배경 작동

![image](https://user-images.githubusercontent.com/86105163/126961825-9af94865-7494-40b6-9b71-25bd4b858e2d.png)
화면 공유 후 배경이 사라짐

[2021-07-26 08:56] SangY00n opened #65 "[lately][func] 로비 모드 활성화 시 방장 권한을 가진 참여자의 접속자 통계 이름이 not_found 로 표시되는 현상"
[발생현상]
회의 참여자 중 방장 권한을 가지고 있는 참여자가 로비 모드를 활성화할 경우, 방장 권한을 가지고 있는 모든 참여자들의 접속자 통계 이름이 'not_found' 로 표시됩니다.

[발생일자]
2021.07.26

[재현경로]
- 발생 환경 : 모든 브라우저
1. 방장이 추가 액션(...) - 보안 옵션 - 로비 활성화 를 통하여 로비 모드를 활성화
2. 추가 액션(...) - 접속자 통계 에서 참여자들의 이름 확인

[스크린샷 및 동영상 첨부]

tester1, tester2 : 방장 권한을 가지고 있는 참여자 (로그인한 참여자라서 방장 권한 획득)
tester3 : 방장 권한을 부여받은 참여자 (tester1이 '방장 위임'을 통하여 tester3에게 방장 권한 부여)
tester4 : 방장

[2021-07-26 08:57] dmsgk724 opened #66 "[lately][func] 다른 어플 사용으로 인해 일시적으로 연결이 중단되면 방장이 사라지는 문제"
[발생현상]
안드로이드에서 다른 어플을 사용하여 일시적으로 연결이 중단되면 방장이 사라지는 문제가 발생한다. 따라서 로비모드를 활성화하였을 때, 비밀번호를 기억하지 못할 시 다른 참여자의 허락을 받아야하는데 방장이 없기에 허가권한이 있는 사람이 없다. 따라서 방장은 다시 방에 들어갈 수 없다.

[발생일자]
2021-07-26

[재현경로]
- 발생 환경 :
1.  로비모드 활성화
2. 다른 어플 사용 후 일시적으로 방장의 연결 중단 시 방장이 사라짐
3.  재입장 시 ask join을 허가할 사람이 없음.
4. 재입장 불가능

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85989698/126962331-51b37369-af4e-4

[2021-07-26 11:37] dmsgk724 opened #67 "[lately][func] 타일뷰 모드에서 참가자의 ...버튼을 클릭할 때 메뉴창이 일시적으로 나타났다가 사라지는 문제"
[발생현상]
타일뷰 모드에서 참가자의 ...버튼을 클릭하면 일시적으로 메뉴창만 뜨고 클릭할 수 있는 방법이 없다.

[발생일자]
2021-07-22
[재현경로]
- 발생 환경 : android chrome, android opera
1. 타일뷰 모드에서 각각의 참가자에게 내보내기나 방장 위임, 마이크 카메라 on/off를 하기 위해  프로필 우측 상단에 있는...버튼을 클릭한다.
2. ...버튼을 누를 시 나타나는 메뉴 창에서 원하는 항목을 클릭하려 한다.
3. 메뉴창이 사라진다.

[스크린샷 또는 동영상]

https://user-images.githubusercontent.com/85989698/126982731-81e25845-dcf4-4360-bedf-c4ec0bd9ea30.mp4

[2021-07-26 11:43] dmsgk724 opened #68 "[lately][func] 파이어폭스 웹 브라우저에서 녹화를 하면 시간이 지난 후에 자동으로 녹화가 종료됨"
[발생현상]
파이어 폭스 브라우저에서 녹화를 하면 시간이 지난 후에 자동으로 녹화가 종료된다.

[발생일자]
2021-07-26
[재현경로]
- 발생 환경 : android firfox
1. 기타 설정- 녹화 시작
2. 녹화 시작을 누를 시 녹화가 시작된다는 메시지가 뜨면서 화면 상단에 rec라는 빨간색 버튼이 생기고 녹화가 된다.
3. 시간이 지나고 자동으로 녹화가 종료 되며 메일이 전송된다.
4. recording failed to start라는 알림이 온다.
5. 전송된 메일에는 종료되기 직전까지의 영상이 나온다.

[스크린샷 또는 동영상]

![image](https://user-images.githubusercontent.com/85989698/126983380-b60634ce-c453-4b73-b

[2021-07-26 12:59] tu-nv commented on #68
@theun0524 do we also support android firefox?

[2021-07-27 01:21] sajan-dpnm commented on #21
채팅창 -> 참여자 더보기 -> '사용자 차단' 문구를 '내보내기'로 변경했습니다!

Code changes pushed to the remote branch `v2.0.0`

Commit hash:  `72632d0f4a6988cce23de9a22d7a8680a1d805fb`

Check for live-implementation at `https://141.223.82.233:8443/`

![kickoutTextChange](https://user-images.githubusercontent.com/72065079/127079577-9fe2e45a-ccfb-40c7-8dcd-b7c01ddb8e2a.gif)

[2021-07-27 01:44] jangyoojin opened #69 "[lately][UI] 로비 기능 사용 시 비밀번호 입력 버튼 삭제 요청"
[발생현상]
'추가 액션 -> 보안 옵션 -> 로비 활성화' 를 할 경우, 아래 사진과 같이 [회의 비밀번호 입력] 버튼도 함께 보임. 비밀번호는 사용하지 않고 로비 기능만 쓸 경우 이 버튼은 사용자에게 혼란을 줄 수 있음. 비밀번호가 없을 때 [회의 비밀번호 입력] 버튼을 누르면 두번째 사진과 같이 비밀번호 입력 창이 떠서 혼란을 가중할 수 있음. 회의 비밀번호가 있을 때만 보이도록 수정하면 좋을 것 같음.

[발생일자]
2021.07.27

[재현경로]
- 발생 환경 : 윈도우 크롬, 엣지, 오페라, 웨일, 파이어폭스
1. 추가 액션 -> 보안 옵션 -> 로비 활성화
2. 다른 참가자가 회의에 참석할 때 해당 화면이 보임

[스크린샷 및 동영상 첨부]
![image](https://user-images.

[2021-07-27 03:49] oomuns commented on #39
네트워크 상태 표시 버튼도 마찬가지의 현상을 보입니다.

[2021-07-27 03:52] SangY00n opened #70 "[lately][func] 채팅 차단을 당할 경우 방장 권한을 잃는 현상"
[발생현상]
회의 참여자 중 여러 참여자가 방장 권한을 가지고 있을 때,
방장 권한을 가진 다른 참여자로부터 채팅 차단을 당한 참여자는 방장 권한을 잃는 현상이 발생합니다.

다시 채팅 허용을 하여도 방장 권한은 돌아오지 않습니다.

방장 권한을 가진 참여자에 대해 채팅 차단 또는 사용자 차단을 할 수 없도록 수정하거나
방장 권한을 가진 참여자를 채팅 차단하여도 채팅을 차단당한 참여자가 방장 권한을 잃지 않도록 수정하여야 합니다.

[발생일자]
2021.07.27

[재현경로]
- 발생 환경 : 모든 브라우저

Moderator1, Moderator2 : 방장 권한을 가진 참여자

1. Moderator2 가 채팅창에 채팅메시지 입력
2. Moderator1 이 해당 메시지의 더보기(...) - 채팅 차단

[2021-07-27 05:05] huijjj commented on #53
수정하여 lately에 반영했습니다

[2021-07-27 05:05] #53 closed

[2021-07-27 05:23] YoungRaeKimm opened #71 "[lately][UI] 뒤로가기로 메인 화면으로 이동하면 상단의 메뉴바가 없어지는 현상"
[발생현상]
특정 페이지로 이동했다가 뒤로가기로 메인 화면으로 다시 이동하면 상단의 메뉴바가 없어지는 현상입니다.

[발생일자]
2021-07-27

[재현경로]
- 발생 환경 : iPad firefox
1. 메인화면에서 다른 화면으로 전환
2. 뒤로가기
3. 상단의 메뉴가 없어짐을 확인할 수 있음

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/127100038-1fea9fe0-f867-48bd-a67a-99c11956b06d.MP4

[2021-07-27 05:24] SangY00n opened #72 "[lately][func] 네이버웨일 브라우저에서 키보드 단축키 사용 불가"
[발생현상]
WindosOS 내의 네이버웨일 브라우저에서 키보드 단축키 사용이 불가능합니다.

[발생일자]
2021.07.27

[재현경로]
- 발생 환경 : WindowOS 네이버웨일
1. 회의실 내에서 단축키 사용 시도

[2021-07-27 05:28] YoungRaeKimm opened #73 "[lately][UI] 회원탈퇴 alert 메세지 문구"
[발생현상]
회원탈퇴 alert 메세지가 올바르지 않게 뜨는 현상입니다.

[발생일자]
2021-07-27

[재현경로]
- 발생 환경 : 아이패드 firefox
1. 로그인
2. 계정설정
3. 회원탈퇴

[스크린샷 및 동영상 첨부]
![IMG_0404](https://user-images.githubusercontent.com/33543992/127100491-84ef69d2-d715-43b6-b2eb-0e7794870e98.PNG)
![IMG_0403](https://user-images.githubusercontent.com/33543992/127100505-cbc5b696-7399-4372-8780-48b21934231c.PNG)

[2021-07-27 05:43] YoungRaeKimm opened #74 "[lately][UI] 채팅 입력창 안보임 현상"
[발생현상]
채팅 입력 박스를 누르면 화면상에 키보드가 올라오면서 채팅 입력 박스가 보이지 않는 현상입니다.

[발생일자]
2021-07-27

[재현경로]
- 발생 환경 : 아이패드 firefox
1. 미팅룸으로 접속
2. 채팅 입력 박스를 누름
3.

[스크린샷 및 동영상 첨부]
https://user-images.githubusercontent.com/33543992/127101787-85ab02cb-0070-4c27-89d6-97ee099e8d9e.MP4

[2021-07-27 05:46] sajan-dpnm commented on #57
@SangY00n 참가자 목록 에서도 '채팅 차단' 이나 '채팅 허용' 옵션을 추가했습니다. 일단 https://141.223.82.233:8443에서 기능 원하는데로 실행 하고 있는지 아닌지 확인하기 바랍니다!

확인 후, 수정된 코드 v2.0.0 에 push 할 게요!

[2021-07-27 05:50] dmsgk724 commented on #39
android 모든 웹  브라우저에도 동일한 현상이 나타납니다.(동일한 issue로 보아 제가 작성한 issue를 close합니다)

[2021-07-27 05:52] dmsgk724 commented on #67
#39와 동일한 이슈로 보아close 합니다.

[2021-07-27 05:52] #67 closed

[2021-07-27 05:54] dmsgk724 commented on #68
+ android 네이버 웨일과, microsoft edge에서는 녹화시작이 안되면서 녹화되었다는 메일이 엄청 많이 발송됩니다. 막상 링크를 누르면 아무것도 뜨지 않습니다.

[2021-07-27 06:10] jungheekang opened #75 "[lately][UI]로비 모드에서 대기 중 회의종료 알럿 문구 변경 필요"
[발생현상]
로비모드에서 참여 대기 중 회의종료되면 참여자 화면의 회의 종료 알럿팝업 문구 변경 필요
"dialog.lobby room closed.   ->   호스트가 회의를 종료했습니다."

[발생일자]
2021-07-27

[재현경로]
- 발생 환경 : 모든 환경
1. 회의 생성 - 보안옵션 - 로비모드 활성화
2. 참여자가 해당 회의실 입장 - 미팅참여신청
3. 방장 회의 종료 시 참여자 화면 알럿 팝업 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/87403323/127104300-b4a8b3ec-39e1-4d49-8a20-36e8beb81cba.png)

[2021-07-27 06:14] dmsgk724 opened #76 "[lately][func]android 판서에서 hand기능 작동 오류"
[발생현상]
android 판서에서 hand기능이 작동하지 않는다.

[발생일자]
2021-07-27

[재현경로]
- 발생 환경 : android 모든 웹브라우저
1. 기타 설정- 판서 열기
2. hand기능으로 판서 내용을 움직여서 보이는 위치가 다르게 하려고 해도 기능이 작동하지 않는다.
3. hand기능을 한번 더 눌러서 나타나는 move는 작동한다.

[스크린샷 및 동영상 첨부]

[2021-07-27 06:17] dmsgk724 commented on #63
#30과 동일한 이슈로 보아 close합니다.

[2021-07-27 06:17] #63 closed

[2021-07-27 06:22] dmsgk724 commented on #30
android firefox에서도 동일한 현상이 나타납니다.

[2021-07-27 06:25] SangY00n commented on #55
윈도우 네이버웨일에서도 같은 현상이 나타나는 것을 확인하였습니다.

[2021-07-27 06:25] jungheekang commented on #64
네이버 웨일 브라우저는 하단 작은 본인영상 뷰 박스가 표출되지 않음

[2021-07-27 06:29] dmsgk724 commented on #54
opera브라우저에서는 상단에 LD라는 값이 계속 표시됩니다.
![image](https://user-images.githubusercontent.com/85989698/127106433-e8adc16f-1e6d-47e7-89de-d61cb06086fc.png)

[2021-07-27 06:38] SangY00n opened #77 "[lately][UI] 회원 탈퇴 버튼 클릭 시 탈퇴 확인 메시지 출력 오류"
[발생현상]
계정 설정에서 회원 탈퇴 버튼 클릭 시 탈퇴 확인 메시지가 정상적으로 출력 되지 않습니다.

'withdrawl.checkMsg' 와 'withdrawl.success' 로 출력됩니다.

[발생일자]
2021.07.27

[재현경로]
- 발생 환경 : 모든 브라우저
1. 계정 설정
2. 회원 탈퇴 버튼 클릭
3. [Warning!] 창 확인 버튼 클릭

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/85980653/127106947-31854e2f-02d8-4c80-9527-3d8ad94c666a.png)

![Animation_2021-07-27-15-34-59](https://user-images.githubuserc

[2021-07-27 06:45] jungheekang commented on #77
[lately][UI] 회원탈퇴 alert 메세지 문구 #73 동일이슈로 close 합니다.

[2021-07-27 06:45] #77 closed

[2021-07-27 07:41] jungheekang commented on #3
컨셉 확인 필요

[2021-07-27 08:08] sajan-dpnm commented on #70
@theun0524 실장님,

이렇게 코드 수정 할까요? 아니면, 실장님의 의견을 넣어 주세요!

[2021-07-27 08:44] dmsgk724 opened #78 "[lately][func]네이버 웨일에서 재입장 시 다른 참가자가 있으면 웹페이지가 알수 없는 이유로 종료됨"
[발생현상]
다른 앱 사용으로 인해 일시적으로 웹브라우저가 종료되었을 때, 네이버 웨일에 재접속하면 다른 참가자가 있을 시 웹페이지가 알수 없는 이유로 종료됨.

[발생일자]
2021-07-26
[재현경로]
- 발생 환경 : android 네이버 웨일
1. 다른 앱사용으로 일시적으로 웹 브라우저가 종료됨
2. 다시 웹 브라우저로 들어가 접속함
3. 다음 사진과 같이 웹 페이지를 표시할 수 없다는 알림이 뜸

[스크린샷 또는 동영상]
![image](https://user-images.githubusercontent.com/85989698/127124585-2a58f1e2-80f9-4d09-a014-03af7430262e.png)

[2021-07-27 15:12] theun0524 commented on #4
@tu-nv it is fixed. Some code is not merged in jitsi-meet/connection.js

[2021-07-28 01:01] theun0524 commented on #70
@sajan-dpnm 시나리오 결정한 후에 수정합시다.

[2021-07-28 01:03] sajan-dpnm commented on #70
네, 알겠습니다!

[2021-07-28 01:09] oomuns commented on #10
iPad, Opera 브라우저 G 메일에서도 동일한 현상이 일어납니다.

[2021-07-28 01:26] oomuns opened #79 "[lately][func] 품질 설정에서 Audio only 확인버튼을 누르기 전에 적용되는 현상"
[발생현상]
품질 설정에서 Audio Only를 클릭하였을 때 Done 을 누르기 전에 설정이 적용되는 현상
Audio Only를 클릭하고 Done이 아니라 x를 눌러 설정하지 않았을 때에도 Audio Only 설정이 적용된다.
이 때, 카메라가 꺼지고, 다른 사람의 비디오도 안보인다.

[발생일자]
2020-07-28

[재현경로]
- 발생 환경 : 윈도우 Chrome, iPad Opera, 네이버 웨일, Safari
1. 품질 설정에서 Audio Only를 클릭
2.
3.

[스크린샷 및 동영상 첨부]

[2021-07-28 01:53] oomuns opened #80 "[lately] 로비에서 참가 거절 당했을 때 종료되도록 요청"
[발생현상]
로비에서 참가 요청을 하고 거절당했을 시 회의 화면 처럼 나오는 것이 아니라
회의에서 강퇴당했을 시와 같이 vmeeting 홈페이지로 나가지는 것이 더 알맞아 보인다.

[발생일자]
2020-07-28
[재현경로]
- 발생 환경 : iPad, 윈도우 Chrome
1.
2.
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/86105163/127250890-cf28e52a-50f2-4c1e-80d0-d734d72852ea.png)
거절당했을 시 나가지지 않고 회의화면과 유사하게 나온다.

[2021-07-28 01:58] boonjo commented on #72
발생 환경 macOS 네이버 웨일에서도 똑같은 상황 발생합니다.

[2021-07-28 02:00] boonjo commented on #3
macOS 모든 브라우저에서도 동일 발생

[2021-07-28 02:09] jungheekang commented on #5
.io 에서는 배경선택 미리보기가 없어 스크롤 발생되지 않음
(andriod, iOS, windows, Mac  브라우저 동일)

[2021-07-28 02:18] oomuns commented on #43
화면의 방향이 전활될 때 판서할 수 있는 영역이 바뀌는 현상도 있습니다. (화면을 가로로 돌리고 다시 세로로 돌렸을 경우)

- 발생환경: iPad Opera, 네이버 웨일

Opera는 세로로 보는 화면에서 현상이 주로 일어나고
네이버 웨일은 가로로 보는 화면에서 현상이 주로 일어납니다.

![image](https://user-images.githubusercontent.com/86105163/127253115-c61bfcfe-6452-4ab8-8022-0daadebb238d.png)
처음 세로로 볼 때의 화면

![image](https://user-images.githubusercontent.com/86105163/127253138-d5e57969-33a1-4366-88d3-661da12ca688.p

[2021-07-28 02:37] boonjo commented on #1
비슷한 발생현상

YouTube 비디오 공유 기능을 통해 비디오를 공유하고, 해당 비디오를 배속으로 재생하면 비디오를 공유한 사람에게는 비디오와 음향 모두 배속되어 재생되지만 다른 사람들에게는 배속이 아닌 정상 속도로 재생됨

또한 YouTube 자막 재생시, 공유자한테만 보임

[발생일자]

2021-07-28

[재현경로]
- 발생 환경 : macOS 모든 브라우저

1. 위와 동일

[2021-07-28 02:49] jungheekang commented on #6
- macOS Chrome, Opera, safari 에서 발생되며, 한국어에서만 발생, 영어는 미발생

- Mac OS safari, 웨일, Firefox , windows, android 발생되지 않음

- .io 에서는 발생되지 않는 현상

[2021-07-28 03:04] boonjo commented on #34
macOS 모든 브라우저에서도 동일 현상 발생

[2021-07-28 03:05] oomuns commented on #6
한글을 친후 backspace 사용시 전에 보낸 글자도 나오는 현상 발생
iPad 모든 브라우저에서 발생

![KakaoTalk_20210728_120158254](https://user-images.githubusercontent.com/86105163/127257117-86fb46ed-b5f5-4061-97f5-e7822d81f2db.gif)

[2021-07-28 03:15] jungheekang commented on #8
[lately][func] 메인화면 배경 선택 기능에서의 오류 #5 동일 이슈로 close하겠습니다.

[2021-07-28 03:15] #8 closed

[2021-07-28 03:16] boonjo commented on #46
macOS 모든 브라우저에서도 동일 현상 발생

[2021-07-28 03:17] boonjo commented on #47
macOS 모든 브라우저에서 동일현상 발생

[2021-07-28 03:20] jungheekang commented on #9
.io 에서는 발생되지 않음

[2021-07-28 03:26] sjhan22 commented on #54
closed된 #12 오류와 동일한 오류인것 같습니다.

[2021-07-28 04:50] #29 closed

[2021-07-28 05:40] SangY00n opened #81 "[lately][func] 방장이 녹화 또는 라이브 스트리밍을 시작할 경우, '모두 나와 같은 설정 상태로' 기능이 작동하는 현상"
[발생현상]
방장이 녹화 또는 라이브 스트리밍을 시작했을 때, '모두 나와 같은 설정 상태로' 기능이 비활성화 되어 있어도 해당 기능이 활성화되어 있는 것과 동일하게 동작합니다. (즉, 다른 회의 참가자들의 설정 상태가 방장을 따라갑니다.)

_방장이 타일뷰 토글 on/off -> 다른 참가자들도 타일뷰 토글 on/off
방장이 판서 열기/닫기 -> 다른 참가자들도 판서 열기/닫기
방장이 특정 참가자의 카메라 클릭하여 선택 -> 다른 참가자들도 해당 참가자의 카메라 선택됨_

해당 현상은 녹화 또는 라이브 스트리밍 시에 방장에게 보이는 화면 그대로 녹화 또는 송출되도록 하기 위한 것으로 보이지만, 다른 참가자들의 화면들까지 방장에게 보이는 화면 그대로 보이는 것은 방장이 의도한 것이 아니므로 수정하여야 합니

[2021-07-28 05:41] sjhan22 commented on #13
아이폰 모든 브라우저에서도 똑같이 발생하는 현상이나 스마트폰 가로모드를 사용하면 겹치지 않고 볼 수 있습니다. 세로모드를 사용할 경우에 공간이 좁아서 나타나는 현상같습니다.

[2021-07-28 06:50] jungheekang commented on #15
모든 os, 브라우저 동일, 우선순위 낮음

[2021-07-28 07:43] huijjj commented on #15
@jungheekang
안녕하세요, 과장님

어떻게 수정하는 것이 좋을지 잘 모르겠어서 댓글 남깁니다.

버튼을 클릭하고 나오는 문구를 계속 유지하도록 수정하면 될까요?
혹은, 현재 6초로 설정되어 있는 시간을 10초나 그 이상으로 늘리는 것이 좋을까요?

[2021-07-28 09:05] sajan-dpnm commented on #70
If this functionality is needed, code changes have been pushed to a separate remote branch `v2-mod-chat-config` in `jitsi-meet` and `lib-jitsi-meet` which requires moderators to be stripped of their moderator rights before they can be disabled for chat. hence, also added feature of revoking moderator rights of a participant. will discuss about this scenario on Friday's meeting

[2021-07-29 04:42] YoungRaeKimm commented on #71
다시 해보니 문제 발생 하지 않았습니다.

[2021-07-29 04:42] #71 closed

[2021-07-29 06:22] YoungRaeKimm opened #82 "[lately][func] Youtube 비디오 공유 안되는 현상"
[발생현상]
youtube 비디오 공유가 안되는 현상입니다. 유튜브 링크를 삽입하면 '동영상을 볼 수 없습니다.'라고 나옵니다.

[발생일자]
2021-07-29

[재현경로]
- 발생 환경 : 아이폰 11 테스트 어플
1. ... 버튼 누르기
2. 추가옵션 누르기
3.  YouTube 비디오 시작
4.  링크 삽입

[스크린샷 및 동영상 첨부]
![IMG_8241](https://user-images.githubusercontent.com/33543992/127441811-2d44c485-e132-4278-a1f8-3288496136b8.PNG)

[2021-07-29 06:25] YoungRaeKimm opened #83 "[lately][func] 판서 닫기를 다시 한번 눌러야하는 현상"
[발생현상]
판서를 사용하고 '<-' 버튼을 눌러 뒤로 가고, 다시 '판서 닫기' 버튼을 눌러야 하는 현상

[발생일자]
2021-07-29

[재현경로]
- 발생 환경 : 아이폰 11 어플
1.  판서 사용 후 '<-' 버튼 누르기
2. ... 버튼 누르고 추가액션 버튼 누르기
3.  판서가 닫혀있음에도 '판서 닫기' 버튼을 눌러야 하는 현상 발견 가능

[스크린샷 및 동영상 첨부]
![IMG_7657FAD85E40-1](https://user-images.githubusercontent.com/33543992/127442211-6ed71e75-b06f-466f-b45d-42fe81cb0eb5.jpeg)

[2021-07-29 06:26] jungheekang opened #84 "[lately][UI] 판서아이콘과 vmeeting 상단이미지와 곂침"
[발생현상]
판서열기하면 판서아이콘과 vmeeting 상단이미지와 곂쳐보여지는 현상

[발생일자]
2021-07-21

[재현경로]
- 발생 환경 : 전체 환경
1. 임의 회의생성
2. …(추가액션) - 판서열기

[스크린샷 및 동영상 첨부]
<img width="899" alt="스크린샷 2021-07-29 오후 3 25 39" src="https://user-images.githubusercontent.com/87403323/127442365-af1b5237-9acf-42ec-800e-21881b3b301d.png">

[2021-07-29 06:32] SangY00n opened #85 "[lately][UI] 프로필 이미지가 보이지 않는 현상"
[발생현상]
자신과 다른 회의 참가자들의 프로필 이미지가 보이지 않고 기본 프로필(참가자 이름의 첫 번째 글자)이 보입니다.

[발생일자]
2021.07.29

[재현경로]
- 발생 환경 : 아이폰 8+, 아이패드 7세대 테스트 어플
1. vmeeting 메인 홈페이지 - 계정 설정 에서 프로필 이미지 설정
2. 회의 참가
3. 아이폰, 아이패드 상에서 프로필 이미지 확인

[스크린샷 및 동영상 첨부]
PC 크롬 브라우저에서 보이는 참가자 프로필
![image](https://user-images.githubusercontent.com/85980653/127443235-5dabd245-592c-4dee-9990-2c5d21fac638.png)

아이폰에서 보이는 참가자 프로필
![image](https://

[2021-07-29 06:35] boonjo opened #86 "[lately][UI] 판서 열기 했을시, 공유 문서라고 뜸"
[발생현상]

영어, 한국어 둘다 동일한 이슈 (Open Whiteboard --> Shared Document)

![wbo](https://user-images.githubusercontent.com/61446495/127442424-efc5ba4c-fa71-4eed-8da7-ff6338fe6bbb.PNG)

[발생일자]

2021-07-29

[재현경로]
- 발생 환경 : iOS App
1. 추가 액션
2. 판서 열기

[2021-07-29 06:39] jangyoojin opened #87 "[lately][func] 녹화가 시작되지 않는 현상"
[발생현상]
안드로이드 앱 환경에서 녹화가 시작되지 않습니다. 아래와 같은 환경에서 확인 버튼이 눌리지 않는 것 같습니다.

[발생일자]
2021.07.29

[재현경로]
- 발생 환경 : 안드로이드 태블릿 앱
1. 방장이 안드로이드 태블릿 앱으로 접속하고 녹화 시작 버튼 누르기
2. 확인 버튼 누르기 -> 확인 버튼이 작동하지 않음

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/127443810-6639115c-7e80-4713-a226-b239f781eed0.png)

[2021-07-29 06:52] boonjo commented on #82
추가로 브라우저에서 YouTube 공유시,

![IMG_A56873DE9DD7-1](https://user-images.githubusercontent.com/61446495/127445391-70b0d789-6d31-4dfb-8a37-65bc16c23f66.jpeg)

이런 화면이 어플속 화면에서 뜬다.

[2021-07-29 06:54] SangY00n opened #88 "[lately][UI] 방장이 로비에 있는 참여자 회의 참여 허용 시 다른 참여자들에게 잘못된 문구가 출력되는 현상"
[발생현상]
방장이 로비에 있는 참여자의 회의 참여를 허용하였을 때 회의에 참여하고 있던 다른 참여자들에게 잘못된 문구가 출력되는 현상이 발견됩니다.

예를 들어 방장 권한을 가지고 있는 '방장1'이 로비에 있던 '참여자1'의 회의 참여를 허용하였을 때,

다른 참여자들에게 "참여자1님이 방장1님의 참여를 허용했습니다." 라는 문구가 알럿됩니다.

[발생일자]
2021.07.29

[재현경로]
- 발생 환경 : 아이폰 8+, 아이패드 7세대 테스트 어플 / 모든 브라우저
1. 방장이 추가 액션(...) - 보안 옵션을 통해 로비 모드 활성화
2. 새로운 참여자가 미팅 참여 신청
3. 방장이 수락
4. 기존에 회의실에 있던 다른 참여자가 '참여 허용' 알럿 문구 확인

[스크린샷 및 동영상 첨부]
아래는 '아

[2021-07-29 07:16] jangyoojin opened #89 "[lately][func] 추가 액션의 모두 음소거, 모든 카메라 끄기가 동작하지 않음"
[발생현상]
갤럭시탭 S7, 갤럭시S10의 앱으로 접속하고 윈도우 크롬 웹으로 접속했을 때,
갤럭시탭S7이 방장일 때와 pc가 방장일 때 둘 다 [모두 음소거] [모든 카메라 끄기]가 동작하지 않음.
앱 유저 사이에서 음소거 또는 카메라를 끄는 것과 앱 유저와 pc 유저 사이에서 서로의 음소거 또는 카메라를 끄는 것이 작동하지 않는 것으로 보임

[발생일자]
2021.07.29

[재현경로]
- 발생 환경 : 안드로이드 앱(사용 기기: 갤럭시탭S7, 갤럭시S10)
1. 갤럭시탭 S7, 갤럭시S10의 앱으로 접속하고 윈도우 크롬 웹으로 접속
2. 갤럭시탭 S7이 방장인 상황에서 추가 액션 - [모두 음소거] 또는 [모든 카메라 끄기] 클릭
3. 아무런 변화가 없음을 알 수 있음
4. 동일한 환경에서 pc가 방

[2021-07-29 07:28] dmsgk724 opened #90 "[lately][UI] 두명의 방장이 있을 시 새로운 모바일 기기에서 접속 안된다"
[발생현상]
같은 이메일을 사용하는 유저가 각각 모바일 앱과 웹 브라우저로 접속할 시 웹 브라우저에서 접속자 통계를 볼 시 방장이 2명인 상태가 된다, 이 때 새로운 기기로 방에 접속 할 시 참가할 수 없음

[발생일자]
2021-07-29

[재현경로]
- 발생 환경 :
1. 같은 이메일로 로그인한 유저가 동시에 방에 접속(윈도우 크롬, ios)
2. Android 모바일 앱으로 동일한 방에 접속 시도
3. 호스트를 기다리라는 알림이 뜬 후 연결이 끊어졌다는 알림 뜸

[스크린샷 및 동영상 첨부]
![Screenshot_20210729-162508_Vmeeting](https://user-images.githubusercontent.com/85989698/127450281-bba1dc19-0194-4060

[2021-07-29 08:28] sajan-dpnm commented on #6
@jungheekang https://141.223.82.233:8443 에서 코드 수정 했습니다. 문제가 해결 되는지 한번 확인 하기 바랍니다

[2021-07-30 01:27] jungheekang commented on #88
방장 권한을 가지고 있는 '방장1'이 로비에 있던 '참여자1'의 회의 참여를 허용하였을 때,
다른 참여자들에게 "참여자1님이 방장1님의 참여를 허용했습니다." 라는 문구가 표시됩니다.
-> "방장1"님이 "참여자1"님의 참여를 허용했습니다.  수정 필요("승인자"와 과 "승인요청자"가 문구 위치가 바뀜 )

[2021-07-30 01:43] jungheekang commented on #6
@sajan-dpnm 해당 URL에 접근이 되지 않습니다. 확인부탁드립니다.

[2021-07-30 01:45] theun0524 commented on #90
재현 안됨. 상세한 재현 경로 설명 부탁합니다.

[2021-07-30 02:02] sajan-dpnm commented on #6
아, 미안합니다. 포스텍 교내에서 만 접속 가능하니까, 다른 머신에서 운영하고 알려 드릴게요!

[2021-07-30 02:44] jangyoojin opened #91 "[lately][UI] 앱에서 채팅 개수 알림 기능 추가 요청"
[발생현상]
안드로이드 앱에서는 pc와 달리 채팅이 와도 몇 개의 채팅이 왔는지 원 모양의 숫자를 통해 알려주지 않음. 아래 사진과 같이 앱에서도 받은 채팅 개수를 알려주도록 수정 요청함.

[발생일자]
2021.07.30

[재현경로]
- 발생 환경 : 안드로이드 앱
1. 앱으로 회의에 두 명 이상 접속
2. 한 사용자가 채팅을 보냄
3. 다른 사용자의 화면에서 채팅이 몇 개 왔는지 보여주지 않음을 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/127591678-f04833c0-26e4-4e54-a5d6-ed08d7423497.png)
![image](https://user-images.githubusercon

[2021-07-30 02:48] jangyoojin commented on #89
pc가 방장일 때, 참가자-> ...더보기-> 카메라 끄기 또는 다른 사람 모두 음소거 기능도 앱의 카메라 또는 마이크를 제어하지 못합니다

[2021-07-30 04:10] theun0524 commented on #65
@tu-nv I checked this. This issue caused by mod_participant_log:on_broadcast_presence. Please check this issue.

[2021-07-30 04:12] theun0524 commented on #88
@tu-nv I think this issue caused by mod_muc_lobby_rooms.erl. Please check this issue.

[2021-07-30 04:14] theun0524 commented on #55
계정을 만들면 자동으로 이메일 인증 메일이 발송됩니다.
그런데 인증 메일 보내기 버튼을 또 누르기 때문에 인증 메일이 다시 발송된 겁니다.
이슈가 아닙니다.

[2021-07-30 04:14] #55 closed

[2021-07-30 04:19] dmsgk724 commented on #90
같은 방법으로 다른 날짜에 재현 하였을 때 나타나지 않았고 여러 번 더 시도한 결과 재현되지 않아 이슈를 close합니다.

[2021-07-30 04:19] #90 closed, assigned to nobody

[2021-07-30 04:31] huijjj commented on #73
수정하여 lately에 반영했습니다

[2021-07-30 04:31] #73 closed

[2021-07-30 04:32] huijjj commented on #15
다른 버튼을 누르기 전까지는 문구가 유지되도록 수정하여 lately에 반영했습니다

[2021-07-30 04:32] #15 closed

[2021-07-30 04:38] jungheekang commented on #23
MAC, Windows, Android, iOS 동일 발생.
로그인 할 수 있는 버튼으로 생각하는것으로 보여집니다.
회의실의 설정에서는 로그인 처리화면 팝업 or 로그인 버튼 미표시 또는 비활성화 필요

[로그인 X, 메인화면 설정 팝업]
![스크린샷 2021-07-30 오후 1 36 07](https://user-images.githubusercontent.com/87403323/127600870-3478c507-1f7b-402b-a457-13c9e1d046eb.png)

[로그인 X, 회의실의 설정 팝업]
![스크린샷 2021-07-30 오후 1 38 11](https://user-images.githubusercontent.com/87403323/127601025-dfe2a

[2021-07-30 05:11] jungheekang commented on #54
[lately][UI] 품질 설정 후 회의화면 상단 품질 'AUD'로만 유지되는 현상 #11 동일이슈로 close 합니다.

[2021-07-30 05:11] #54 closed

[2021-07-30 05:12] jungheekang commented on #11
안드로이드 - 모든 웹 브라우저에도 동일 발생

[2021-07-30 05:48] boonjo commented on #38
추가적으로 똑같은 발생환경에서 한국어로 설정을 바꿨을 경우,

<img width="182" alt="Screen Shot 2021-07-30 at 2 38 22 PM" src="https://user-images.githubusercontent.com/61446495/127606731-c85dbaa0-cfbd-41f6-8ee5-d918fef6975a.png">

이 두 문구 역시 정렬이 다름

[2021-07-30 06:43] sajan-dpnm commented on #6
@jungheekang https://vmeeting1.postech.ac.kr:8443 에서 한번 확인 해 보세요!

[2021-07-30 06:48] sjhan22 opened #92 "[lately][func] 아이폰 앱(방장), window chrome(참가자)가 서로의 비디오가 보이지 않는 현상"
[발생현상]
아이폰 앱(방장)과 window chrome(참가자)가 있는 방에서 서로의 비디오가 보이지 않는 현상

[발생일자]
2021.07.30

[재현경로]
- 발생 환경 : 아이폰 앱(방장) , window chrome(참가자)
1. 회의방 접속 - 비디오 on
2.
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/127612446-9d0498d3-5350-49b2-ad82-78a63e9ad690.png)

[2021-07-30 06:53] huijjj commented on #88
방금 tu가 말해줬는데 이게 영어는 participant is allowed by moderator 식으로 수동태로 쓰였으나, 한글은 능동태로 작성되어 있어 순서가 뒤 바낀 것 같습니다. 확인해보고 고치겠습니다.

[2021-07-30 06:55] tu-nv commented on #4
as @theun0524 fixed it, I will close the issue

[2021-07-30 06:55] #4 closed

[2021-07-30 06:55] tu-nv commented on #88
thank you @huijjj

[2021-07-30 06:56] #92 closed, assigned to nobody

[2021-07-30 07:07] sjhan22 opened #93 "[lately][func] 참가자의 썸네일의 색감이 다르게 보이는 현상"
[발생현상]
IOS APP(방장), Window Chrome(참가자) 환경에서 참가자의 썸네일 색감이 방장의 화면에서 초록빛으로 보이는 현상

[발생일자]
2021.07.30

[재현경로]
- 발생 환경 : IOS APP(방장), Window Chrome(참가자) 환경
1. 회의방 접속- 비디오 on
2. 메인화면에서의 색감과 썸네일에서의 비디오 색감이 다름 ( 메인 화면이 정상, 썸네일에서의 비디오 색감은 초록색)
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/127614529-7d17dd56-eccd-4ae5-908f-b613a1513d9a.png)

[2021-07-30 07:11] tu-nv commented on #88
fixed by @huijjj

[2021-07-30 07:11] #88 closed, assigned to tu-nv

[2021-07-30 07:12] sjhan22 commented on #91
IOS APP 환경에서도 동일한 enhancement 등록합니다.

[2021-07-30 07:16] sjhan22 opened #94 "[lately][func] APP 환경에서 채팅창에서 @ 기능 사용 불가능한 현상"
[발생현상]
APP 환경에서 채팅창에 @를 입력하면 아무것도 뜨지 않는 현상 (원래는 개인 메세지를 보낼 참가자를 선택할 수 있도록 참가자의 명단이 뜨는데 IOS APP에서는 뜨지 않음)

[발생일자]
2021.07.30

[재현경로]
- 발생 환경 : IOS, android APP
1.  채팅창 열기 - @ 입력 (아무것도 뜨지 않음)

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/127615864-b4d0d816-a8f8-467b-a403-f8431d2b77d8.png)

[2021-07-30 07:42] jungheekang commented on #76
[lately][UI] 판서의 hand 기능 작동 안되는 현상 #22 동일이슈로 close합니다.

[2021-07-30 07:42] #76 closed

[2021-07-30 08:34] oomuns commented on #41
vmeeting.io 에도 동일하게 오타가 존재합니다

[2021-07-30 09:05] jungheekang commented on #44
보안설정에서 E2EE 미표출 - 주간회의 결정

[2021-07-30 09:12] jungheekang commented on #17
safari 환경에선 배경선택 메뉴 삭제 - 주간회의 내용

[2021-07-30 10:36] theun0524 commented on #84
수정됨. lately에서 확인후 close 부탁합니다.

[2021-07-30 10:36] theun0524 commented on #75
수정됨. lately 에서 확인후 close 부탁합니다.

[2021-07-30 10:37] theun0524 commented on #65
@tu-nv It fixed. The hook function in mod_participant_log.erl should run only for XMPP_MUC_DOMAIN.
수정됨. lately 에서 확인후 close 부탁합니다.

[2021-07-30 12:07] theun0524 commented on #18
수정됨. lately 에서 확인하고 close 부탁합니다.

[2021-07-30 12:07] theun0524 commented on #17
수정됨. lately 에서 확인하고 close 부탁합니다.

[2021-07-30 16:19] theun0524 commented on #5
수정 완료. lately 에서 확인하고 close 부탁합니다.

[2021-07-30 16:29] theun0524 commented on #44
E2EE 기능 비활성화. lately 에서 확인 후 close 부탁 합니다.

[2021-07-31 03:06] tu-nv commented on #9
fixed by enabling mod_jibri_pass

[2021-07-31 03:06] #9 closed

[2021-07-31 03:07] tu-nv commented on #65
As Taehwan fixed it, I will close the issue

[2021-07-31 03:07] #65 closed

[2021-07-31 09:27] jungheekang opened #95 "[lately][func]app에서 브라우저에서 참여한 참여자 화면이 가운데부분만 확대되어 표출됨"
[발생현상]
app에서 브라우저에서 참여한 참여자 화면이 가운데부분만 확대되어 표출됨
썸네일화면에서는 브라우저의 80~90%는 표시되며, 브라우저 참여자 선택하여 큰화면에서 40%정도만 보여짐

안드로이드, iOS web(브라우저)에서는 정상적으로 표출
[발생일자]
2021-07-31

[재현경로]
- 발생 환경 : android, iOS 동일 발생
1. app에서 회의실 생성
2. PC 브라우저에서 회의에 참여
3. 브라우저에서 참여한 참여자 선택하여 큰화면으로 볼때

[스크린샷 및 동영상 첨부]
- 휴대기기의 app에서 접속했을때 브라우저 접속자 화면 (비정상 화면)

![KakaoTalk_Photo_2021-07-31-18-25-18 002](https://user-images.githubusercon

[2021-07-31 09:48] jungheekang commented on #87
태블릿에서만 '녹화시작' 메뉴가 표출되고 있습니다.

[2021-07-31 10:16] jungheekang opened #96 "[lately][func] app에서 참가자 이름이 표출 되지 않음"
[발생현상]
app에서 참여자들 영상 하단에 참가자 이름이 표출 되지 않아 누가 누구인지 파악되지 않음

(카메라가 꺼진 참가자만 이름 표시됨)
(휴대기기 web에서는 참가자 모두 잘 표시됨)

[발생일자]
2021-07-31

[재현경로]
- 발생 환경 : android, iOS app
1. android app에서 회의실 생성
2. iOS app, android app에서 참여 시 참여자영상 확인

[스크린샷 및 동영상 첨부]
![KakaoTalk_Photo_2021-07-31-19-14-58](https://user-images.githubusercontent.com/87403323/127736744-37d0f375-345d-4e49-83e3-0a85b0c0e8ab.jpeg)

[2021-07-31 13:52] tu-nv commented on #60
@SangY00n as #9 is fixed, can you verify whether this issue is also fixed?

[2021-08-01 06:22] #44 closed

[2021-08-01 14:44] jungheekang commented on #17
safari 브라우저에서 배경설정 메뉴 미표출 확인하였습니다.

[2021-08-01 14:44] #17 closed

[2021-08-01 14:52] jungheekang commented on #6
@sajan-dpnm 해당 URL에서 정상동작 확인하였습니다. 감사합니다.

[2021-08-01 14:56] #6 closed

[2021-08-01 15:02] SangY00n commented on #60
This issue has also been fixed. I will close this.

[2021-08-01 15:02] #60 closed

[2021-08-01 15:13] SangY00n commented on #57
I have verified that it works as intended. Should I close this issue?

확인된 내용은 아래와 같습니다.
- 참가자 목록 - 더보기 에 '채팅 차단', '채팅 허용' 옵션 추가됨.
- 채팅창 - 참가자 더보기의 ‘사용자 차단’ 버튼의 이름이 ‘내보내기’ 로 수정됨.

[2021-08-01 15:24] jungheekang commented on #68
@dmsgk724 재현이 안되는데 재 확인 부탁드립니다.

[2021-08-01 16:10] jungheekang commented on #25
재현경로 업데이트 했습니다.
미리보기 멈춤현상일때 다른 배경 선택시 정상동작 되지만, 현상태에서 회의 시작시 카메라 멈춤현상 발생되어있습니다.

[2021-08-01 16:15] jungheekang commented on #57
이슈 해결 확인했습니다. close 하겠습니다.

[2021-08-01 16:15] #57 closed

[2021-08-01 16:21] jungheekang commented on #75
문구 변경 확인되었습니다. close 합니다.

[2021-08-01 16:21] #75 closed

[2021-08-01 16:37] jungheekang commented on #47
21-08-01 확인 시 현 이슈 동일현상 발생

방을 생성한 방장이 "모두에 대해 회의 종료"는 정상 동작
방장이 위임받은 방장이 "모두에 대해 회의 종료" 시 동작되지 않음.

[2021-08-01 16:43] jungheekang commented on #78
@dmsgk724 재현되지 않습니다. 재확인 후 재현되지 않으면 close 부탁드립니다.

[2021-08-01 17:05] jungheekang commented on #52
@ktm0526 현상 재현이 안되는데 확인 부탁드립니다.

[2021-08-01 17:34] jungheekang commented on #82
재생동작 수정이 어려울 경우
app에선 youtube공유 메뉴 비활성화,
브라우저에서 유튜브공유 시 app에 출력되는 문구 수정필요

[2021-08-02 00:02] dmsgk724 commented on #5
https://user-images.githubusercontent.com/85989698/127789284-93bc613a-d452-4ad3-a392-d675ff0e2edf.mp4

이런식으로 ui가 나타나는데 스크롤은 되지만, ui가 미완성된 느낌이 있는 것 같습니다

[2021-08-02 00:53] jungheekang commented on #84
UI 정상 동작 확인했습니다.

[2021-08-02 00:53] #84 closed, assigned to nobody

[2021-08-02 01:22] #18 closed

[2021-08-02 01:44] theun0524 commented on #5
@dmsgk724 수정했는데, css 캐쉬 문제가 있는지 다시 테스트 부탁합니다.

[2021-08-02 01:56] #5 closed

[2021-08-02 01:57] dmsgk724 commented on #5
Fix된걸 확인하여 이슈를 close합니다

[2021-08-02 03:18] theun0524 commented on #70
@jungheekang 시나리오 결정 후에 수정하겠습니다. 현 상태로 진행 부탁합니다.

[2021-08-02 04:57] jungheekang commented on #70
@theun0524 2.0 수정 목록 에서 제외하겠습니다.

[2021-08-02 06:23] dmsgk724 commented on #68
재현 되지 않아 issue를 close합니다

[2021-08-02 06:23] #68 closed

[2021-08-02 08:03] SangY00n opened #97 "[lately][func] 회의 이름에 한국어가 포함된 경우, '모두에 대해 회의 종료' 비정상적으로 작동"
[발생현상]
새로운 회의 생성 시 회의 이름을 한국어가 포함된 이름으로 설정할 경우, 방장이 '모두에 대해 회의 종료' 기능을 사용하였을 때 방장 혼자 회의실에서 나가집니다.

PC 사용자가 방장일 때, 2.0 ver 어플 사용자가 방장일 때 모두 발생하는 현상입니다.

[발생일자]
2021.08.02

[재현경로]
- 발생 환경 : 윈도우 모든 브라우저, iOS 어플, 안드로이드 어플에서 확인 완료
1. 한국어로 회의 이름을 설정하여 회의실 생성
2. 다른 참여자 해당 회의실 입장
3. 방장이 '모두에 대해 회의 종료' 시도
4. 방장만 나가지는 현상 발생

[스크린샷 및 동영상 첨부]
회의 생성 시 회의 이름에 한국어를 포함
![image](https://user-images.githubuserconte

[2021-08-02 08:14] jangyoojin opened #98 "[lately][func] 앱에서 캡차 기능 동작 안함"
[발생현상]
휴대폰으로 안드로이드 앱을 실행할 경우, 로그인 5회 이상 잘못 입력해도 캡차 동작하지 않음. 아래 사진과 같이 5회 이상 연속으로 잘못된 비밀번호를 입력해도 캡차가 보이지 않음. 태블릿에서는 정상 동작 함.

[발생일자]
2021.08.02

[재현경로]
- 발생 환경 : 휴대폰 안드로이드 앱
1. 휴대폰으로 브이미팅 앱 접속
2. 새로운 회의 생성 -> 팝업 창의 확인 클릭
3. 로그인 페이지에서 5회 이상 잘못된 로그인 정보 입력

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/127827247-0c855481-1e16-4010-a0fe-8e75c4e08f3e.png)
![image](https://u

[2021-08-02 08:21] theun0524 commented on #97
@tu-nv In process_event function on mod_site_license.lua, Room should be converted to uri encoded form.

[2021-08-02 08:22] anish9849 commented on #98
Could you please send me the android application(.apk) file ?

[2021-08-02 08:24] SangY00n commented on #98
아이폰과 아이패드 앱에서도 같은 현상이 발견됩니다.

[2021-08-02 08:49] anish9849 commented on #98
Working well at my device(Android 10).

![Screenshot_20210802-174204_Vmeeting](https://user-images.githubusercontent.com/85114817/127832583-57ff2df5-961c-463e-8639-dc65271ad9d4.jpg)

Looking at the screenshots it seems like it is not a wrong password. I seems like you guys are trying with the wrong username.

[2021-08-02 09:14] SangY00n opened #99 "[lately][UI] 앱에서 방장으로부터 '내보내기' 또는 '모두에 대해 회의 종료'를 통해 내보내진 후 회의 시간이 남아있는 현상"
[발생현상]
앱을 통해 접속한 사용자가 방장으로부터 '**내보내기**' 또는 '**모두에 대해 회의 종료**'를 통하여 회의실에서 내보내진 후에,
아직 시작되지 않은 회의실에 접속하고자 할 때 화면 상단에 이전 회의실에서의 회의 시간이 표시됩니다.

*앱을 통해 접속한 사용자는 **로그인을 하지 않은 상태**입니다.

[발생일자]
2021.08.02

[재현경로]
- 발생 환경 : 아이폰, 아이패드에서 iOS 테스트 앱
1. iOS 앱을 통해 접속한 사용자를 방장이 '내보내기' 또는 '모두에 대해 회의 종료' 통하여 회의에서 나가도록 함
2. iOS 앱에서 아직 생성되지 않은 새로운 회의실 이름을 입력하여 접속을 시도
3. 화면 상단에 표시되는 회의 시간 확인

*앱을 통해 접속한 사용자는 **로그인을 하지

[2021-08-02 09:40] SangY00n opened #100 "[lately][UI] 앱에서 방장으로부터 '내보내기'를 통해 내보내진 후 새로운 회의실에 접속하였을 때 대기 창이 사라지는 현상"
[발생현상]
앱을 통해 접속한 사용자가 **마이크 또는 카메라(또는 둘다)를 키고 있는 상태**에서 방장으로부터 '**내보내기**'를 통해 내보내진 후
아직 시작되지 않은 회의실에 접속하고자 할 때 **최초 1회**의 시도에 한하여
"미팅 _meetingName_ 은 다른 사람이 사용 중인 방 이름으로 아직 시작되지 않았습니다. 호스트가 도착할 때까지 대기하거나 호스트라면 로그인을 위해서 확인을 누르세요." 라는 대기 창이 떴다가 바로 사라집니다. 메인으로 돌아오지 않고 로딩 화면을 보여줍니다.

* 앱을 통해 접속한 사용자는 **로그인을 하지 않은 상태**입니다.

[발생일자]
2021.08.02

[재현경로]
- 발생 환경 : 아이폰, 아이패드에서 iOS 테스트 앱
1. iOS 앱을 통해 접속한 사용자(

[2021-08-02 12:27] theun0524 commented on #96
vmeeting-release-v21.2.0-build-2.apk 버전에서 수정됨.
TestFlight vmeeting 21.2.0(5) 버전에서 수정됨.
확인 후 close 부탁합니다.

[2021-08-02 12:28] theun0524 commented on #89
vmeeting-release-v21.2.0-build-2.apk 버전에서 수정됨.
TestFlight vmeeting 21.2.0(5) 버전에서 수정됨.
확인 후 close 부탁합니다.

[2021-08-02 12:29] theun0524 commented on #87
로그인 한 상태에서는 녹화 시작 메뉴가 표시되는게 정상입니다.
vmeeting-release-v21.2.0-build-2.apk 버전에서 아이콘을 웹과 동일하게 수정했습니다.
TestFlight vmeeting 21.2.0(5) 버전에서 아이콘을 웹과 동일하게 수정했습니다.
이전 버전에서도 녹화 시작 오류는 없습니다.
새 버전에서 확인 후 close 부탁합니다.

[2021-08-02 12:31] theun0524 commented on #82
vmeeting-release-v21.2.0-build-2.apk 버전에서 youtube, live streaming 메뉴 제거하였습니다.
app 출력 문구를 어떻게 수정하는게 좋을지 의견 부탁합니다.

[2021-08-02 12:31] theun0524 commented on #47
vmeeting-release-v21.2.0-build-2.apk 버전에서 수정되었습니다.
TestFlight vmeeting 21.2.0(5) 버전에서 수정됨.
확인 후 close 부탁합니다.

[2021-08-02 12:32] theun0524 commented on #46
수정되었습니다. lately에서 확인후 close 부탁합니다.

[2021-08-02 12:32] theun0524 commented on #25
@SangwooRyu 수정 후에 comment 부탁 합니다.

[2021-08-02 12:34] theun0524 commented on #23
인증중 문구를 "인증하기"로 변경하였습니다.
로그인 버튼 클릭 시에 로그인 화면으로 이동하고 로그인 후에 다시 이전 회의실로 들어오도록 수정하였습니다.
lately 에서 확인 후 close 바랍니다.

[2021-08-02 14:58] jungheekang commented on #23
수정된 문구, 동작 이상없이 동작되는거 확인하였습니다.

[2021-08-02 14:58] #23 closed

[2021-08-02 15:24] jungheekang commented on #82
@theun0524 "어플리케이션에선 호스트가 공유한 YouTube를 재생할수 없습니다." 문구는 어떨까요?
('어플리케이션' or 'App' or 'Vmeeting App')

[2021-08-02 15:49] jungheekang commented on #96
and : v21.2.0, iOS : v21.2.0(5)에서 확인하였습니다.

[2021-08-02 15:49] #96 closed, assigned to nobody

[2021-08-03 00:48] jangyoojin commented on #98
정상작동 함을 확인했습니다

[2021-08-03 00:49] #98 closed, assigned to anish9849

[2021-08-03 00:52] #87 closed, assigned to nobody

[2021-08-03 01:04] SangY00n opened #101 "[lately][func] 회의실 내 참가자가 모두 방장 권한을 가지고 있을 때 앱에서 방장 아이콘이 보이지 않는 현상"
[발생현상]
회의실에 있는 모든 참가자가 방장 권한을 부여 받았을 때, 참가자 타일 오른쪽 아래의 방장 아이콘(☆)이 보이지 않습니다.

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : 아이폰, 아이패드의 iOS 테스트 앱(21.2.0(5))
1. 방장이 회의실에 있는 모든 참가자에게 더보기 - 방장 위임 을 통하여 방장 권한 부여
2. 모든 참가자가 방장 권한을 가지고 있을 때 방장 아이콘이 보이는지 확인

[스크린샷 및 동영상 첨부]
일부 참가자들만 방장 권한을 가지고 있을 때
![image](https://user-images.githubusercontent.com/85980653/127941718-5e1aee93-efa4-4f10-ad71-7ff02509d426.png)

모든 참가자

[2021-08-03 01:14] SangY00n commented on #46
정상적으로 수정된 것을 확인하였습니다. issue close 하겠습니다.

[2021-08-03 01:14] #46 closed

[2021-08-03 01:22] SangY00n commented on #47
수정이 확인되지 않습니다. 여전히 동일한 현상이 발견됩니다.

[2021-08-03 01:27] jangyoojin commented on #89
새로운 버전에서 pc가 방장일 때는 폰과 태블릿 사용자에 대해 모두 음소거, 모든 카메라 끄기 기능이 정상 작동하지만, 폰 또는 태블릿이 방장일 때는 pc와 다른 모바일 기기에 대해 모두 음속, 모든 카메라 끄기 기능이 작동하지 않습니다.

[2021-08-03 01:44] tu-nv commented on #97
thank you @theun0524. This issue is fixed in latest v2.0.0

[2021-08-03 01:44] #97 closed, assigned to tu-nv

[2021-08-03 02:36] sjhan22 commented on #93
메인 화면에 노출되는 참가자의 비디오 썸네일이 초록색으로 표시되는 것으로 보입니다. 의도된 것이라면 이슈 close 하겠습니다.

[2021-08-03 05:39] SangwooRyu commented on #25
수정하고 현재 lately에 반영했습니다

https://github.com/vmeeting-io/jitsi-meet/commit/1f5b4f9742fb620d2b896babdddcc3f4839c7b34

[2021-08-03 05:42] jangyoojin opened #102 "[lately][func] 앱에서 녹화 시작 할 경우 해당 기기가 까만 화면만 보임"
[발생현상]
안드로이드 앱 사용자가 방장일 때, 녹화 시작을 하면 5초 정도 녹화 되다가 기기의 화면이 검정색으로 보입니다.

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : 안드로이드 앱
1. 안드로이드 앱으로 로그인하여 회의 생성
2. 방장 권한을 가진 상태에서 녹화 시작 버튼 클릭
3. 잠시 기다리면 화면이 까맣게 변함

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/127963881-bfec1c3f-d4b3-46c6-9c80-a8265e5b4f06.png)

[2021-08-03 06:10] ktm526 opened #103 "[lately][UI] 앱 가로모드에서 방 이름 입력 시 입력된 글씨가 표시되지 않음"
[발생현상]
안드로이드 모바일 앱에서 화면을 가로로 설정한 뒤 앱을 키고 방 이름 입력란에 이름을 입력할 경우 글자가 표시되지 않습니다. (회의실 이동은 정상적으로 가능)

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : 안드로이드 모바일 app
1. 안드로이드 모바일 앱에서 화면을 가로로 전환
2. 회의실 이름 입력

[스크린샷 및 동영상 첨부]

![ezgif com-gif-maker](https://user-images.githubusercontent.com/77431608/128029835-66305dc2-23d1-4693-b5df-3057485e96cd.gif)

[2021-08-03 06:19] ktm526 opened #104 "[lately][UI] 안드로이드 모바일 앱 가로모드에서 로그인 창에 아이디 및 비밀번호 입력이 불가능한 현상"
[발생현상]
안드로이드 모바일 앱을 화면이 가로 상태인 환경에서 실행할 시, 로그인 창에 아이디 및 비밀번호를 입력하기 위해 입력칸을 터치할 경우 화면이 자동으로 새로고침 되면서 키보드가 꺼져 입력이 불가능합니다.

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : 안드로이드 모바일 앱
1. 모바일 앱 실행 후 화면을 가로로 전환
2. 로그인 하지 않은 상태에서 회의 생성 후 팝업창에서 확인 버튼 터치
3. 아이디 및 비밀번호 입력창 터치

[스크린샷 및 동영상 첨부]

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/77431608/128030233-e27983b9-ab15-41ab-89de-4fd87a94f0d4.g

[2021-08-03 06:20] theun0524 commented on #89
android: vmeeting-release-v21.2.0-build-3.apk, iOS: 21.2.0(6) 버전에 수정되었습니다.

[2021-08-03 06:20] theun0524 commented on #82
android: vmeeting-release-v21.2.0-build-3.apk, iOS: 21.2.0(6) 버전에 수정되었습니다.
현재는 YouTube 비디오 공유 동작됩니다.

[2021-08-03 06:21] theun0524 commented on #47
android: vmeeting-release-v21.2.0-build-3.apk, iOS: 21.2.0(6) 버전에 수정되었습니다.

[2021-08-03 06:57] SangY00n opened #105 "[lately][func] 회의실 내 참가자가 3명 이상일 경우, PC 브라우저에서 접속이 끊어지는 현상"
[발생현상]
회의실 내의 참가자가 3명 이상이 될 경우, PC 브라우저에서 접속한 참가자가 회의실에서 나가지거나 해당 참가자의 화면에 빈 화면(첨부사진)이 출력되는 현상이 발생합니다.

3명 이상이 되었을 때
- 기존에 회의실에 있었던 참가자: 회의실에서 나가짐
- 새로 접속한 참가자: 화면에 빈 화면이 출력됨

iOS 앱에서 접속한 참가자는 연결이 끊어지지 않습니다.

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : windowOS의 모든 브라우저
1. 회의실에 3명 이상 참가
2. PC 브라우저에서 접속한 참가자의 화면 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/127971297-3d934

[2021-08-03 07:24] #82 closed, assigned to theun0524

[2021-08-03 08:11] jangyoojin commented on #105
안드로이드 앱에서 접속한 참가자도 연결이 끊어지지 않습니다.

[2021-08-03 08:12] jangyoojin commented on #89
정상 동작하는 것을 확인했습니다

[2021-08-03 08:59] sjhan22 commented on #103
첨부해주신 동영상이 재생되지 않는 것 같습니다.

[2021-08-03 09:03] sjhan22 opened #106 "[lately][func] 아이폰 App으로 접속 시 회의방 내에서 회의방 이름 변경이 불가능한 현상"
[발생현상]
아이폰 App으로 접속 시 방장 권환이 있을 때도 회의방 내에서 회의방 이름 변경이 불가능함,
(window의 경우 회의방 이름에 마우스 커서를 갖다대면 수정 버튼이 생기는데 아이폰 App의 경우 회의방 이름을 클릭해도 회의방 이름을 수정할 수 없음.)

[발생일자]
2021.08.03

[재현경로]
- 발생 환경 : 아이폰 App
1. 회의방 생성 - 회의방 이름 변경 (불가능함)
2.
3.

[스크린샷 및 동영상 첨부]

[2021-08-03 14:03] jungheekang commented on #104
@ktm526 vmeeting-release-v21.2.0-build-3.apk (build 8166736)에서 발생된건가요?제가 해보니까 현상 재현이 안되서요 확인부탁드려요.

[2021-08-03 14:09] ktm526 commented on #103
gif 파일로 바꾸었습니다

[2021-08-03 14:09] jungheekang commented on #102
vmeeting-release-v21.2.0-build-3.apk
21.2.0 build 8166736 버전에서 발생

[2021-08-03 14:11] ktm526 commented on #104
확인 결과 빌드3 apk에서도 동일하게 발생합니다. 내일 다른 안드로이드 모바일 기기로 추가 테스트 해보겠습니다.

[2021-08-03 15:19] #25 closed

[2021-08-04 03:27] jangyoojin commented on #104
갤럭시S10 모델에서도 동일한 문제가 발생합니다

[2021-08-04 04:36] jangyoojin opened #107 "[lately][func] 앱에서 참여자 추가메뉴 중 음소거 기능 동작 안함"
[발생현상]
앱에서 다른 참가자의 화면을 롱프레스하면 나오는 추가메뉴에서 음소거가 동작하지 않습니다. 아래 그림과 같이 [음소거] 버튼을 터치해도 아무런 반응이 없습니다.

[발생일자]
2021.08.04

[재현경로]
- 발생 환경 : 안드로이드 앱 (버전: vmeeting-release-v21.2.0-build-3)
1. 하나의 회의에 둘 이상의 사용자가 접속
2. 방장이 다른 사용자의 화면을 몇 초동안 터치
3. 추가메뉴의 음소거 버튼 터치

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128122649-3e6a4ef0-f5d3-491a-80b8-272484ba2998.png)

[2021-08-04 04:41] sjhan22 commented on #107
IOS APP에서도 동일한 현상 발생합니다.

[2021-08-04 05:15] SangY00n opened #108 "[lately][UI] 아이패드 앱에서 음성 장비 선택이 안되는 현상"
[발생현상]
아이패드의 iOS 테스트 앱에서 회의실 내에서 추가 액션(...) - _음성 장비 선택하기_ 를 클릭하였을 때 **스피커**와 **폰**이 있지만 **폰**을 선택하여도 음성 장비가 폰으로 바뀌지 않습니다.

아이패드는 수신부 스피커가 따로 존재하지 않아 발생하는 현상으로 보입니다.
수신부 스피커가 따로 존재하지 않는 기기에서는 _음성 장비 선택하기_ 에서 선택 옵션 중 **폰**이 뜨지 않도록 수정하는 것이 좋을 것 같습니다.

[발생일자]
2021.08.04

[재현경로]
- 발생 환경 : 아이패드 7세대 iOS 테스트 앱(21.2.0(6))
1. 회의실 접속
2. 추가 액션(...) - 음성 장비 선택하기 - 폰 선택

[스크린샷 및 동영상 첨부]
![image](https://user-i

[2021-08-04 05:32] jangyoojin opened #109 "[lately][UI] 앱에서 YouTube 비디오 공유 시 뜨는 문구 수정"
[발생현상]
앱이 방장일 때 YouTube 비디오를 공유하면 'video님이 회의에 참가하셨습니다'라는 문구가 뜹니다. 'YouTube 비디오 공유를 시작합니다'와 같은 적절한 문구로 수정하면 좋겠습니다.

[발생일자]
2021.08.04

[재현경로]
- 발생 환경 : 안드로이드 앱 (버전: vmeeting-release-v21.2.0-build-3)
1. 방장이 앱 사용자 일 때, YouTube 비디오 공유 기능 사용
2. 화면 상단에 팝업 문구 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128127253-bccd6d4f-83ce-4941-be7f-9ce341eba51d.png)

[2021-08-04 05:40] SangY00n opened #110 "[lately][func] 참여자 추가메뉴 중 '카메라 끄기' 작동 안함"
[발생현상]
PC에서 방장 권한을 가지고 있는 참여자가 다른 참여자의 추가메뉴 중 '카메라 끄기'를 클릭하였을 때 아무런 반응이 없습니다.

[발생일자]
2021.08.04

[재현경로]
- 발생 환경 : windowOS 모든 브라우저
1. 참여자 추가메뉴(...) - 카메라 끄기
2. 반응 없음

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/128127868-c1600a59-2546-426d-8329-5f9b41c95200.png)

[2021-08-04 06:13] SangY00n commented on #107
WindowOS의 모든 브라우저에서도 동일한 현상이 발생합니다. (참여자 추가메뉴 - 음소거 작동 안함)

[2021-08-05 05:05] SangY00n opened #111 "[lately][UI] 자신을 제외한 다른 회의 참여자들의 접속자 통계 상태가 비정상적으로 출력되는 현상"
[발생현상]
추가 액션(...) - 접속자 통계 메뉴에서
자신을 제외한 다른 회의 참여자들의 상태가 비정상적으로 출력됩니다.
자신(나)의 상태(status)만 정상적으로 출력되고 다른 참여자들의 상태(status)는 무조건 아래와 같이 출력됩니다.
![image](https://user-images.githubusercontent.com/85980653/128293694-d9a876fd-6276-4167-bfc3-f5ea2dd9ec21.png)

[발생일자]
2021.08.05

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 회의실에 2명 이상 참여
2. 추가 액션(...) - 접속자 통계

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubus

[2021-08-05 05:37] SangY00n opened #112 "[lately][UI] 회의 참여자가 5명 또는 6명일 때 가로 999px 이하에서 타일뷰가 잘리는 현상"
[발생현상]
회의 참여자가 5명 또는 6명일 때, 화면 크기를 가로 999px 이하로 줄일 경우
타일뷰 보기를 하였을 때 타일이 잘려서 출력됩니다.

왼쪽에 배치된 타일은 왼쪽 부분이 잘려 음소거, 카메라 아이콘 등이 보이지 않고
오른쪽에 배치된 타일은 오른쪽 부분이 잘려 방장 아이콘과 더보기(...) 버튼 등이 보이지 않습니다.

[발생일자]
2021.08.05

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 회의 참여자를 5명 또는 6명으로 맞춘다.
2. 타일뷰 토글 클릭
3. 화면 크기를 가로 999px 이하로 조절한다.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/128295313-858

[2021-08-05 08:28] SangY00n commented on #47
수정을 확인하였습니다. 이슈 닫겠습니다.

[2021-08-05 08:28] #47 closed

[2021-08-05 08:29] jangyoojin opened #113 "[lately][UI] 참가자 화면 하단에 사용자 이름과 음소거 표시가 겹치는 문제"
[발생현상]
참가자 화면이 크게 보일 때, 우측에 보이는 참가자 화면에서 사용자 이름과 음소거 표시가 겹쳐 보입니다.(아래 그림 참고)
이때 방장 권한을 가진 참가자만 겹침 현상이 발생합니다.
[발생일자]
2021.08.05

[재현경로]
- 발생 환경 : 윈도우 모든 웹 브라우저
1. 방장 권한을 가진 참가자로 회의에 접속
2. 마이크와 카메라를 모두 끈 상태로 작은 참가자 화면 하단 관찰

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128318334-4aac12bf-61f0-4e15-baa9-56cc23a27dd2.png)

[2021-08-05 08:35] SangY00n opened #114 "[lately][func] 방장 권한을 위임받은 참여자는 회의실 이름을 바꿀 수 없는 현상"
[발생현상]
기존의 방장으로부터 방장 권한을 위임받은 참여자는 회의실 이름을 바꿀 수 없습니다.

회의실 이름에 커서를 올려도 회의실 이름 편집 버튼이 뜨지 않습니다.

[발생일자]
2021.08.05

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 방장이 회의 참여자에게 방장 권한 위임
2. 방장 권한을 위임받은 회의 참여자가 회의실 이름 수정 시도

[스크린샷 및 동영상 첨부]
회의실을 생성한 방장이 회의실 이름에 커서를 올렸을 때
![image](https://user-images.githubusercontent.com/85980653/128318996-a9f9cb86-2a56-4d12-86ee-f671f87b16cf.png)

방장 권한을 위임받은 참여자가 회의실 이름에 커서를

[2021-08-05 08:55] huijjj commented on #111
수정하여 lately에 반영했습니다. 확인부탁드립니다.

[2021-08-05 08:56] SangY00n commented on #111
확인하였습니다. 이슈 close 하겠습니다.

[2021-08-05 08:56] #111 closed, assigned to huijjj

[2021-08-05 09:00] SangY00n commented on #72
현재 네이버 웨일 브라우저에서 단축키 사용이 가능한 것을 확인하였습니다. 이슈 close 하겠습니다.

[2021-08-05 09:00] #72 closed

[2021-08-06 04:26] YoungRaeKimm opened #115 "[lately][UI] 참가자뷰 숨기기, 보이기 버튼이 동작하지 않는 현상"
[발생현상]
참가자뷰 숨기기, 보이기 버튼이 동작하지 않는 현상

[발생일자]
2020-08-06

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1.  토글뷰 off 상태에서 참가자뷰 숨기기, 보이기 버튼 누르기
2.
3.

[스크린샷 및 동영상 첨부]

[2021-08-06 04:39] YoungRaeKimm opened #116 "[lately][UI] 참가자 ...버튼 사라짐 현상"
[발생현상]
참가자 ...버튼이 사라졌습니다.

[발생일자]
2021-08-06

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1.
2.
3.

[스크린샷 및 동영상 첨부]
![IMG_9F8459107FBE-1](https://user-images.githubusercontent.com/33543992/128456801-fa1a311f-5867-43cc-8a11-e40e4666b0f7.jpeg)

[2021-08-06 05:22] YoungRaeKimm opened #117 "[lately][UI] 타일뷰 상태에서 프로필 사진 레이아웃 침범 현상"
[발생현상]
타일뷰 상태에서 프로필 사진이 있는 경우, 해당 레이아웃을 넘어서 다른 레이아웃을 침범하는 현상

[발생일자]
2021-08-06

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1. 참석자 명단 버튼 누름
2. 채팅창 활성화
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/33543992/128460063-d45cec6a-7ba1-49ed-946c-c0f072e7abb0.png)

[2021-08-06 05:28] #11 closed

[2021-08-06 06:07] SangY00n opened #118 "[lately][UI] 참가자 목록 토글을 눌렀을 때 눌린 상태로 변하지 않는 현상"
[발생현상]
_참가자 목록_ 토글을 눌렀을 때 토글 버튼이 눌린 상태로 변하지 않습니다.

[발생일자]
2021.08.06

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저, iOS의 모든 브라우저
1. _참가자 목록_ 토글을 누른다.
2. 눌렀을 때의 토글 버튼이 변화하는지 확인한다.

[스크린샷 및 동영상 첨부]
_화면 공유_ 토글, _대화 열기_ 토글, _말하기 요청_ 토글, _타일뷰_ 토글과 달리
_참가자 목록_ 토글은 토글 버튼을 눌렀을 때 눌린 상태로 변하지 않습니다.
![Animation_2021-08-06-15-05-33](https://user-images.githubusercontent.com/85980653/128463983-0bc900a9-91c2-4d58-8061-fda

[2021-08-06 06:11] huijjj commented on #113
아이콘들을 세로로 배치하도록 lately에 수정하였습니다 확인 부탁드립니다.

[2021-08-06 06:15] huijjj commented on #114
수정하여 lately에 반영하였습니다, 확인 부탁드립니다

[2021-08-06 06:16] SangY00n commented on #115
아이폰의 모든 브라우저의 가로 모드에서도 동일하게 참가자뷰 숨기기, 보이기 버튼이 동작하지 않습니다.
아이폰의 모든 브라우저의 세로 모드에서는 정상적으로 동작합니다.

[2021-08-06 06:22] SangY00n commented on #114
수정 확인하였습니다. 이슈 close 하겠습니다.

[2021-08-06 06:22] #114 closed, assigned to huijjj

[2021-08-06 06:36] #32 closed

[2021-08-06 06:59] YoungRaeKimm opened #119 "[lately][UI] 타일뷰 상태에서 화면 상단에 품질 상태 보이지 않는 현상"
[발생현상]
타일뷰 상태에서 화면 상단에 품질 상태 보이지 않는 현상

[발생일자]
2021-08-06

[재현경로]
- 발생 환경 : 아이패드 모든 브라우저
1. 타일뷰 ON
2.
3.

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/33543992/128469639-ba05b48e-05d7-4704-b30b-5816bd1a0d4a.MP4

[2021-08-06 07:55] huijjj commented on #113
잘 동작하는 것을 확인했습니다

[2021-08-06 07:55] #113 closed, assigned to huijjj

[2021-08-06 08:41] SangY00n opened #120 "[lately][UI] 대화창(채팅창)과 접속자 통계 동시에 열었을 때 접속자 통계가 잘리는 현상"
[발생현상]
대화창(채팅창)과 접속자 통계를 동시에 열었을 경우, 브라우저의 가로 길이가 일정 길이 이하로 줄어들었을 때 접속자 통계가 잘려서 출력됩니다.

[발생일자]
2021.08.06

[재현경로]
- 발생 환경 : WindosOS의 모든 브라우저, iOS의 모든 브라우저(가로 모드)
1. 대화 열기 토글 클릭
2. 추가 액션(...) - 접속자 통계
3. (PC인 경우)브라우저의 가로 길이 조절(줄이기)

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/128484322-c41ec563-099b-4b79-b04e-839ed69256e1.png)

[2021-08-06 15:12] boonjo commented on #118
발생환경 macOS 모든 브라우저에서도 동일 현상 발생

[2021-08-06 15:33] boonjo opened #121 "[lately][func] 참석자 목록에서 참석인 음소거 작동 오류"
[발생현상]

![mute](https://user-images.githubusercontent.com/61446495/128534779-7686ab81-a9c9-42c6-8280-ac4c77b362d3.gif)

[발생일자]

2021-08-07

[재현경로]
- 발생 환경 : macOS 모든 브라우저
1. 참가자 목록 열기
2. 참석인 더보기
3. 음소거

[2021-08-09 02:22] YoungRaeKimm commented on #115
아이패드 모든 브라우저에서 다시 잘 작동되는 것으로 확인했습니다.

[2021-08-09 05:06] #115 closed, assigned to nobody

[2021-08-09 05:17] jangyoojin opened #122 "[lately][func] 배경선택에서 화면공유가 배경으로 적용되지 않는 문제"
[발생현상]
배경 선택에서 화면공유를 배경으로 선택하면 공유한 화면이 배경으로 적용되지 않습니다. 아래 사진과 같이 화면을 공유 중이라는 팝업은 뜨지만 공유 중인 화면이 보이지 않습니다.

[발생일자]
2021.08.09

[재현경로]
- 발생 환경 : 윈도우 os 모든 웹 브라우저(크롬, 엣지, 네이버 웨일, 오페라)
1. 회의 생성
2. 배경 선택 - 화면공유 - 적용
3. 자신의 배경이 공유한 화면이 아니라 아무 배경도 없는 상태로 표시됨을 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128663030-e4a11120-0b39-42f7-87ce-c255f05f4943.png)

[2021-08-09 05:36] jungheekang commented on #121
@sajan-dpnm  첨부된 사진의 빨강색 하이라이트 메뉴를 disable (hiden) 해주시면 될것같습니다.

<img width="216" alt="스크린샷 2021-08-09 오후 2 29 20" src="https://user-images.githubusercontent.com/87403323/128663992-f89d141d-4748-439b-b246-79a9f8f7a0ad.png">

[2021-08-09 05:51] jangyoojin opened #123 "[lately][UI] 타일뷰 상태에서 ... 기능 클릭 못하는 문제"
[발생현상]
타일뷰 상태에서 참가자 오른쪽 위의 ... 메뉴의 기능을 클릭할 수 없습니다. ... 에 마우스를 올리면 추가 메뉴가 뜨지만 추가 메뉴로 마우스를 이동시키면 메뉴가 사라집니다.

[발생일자]
2021.08.09

[재현경로]
- 발생 환경 : 윈도우 os 모든 웹 브라우저(크롬, 엣지, 네이버 웨일, 오페라)
1. 2명 이상 참가자가 한 회의에 접속
2. 타일뷰 상태에서 다른 참가자의 화면 ... 표시 위에 커서 위치시켜서 추가 메뉴 뜨는 것 확인
3. 추가 메뉴 위로 커서 이동시키면서 추가 메뉴가 사라지는 것 확인

[스크린샷 및 동영상 첨부]
![메뉴](https://user-images.githubusercontent.com/74976893/128664904-e27f03dd-fb0e-493

[2021-08-09 05:51] sajan-dpnm commented on #121
okay!

[2021-08-09 05:52] jungheekang commented on #119
이건 컨셉인것같아요... 타일뷰로 봤을때 다수여서 영상품질을 표시 할수없고, 특정 참가자을 선택했을때 그 참가자의 품질이 표시되는것같습니다.

[2021-08-09 05:53] #119 closed, assigned to nobody

[2021-08-09 06:11] jangyoojin opened #124 "[lately][func] 타일뷰 상태에서 참가자 화면 옮기기 기능 사라짐"
[발생현상]
타일뷰 상태에서 참가자 화면을 드래그 앤 드롭 방식으로 참가자 화면 순서를 옮기는 기능이 동작하지 않습니다. 또한 ... 메뉴의 [처음으로 이동], [끝으로 이동] 버튼이 사라졌습니다.

[발생일자]
2021.08.09

[재현경로]
- 발생 환경 : 윈도우 os 모든 웹 브라우저(크롬, 엣지, 네이버 웨일, 오페라)
1. 2인 이상 한 회의에 접속
2. 다른 접속자의 화면을 드래그 앤 드롭하거나 ... 메뉴에 [처음으로 이동], [끝으로 이동] 버튼이 있는지 확인

[스크린샷 및 동영상 첨부]
![725-_-Vmeeting-Opera-2021-08-09-15-10-33](https://user-images.githubusercontent.com/74976893/128666113-0929a9a2

[2021-08-09 06:20] dmsgk724 opened #125 "[lately][UI]android의 참석자 더보기의 ...메뉴가 잘리는 문제"
[발생현상]android에서 참석자 더보기에서 참석자의 ...버튼을 클릭하면 상단에있는 참석자의 메뉴가 잘리는 문제가 발견된다.

[발생일자]
2021-08-09
[재현경로]
- 발생 환경 :  android
1. 참석자 더보기
2. 참석자의 이름을 클릭하면 나타나는 ...메뉴 클릭
3.잘린상태로 나타남

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85989698/128666801-4644f980-bd3e-4a61-a7f2-d3107bbd525b.png)

[2021-08-09 06:23] dmsgk724 opened #126 "[lately][func]참석자 더보기에서 내보내기한 참가자가 참석자통계에 여전히 남아있는 오류"
[발생현상]
참석자 더보기에서 특정 참가자를 내보내도 참석자 통계를 열람해보면 아직 회의에 참가중인 상태로 뜬다.

[발생일자]
2021-08-09

[재현경로]
- 발생 환경 : android
1. 참석자 더보기
2. ...메뉴에서 내보내기 혹은 채팅을 이용한 내보내기
3. 참석자 통계를 열람하면 방장권한은 해제되지만 나간상태로 되진 않음

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85989698/128667004-d1e5a93e-6304-470d-8e67-12e26e4dd816.png)

[2021-08-09 06:27] jangyoojin commented on #123
#39와 동일한 이슈이므로 이 이슈를 close합니다.

[2021-08-09 06:27] #123 closed, assigned to nobody

[2021-08-09 06:27] jangyoojin commented on #39
윈도우 os 모든 웹 브라우저에도 동일한 현상이 나타납니다.

[2021-08-09 06:28] sjhan22 commented on #126
IOS web 환경에서도 동일한 이슈 발생합니다.

[2021-08-09 07:10] jungheekang commented on #118
첨부된 사진과 같이 참가자 목록이 활성화 되었을때 아이콘 백그라운드 추가 필요

<img width="173" alt="image" src="https://user-images.githubusercontent.com/87403323/128669864-bfcd6513-ac0b-4f94-bd4d-32ce6cd63b64.png">

[2021-08-09 07:16] sajan-dpnm commented on #121
코드 수정했습니다. 확인 부탁드립니다!
![image](https://user-images.githubusercontent.com/72065079/128671323-d2d2e22c-fa86-4c59-b80c-317225322d94.png)

[2021-08-09 07:20] jungheekang commented on #116
모바일 web ,app 에서 발생
참여자 영상의 추가 메뉴(...버튼) 표출되지 않음.

[2021-08-09 07:22] jungheekang commented on #121
@boonjo 이 문제 제가 확인했어요. close하겠습니다.

[2021-08-09 07:22] #121 closed, assigned to sajan-dpnm

[2021-08-09 07:53] jungheekang commented on #103
바탕색과 글자 색상이 모두 하얀색이여서 안보이는것같습니다. 글자 색상을 연한 그레이색상으로 변경하면 좋을듯합니다.

[2021-08-09 08:06] jangyoojin opened #127 "[lately][UI] 오페라에서 오디오 공유 기능이 보이지 않음"
[발생현상]
윈도우 OS에서 오페라 웹 브라우저 사용자가 방장인 경우, [오디오 공유] 기능이 보이지 않습니다.

[발생일자]
2021.08.09

[재현경로]
- 발생 환경 : 윈도우 OS 오페라
1. 윈도우 OS 오페라 웹 브라우저로 회의 생성(오페라 사용자가 방장인 상태)
2. 추가 액션 클릭
3. 유튜브 비디오 공유 아래에 오디오 공유 버튼이 보이지 않음

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128675953-d8dffe08-9ea6-45d3-81db-f71264b2e546.png)

[2021-08-09 08:48] jangyoojin opened #128 "[lately][func] 판서를 닫으면 사용자 프로필 사진이 보이지 않음"
[발생현상]
(참가자가 2인 이상일 경우) 카메라를 켜지 않은 사용자에 포커싱 된 상태에서 판서를 열었다가 닫으면 판서를 열기 전 보였던 사용자의 프로필 사진이 보이지 않습니다. 판서를 열었다가 닫으면 사용자의 이름만 표시되고 프로필 사진은 보이지 않습니다.
(참가자가 1명인 경우) 타일뷰가 아니고 카메라를 켜지 않을 상태에서 판서를 열었다가 닫으면, 카메라를 끄기 전 마지막으로 보였던 참가자 모습이 정지된 상태로 나타납니다.

[발생일자]
2021.08.09

[재현경로]
- 발생 환경 : 윈도우 OS 모든 웹 브라우저(크롬, 엣지, 오페라, 네이버 웨일)
1. 참가자 2명 이상이 한 회의에 접속 - 카메라를 끈 사용자에게 포커싱 - 판서 열기 - 판서 닫기
2. 참가자 1명이 한 회의에 접속 - 카메라

[2021-08-09 09:17] jungheekang commented on #21
문구확인 하였습니다. close 하겠습니다.

[2021-08-09 09:17] #21 closed

[2021-08-09 09:27] jungheekang commented on #112
컨셉 확인 필요.
반응형에서 줄일수있는 최대치에서 고정된것으로 보여집니다.

[2021-08-09 09:36] jungheekang opened #129 "[lately]모바일 web에서 추가액션 메뉴 유지 시간 연장 필요"
[발생현상]
모바일 web에서 추가액션 메뉴 선택 후 메뉴 유지되는 시간이 짧아 스크롤하다가 닫힘.
터치가 발생하연 타임연장 또는 메뉴 타임아웃시간 변경

[발생일자]
2021-08-09

[재현경로]
- 발생 환경 : 모바일 web 모든 브라우저
1. 모바일 web에서 vmeeting 참석
2. 하단 메뉴 - 추가액션 선택시 발생하는 메뉴 표출 시간 확인

[2021-08-09 20:09] boonjo opened #130 "[lately][UI] 채팅장에 "채팅" 문구 아래 ".""
[발생현상]
 채팅장에 "채팅" 문구 아래 "." 생김

<img width="208" alt="Screen Shot 2021-08-09 at 3 06 48 PM" src="https://user-images.githubusercontent.com/61446495/128767547-96422b96-d769-43d4-88ae-284ff7b35e9d.png">

[발생일자]
2021-08-09

[재현경로]
- 발생 환경 : macOS 모든 브라우저
1. 채팅장 열기

[2021-08-09 20:15] boonjo opened #131 "[lately][func] 채팅장을 확대시, 채팅장이 다른데로 가는 현상"
[발생현상]

채팅장 쪽으로 확대시, 채팅장이 움직인다.

https://user-images.githubusercontent.com/61446495/128768253-e6b1d29e-8fe0-40d3-9fcb-a86dd8e6c777.mov

[발생일자]
2021-08-09

[재현경로]
- 발생 환경 : macOS Safari
1. 채팅장 열기
2. 채팅장 쪽으로 확대

[2021-08-10 02:33] sajan-dpnm commented on #126
when kicking out a participant, the leaveTime and duration field is not being updated

[2021-08-10 02:53] jungheekang opened #132 "[lately][func] 방장이 '모두 카메라 끄기' 하면 알럿메세지 발생되지 않음"
[발생현상]
방장이 '모두 카메라 끄기' 하면 참여자에게 카메라가 방장에 의해 꺼졌다는 알럿메시지 발생되지 않음.
컨셉 확인 필요 (모두 음소거시엔 알럿 메시지 발생)

[발생일자]
2021-08-10

[재현경로]
- 발생 환경 : 전체 환경
1.  방생성 - 2명이상 참여
2. 참가자 목록 - 하단 '...' 더보기
3. 카메라 모두 끄기 시 참가자 화면 확인 시

[스크린샷 및 동영상 첨부]

[2021-08-10 03:27] sajan-dpnm commented on #126
fixed by @tu-nv, code changes pushed to v2.0.0 and reflected in lately

[2021-08-10 03:27] #126 closed, assigned to nobody

[2021-08-10 04:39] jangyoojin opened #133 "[lately][func] 채팅창에서 내보내기 이후 보내거나 받은 채팅이 보이지 않음"
[발생현상]
회의 참가자 중 한 명을 [특정 사용자의 채팅 - ... 메뉴 - 내보내기]를 통해 내보내면, 내보내기 이후 유입된 모든 참가자는 자신이 보낸 채팅과 다른 사용자들로부터 받은 채팅이 모두 보이지 않습니다. 다만, 새로 유입된 참가자는 채팅을 다른 사람에게 보낼 수는 있습니다. 아래 사진을 보면 새로 유입된 참가자가 보낸 채팅이 기존 참가자에게는 보입니다.

[발생일자]
2021.08.10

[재현경로]
- 발생 환경 : 윈도우 OS 모든 웹 브라우저(크롬, 엣지, 오페라, 네이버 웨일)
1. 세 명의 참가자가 한 회의에 접속하고 각자 채팅을 하나씩 보냄
2. 방장이 한명을 내보내기 기능을 통해 회의에서 내보냄
3. 이후 새로운 참가자가 회의에 접속하여 채팅을 치면 새로운 채팅이 보이지 않음을 확

[2021-08-10 04:59] jungheekang commented on #130
불필요한 부분일 경우 삭제 해주세요

<img width="253" alt="스크린샷 2021-08-10 오후 1 57 48" src="https://user-images.githubusercontent.com/87403323/128810511-a2d4af17-0328-4837-9cdd-2338aedebfc8.png">

[2021-08-10 05:12] jungheekang commented on #19
컨셉 문의

[2021-08-10 05:14] jungheekang commented on #20
컨셉 확인

[2021-08-10 05:17] jungheekang commented on #26
아이폰에서 메뉴 삭제 여부 확인 필요

[2021-08-10 05:36] jungheekang commented on #42
컨셉 확인 필요

[2021-08-10 05:45] jungheekang commented on #64
#122. 동일 현상으로 close 합니다.

[2021-08-10 05:45] #64 closed

[2021-08-10 05:46] theun0524 opened #134 "[lately][func] Meeting rooms are not destroyed when timeRemained expires."
[발생현상]
회의 시간이 종료되어도 회의가 종료되지 않고 계속 진행됨.

[발생일자]
2021.08.10

[재현경로]
- 발생 환경 : Chrome
1. 관리자 권한으로 로그인 함.
2. 크롬에 탭을 두개 만들고 하나는 회의를 생성해서 참여함.
3. 나머지 탭에서는 관리자 콘솔로 들어가서 진행중인 회의의 남은 시간을 변경함.
4. 남은 시간이 만료되어도 회의가 종료되지 않음.

[스크린샷 및 동영상 첨부]
ejabberd 에서 아래과 같은 에러 로그가 발생함.
2021-08-10 05:39:37.557719+00:00 [error] Error in process <0.1083.0> on node ejabberd@30813da28723 with exit value:
{undef,[{mod_site_licen

[2021-08-10 05:52] jungheekang commented on #81
컨셉확인 필요

[2021-08-10 05:57] jungheekang commented on #105
확인했습니다.

[2021-08-10 05:57] #105 closed, assigned to nobody

[2021-08-10 05:59] jungheekang commented on #110
확인했습니다.

[2021-08-10 05:59] #110 closed, assigned to nobody

[2021-08-10 06:04] jungheekang commented on #127
메뉴 활성화 확인 필요

[2021-08-10 07:03] jangyoojin commented on #89
vmeeting-release-v21.3.0 버전에서 동일한 문제가 발생합니다. pc 사용자가 방장일 때는 추가 액션 - [모두 음소거] [모든 카메라 끄기] 버튼이 정상 동작하지만, 앱 사용자가 방장일 때는 추가 액션의 [모두 음소거] [ 모든 카메라 끄기] 기능이 동작하지 않습니다.

[2021-08-10 07:43] jangyoojin opened #135 "[lately] 접속자 통계 창에서 검색 시 enter키를 눌러도 창 닫히지 않게 수정 요청"
[발생현상]
접속자 통계 창에서 검색 기능을 사용할 때 검색어를 입력하고 enter키를 누르면 창이 닫힙니다. 대부분의 검색 창이 enter 키를 눌러야 최종 검색 결과를 볼 수 있기 때문에 사용자가 습관적으로 enter키를 누를 수 있을 것 같습니다. 따라서 접속자 통계 창에서 enter키를 눌러도 창이 닫히지 않게 수정되면 좋겠습니다.

[발생일자]
2021.08.10

[재현경로]
- 발생 환경 : 모든 웹 브라우저
1. 추가 액션 - 접속자 통계 - 검색 클릭
2. 검색어 입력 이후 enter 키 입력

[2021-08-10 08:24] tu-nv commented on #134
fixed in latest v2.0.0

[2021-08-10 08:24] #134 closed, assigned to tu-nv

[2021-08-10 08:49] jangyoojin opened #136 "[lately][UI] 본인의 화면에서 추가메뉴(...) 크기 다름"
[발생현상]
2명 이상의 참가자가 접속했을 때, 타일뷰 상태에서 본인의 화면 추가 메뉴(...) 크기가 작게 표시됩니다. 아래 사진 상에서 비교해보시면 알 수 있습니다.

[발생일자]
2021.08.10

[재현경로]
- 발생 환경 : window OS 모든 웹 브라우저
1. 2인 이상 한 회의에 접속
2. 타일뷰로 전환
3. 참가자들 화면에 보이는 ... 크기 비교

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/74976893/128837012-d12b50f0-2bde-4e19-a6b5-9f969b4588ed.png)

[2021-08-11 02:16] jangyoojin opened #137 "[lately] 회원 탈퇴 시 로그인 된 모든 페이지에서 자동 로그아웃 되도록 수정 요청"
[발생현상]
하나의 계정으로 여러 웹 브라우저 또는 여러 기기에 로그인하고 로그인 상태를 유지해두면, 어느 한 브라우저 또는 기기에서 탈퇴하면 해당 브라우저에서만 로그아웃이 되고 다른 웹 브라우저는 계속 로그인 상태로 남아있습니다. 이 경우 탈퇴를 해도 다른 브라우저를 사용하면 로그인 상태로 회의를 이용할 수 있는 것처럼 보입니다. 따라서 회원 탈퇴를 하면 로그인 상태인 모든 브라우저와 기기에서 자동 로그아웃 되도록 수정하면 좋겠습니다.
예를 들어 엣지와 크롬에 아이디 <hong.cy>로 로그인 한 상태에서 엣지에서 본 계정을 탈퇴한 후, 크롬을 켜면 탈퇴한 계정이 로그인 상태이고 회의도 이용 가능합니다.

[발생일자]
2021.08.10

[재현경로]
- 발생 환경 : 모든 웹 브라우저
1. 두 가지 이상

[2021-08-11 02:32] jungheekang opened #138 "[lately][func] 채팅에서 A에게 개인메시지 활성화 상태에서 A가 회의종료시 vmeeter, follow jitster로 변경됨"
[발생현상]
채팅에서 A에게 개인메시지 활성화 상태에서 A가 회의종료시 vmeeter, follow jitster로 변경됨
WEB -  "A에게 개인메시지" -> "Vmeeter에게 개인메시지" 로 변경됨
app - "A에게 개인메시지" -> "Fellow Jister에게 개인메시지" 로 변경됨
- 기존이름으로 유지 필요

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : APP(21.3.0-1), web 브라우저 환경
1. 2명이상 참석 회의방
2. b 선택 - 개인메시지 보내기
3. b 회의 종료 시 a의 채팅창 확인 시

[스크린샷 및 동영상 첨부]
- B 퇴장 전
<img width="306" alt="스크린샷 2021-08-11 오전 11 19 56" src="http

[2021-08-11 02:56] jungheekang opened #139 "[lately][func] 회의 중 네트웍 환경에 따라 측면 미니뷰에 참석자가 비활성화(프로필만 보여짐) 되는 현상"
[발생현상]
회의 중 네트웍 환경에 따라 측면 미니뷰에 참석자가 비활성화(프로필만 보여짐) 되는 현상

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : app, web 발생
1. 여러명 회의 참가
2. 방장이  화면 공유 (타일뷰 해제 상태)
3. 회의 진행 중 갑자기 네트워크 상태가 나빠지면서 간혈적으로 발생

[스크린샷 및 동영상 첨부]
<img width="212" alt="스크린샷 2021-08-10 오후 1 39 18" src="https://user-images.githubusercontent.com/87403323/128962237-b7f324ef-7c5f-4375-ba38-859a2df3f8f6.png">

![image](https://user-images.gi

[2021-08-11 03:06] jungheekang opened #140 "[lately][UI] 로그인 화면의 "회원가입" 문구 색상 변경 요청"
[발생현상]
로그인 화면의 "회원가입" 문구 색상 변경 요청
- '비밀번호 재설정' 과 동일한 색상 적용 요청

[발생일자]

[재현경로]
- 발생 환경 : APP, WEB 전체
1. 메인사이트 - 로그인
2. 로그인 페이지

[스크린샷 및 동영상 첨부]
<img width="425" alt="스크린샷 2021-08-11 오후 12 01 52" src="https://user-images.githubusercontent.com/87403323/128963316-021146bc-692d-45c2-9bdf-f5766d3aa554.png">

[2021-08-11 04:02] jungheekang opened #141 "[lately][func]회원가입 화면에서 캡챠 타임아웃시 00:0-1 표시 됨"
[발생현상]
회원가입 화면에서 캡챠 타임아웃시 00:-1 표시 됨

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : APP, WEB
1.  회원가입 - 캡챠 시간

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/87403323/128967747-bed49faa-d13a-4cee-81cc-5086c8a95a83.png)

[2021-08-11 04:21] jangyoojin commented on #89
vmeeting-release-v21.3.0-build-1 버전에서 정상 동작하는 것을 확인했습니다.

[2021-08-11 04:21] #89 closed, assigned to theun0524

[2021-08-11 04:34] anish9849 commented on #141
Fixed. Please verify.

[2021-08-11 04:37] jangyoojin commented on #137
#37번 이슈와 동일한 내용입니다.

[2021-08-11 04:37] #137 closed, assigned to nobody

[2021-08-11 04:40] jangyoojin commented on #37
윈도우os 환경에서도 동일한 현상이 발생합니다. 윈도우 os 환경에서는 크롬, 엣지, 오페라, 네이버 웨일 브라우저 각각에 같은 계정으로 로그인 했었다면 어느 한 브라우저에서 탈퇴 후에도 나머지 브라우저에서는 정상적으로 회의생성이 가능합니다.
회원이 탈퇴하면 로그인 된 모든 브라우저와 기기에서 자동 로그아웃 되도록 수정하면 좋을 것 같습니다.

[2021-08-11 04:45] theun0524 commented on #39
vmeeting.io 와 동일 현상이면 차기 버전에서 수정 반영하도록 하겠습니다.

[2021-08-11 05:29] jungheekang opened #142 "[lately][UI] APP에서 설정 - 유저이름에 '한글'을 입력하고 방 개설시 이름이 깨져서 나옴"
[발생현상]
APP에서 설정 - 유저이름에 '한글'을 입력하고 방 개설시 이름이 깨져서 나옴

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : APP
1. app에서 로그인 안된상태
2. 설정 - 유저이름에 한글로 입력
3. 방이름 : 랜덤입력 - 회의생성 시

[스크린샷 및 동영상 첨부]

![image](https://user-images.githubusercontent.com/87403323/128974514-fb161385-e4eb-490c-98d2-ea8ce5c06be5.png)

[2021-08-11 05:31] dmsgk724 opened #143 "[lately]앱에서도 채팅 차단 기능 요청"
[발생현상]
모바일 앱에서는 채팅 차단이 되지 않는다

[발생일자]
2021-08-11
[재현경로]
- 발생 환경 :
1. 방장인 경우 채팅-채팅차단안됨

[스크린샷 및 동영상 첨부]

[2021-08-11 05:45] sjhan22 opened #144 "[lately][UI] IOS APP에서 회의 초대하기 기능 버튼이 겹쳐있는 현상"
[발생현상]
IOS APP에서 접속 시 하늘색의 회의 초대하기 기능과 하단의 메뉴 바가 겹쳐 있어 사용하기 불편한 현상

[발생일자]
2021.08.11

[재현경로]
- 발생 환경 : IOS APP 21.3.0(1)
1. IOS APP(testflight app)을 통해 회의방 접속 - 화면 하단의 회의 초대하기 기능과 하단의 메뉴바가 겹쳐 있음
2.
3.

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85981002/128975707-8e1c1bc2-1fad-426c-93d9-549d0eca6837.png)

[2021-08-11 05:49] sjhan22 opened #145 "[lately] IOS APP에서 채팅 검색 기능 추가 요청"
[발생현상]
IOS APP으로 접속 시 채팅창에서 채팅 내용 검색 기능이 제공되지 않음.

[발생일자]
2021.08.11

[재현경로]
- 발생 환경 : IOS APP 21.3.0.(1)
1. IOS APP으로 접속 - 채팅창에서 채팅 내용 검색 기능이 존재하지않음.
2.
3.

[스크린샷 및 동영상 첨부]

[2021-08-11 05:56] huijjj commented on #140
register page에도 동일한 변경 사항 반영하겠습니다

[2021-08-11 06:15] YoungRaeKimm opened #146 "[lately][func] 앱에서 화면공유 후에 카메라를 킴에도 불구하고 상대방은 카메라의 화면을 못보는 현상"
[발생현상]
아이폰 앱에서 화면공유 후에 카메라를 킴에도 불구하고 상대방은 카메라가 안켜진 것처럼 보이는 현상

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : 아이폰 어플 v21.3.0 (1)
1. 화면공유 했다가 중지
2. 카메라 다시 킴
3.

[스크린샷 및 동영상 첨부]

[2021-08-11 06:26] huijjj commented on #140
변경사항 모두 lately에 반영하였습니다
확인 부탁드립니다

[2021-08-11 06:27] huijjj commented on #136
lately에 수정하였습니다 확인부탁드립니다

[2021-08-11 06:27] huijjj commented on #130
lately에 수정하였습니다. 확인부탁드립니다.

[2021-08-11 06:36] jungheekang commented on #130
확인했습니다.

[2021-08-11 06:36] #130 closed, assigned to huijjj

[2021-08-11 06:42] jangyoojin commented on #136
확인했습니다

[2021-08-11 06:42] #136 closed, assigned to huijjj

[2021-08-11 07:47] jungheekang opened #147 "[lately][UI] android app에서 참석자 목록 화면에서 하단에 종료버튼이 보여지는 현상"
[발생현상]
android app에서 참석자 목록 화면에서 하단에 종료버튼이 보여짐
pad에서는 종료버튼이 눌려지는 현상도 발생됨

[발생일자]
2021-08-11

[재현경로]
- 발생 환경 : android app
1. 회의실 입장
2. 참석자 목록
3. 참석자 목록 화면 하단 영역

[스크린샷 및 동영상 첨부]
![KakaoTalk_Photo_2021-08-11-16-36-16](https://user-images.githubusercontent.com/87403323/128990347-4995f696-df0a-4946-90e3-e5f5742ce662.jpeg)

[2021-08-11 08:11] jangyoojin commented on #146
안드로이드 앱 v21.3.0-build-1에서 동일한 현상이 발생합니다

[2021-08-11 09:18] sajan-dpnm commented on #133
코드 수정하고 lately에서 deploy 완료 됐습니다. @jangyoojin @jungheekang 확인 부탁드립니다!

[2021-08-11 21:59] boonjo opened #148 "[lately][func] YouTube 비디오 공유후 타일뷰 켰다 끄면 비디오 다시 시작"
[발생현상]

YouTube 비디오 공유후 타일뷰 토글을 켰다 끄면 비디오가 처음부터 다시 시작

[발생일자]

2021-08-11

[재현경로]
- 발생 환경 : iOS App v21.3.0 (1)
1. YouTube 비디오 공유
2. 타일뷰 토글 켰다 끄기

[2021-08-12 01:08] sajan-dpnm commented on #138
@jungheekang 혹시 이거 어떻게 바꿔야 돼요? A 참여자가 회의종료시, 'A에게 개인메시지' 로 유지해야돼요 ?

[2021-08-12 01:26] jangyoojin commented on #133
정상 동작하는 것을 확인했습니다.

[2021-08-12 01:26] #133 closed, assigned to sajan-dpnm

[2021-08-12 01:27] huijjj commented on #118
수정하여 lately에 반영했습니다 확인 부탁드립니다

[2021-08-12 01:34] jungheekang commented on #138
@sajan-dpnm 개인적인 생각은 "A에게 개인메시지" 로 유지하는게 맞는것같습니다.

A가 없을때 메시지 보내면 알림 메시지가 발생되서 유지되는게 맞다고 봅니다.

[2021-08-12 02:01] #141 closed, assigned to anish9849

[2021-08-12 02:01] #140 closed, assigned to huijjj

[2021-08-12 02:02] #118 closed, assigned to huijjj

[2021-08-12 02:11] jangyoojin commented on #107
정상 동작하는 것을 확인했습니다.

[2021-08-12 02:11] #107 closed, assigned to nobody

[2021-08-12 02:30] YoungRaeKimm commented on #39
아이패드 브라우저에서 ... 메뉴 자체가 사라졌습니다.

[2021-08-12 04:40] theun0524 commented on #102
vmeeting-release-v21.3.0-build-2.apk 에서 확인 후 close 부탁합니다.

[2021-08-12 04:47] ktm526 opened #149 "[lately][func] android app에서 채팅이 보이지 않는 현상"
[발생현상]
android app에서 다른 참가자가 보낸 채팅 및 본인이 보낸 채팅이 모두 보이지 않고, 채팅 창이 "회의에 아직 메시지가 없습니다. 여기서 대화를 시작하십시오!" 상태로 고정되어 있습니다.

[발생일자]
2021-08-12

[재현경로]
- 발생 환경 : android app
1. 회의실 입장
2. 다른 사용자 및 본인의 채팅 입력
3. 채팅창에 변화가 없음

[스크린샷 및 동영상 첨부]
![ezgif com-gif-maker](https://user-images.githubusercontent.com/77431608/129139587-75e5c2e2-3167-4c66-ba73-bb2855ba7c1d.gif)

[2021-08-12 04:59] jangyoojin commented on #102
vmeeting-release-v21.3.0-build-2.apk에서 녹화 시작 버튼이 보이지 않습니다. 확인 불가합니다.

[2021-08-12 05:37] jangyoojin commented on #102
vmeeting-release-v21.3.0-build-2.apk에서 녹화 기능이 정상동작함을 확인했습니다.

[2021-08-12 05:37] #102 closed, assigned to nobody

[2021-08-12 05:38] YoungRaeKimm commented on #146
ios 앱 21.3.0(2)에도 동일한 이슈가 나타납니다.

[2021-08-12 06:21] YoungRaeKimm opened #150 "[lately][func] 화면공유 후 다른 유저 화면 안보였다가 나갔다 들어오면 다시 보이는 현상"
[발생현상]
3명 이상일때에 화면공유 후 다른 유저 화면 안보였다가 나갔다 들어오면 다시 보이는 현상

[발생일자]
2021-08-12

[재현경로]
- 발생 환경 : ios 21.3.0(3)
1. 화면공유 켰다 끔
2. 다른 유저 화면 안보임을 확인
3. 나갔다 들어오면 다시 보임

[스크린샷 및 동영상 첨부]
![Aug-12-2021 15-20-37](https://user-images.githubusercontent.com/33543992/129147723-e14229f0-4f61-4b5b-b134-42e9056be2e2.gif)

[2021-08-12 07:12] jungheekang opened #151 "[lately][UI] A에게 개인 메시지 발송 시 A가 퇴장하여 없을 때 발생되는 문구 변경 요청"
[발생현상]
A에게 개인 메시지 발송 시 A가 퇴장하여 없을 때 발생되는 문구 변경 요청

[한국어]
오류 : 메시지가 전송되지 않았습니다. 이유 : Recipient is not in the conference room
-> 메시지가 전송되지 않았습니다. <줄바꿈> 수신인이 회의실에 없습니다.

[영어]
Error: your message was not sent. Reason: Recipient is not in the conference room
-> your message was not sent. <줄바꿈> Recipient is not in the conference room

[발생일자]
2021-08-12

[재현경로]
- 발생 환경 : 전체환경
1. 여러명 회의 참석
2. 참석자 목록 - A 의

[2021-08-12 07:52] sajan-dpnm commented on #151
the error message should be changed from "Error: your message was not sent. Reason: Recipient is not in the conference room" to "Your message was not sent. \n Recipient is not in the conference room" ? Apparently there is also a styling error related with flexbox and timestamp in this scenario

[2021-08-12 07:53] ktm526 commented on #149
v21.3.0 빌드3 버전에서 수정되어 close 하겠습니다.

[2021-08-12 07:53] #149 closed, assigned to nobody

[2021-08-12 07:57] jangyoojin opened #152 "[lately][func] 크롬에서 화면 공유가 안되는 문제"
[발생현상]
한 참가자가 화면공유를 하고 있을 때, 다른 참가자(크롬 유저)가 판서를 열었다가 닫으면 판서를 열었다가 닫은 참가자는 이후 화면공유 시 에러가 발생합니다. 화면공유를 하던 참가자가 화면공유를 중지하면 다른 참가자(크롬 유저)가 판서를 열었다가 닫지 않아도 판서가 자동으로 닫힙니다. 이렇게 판서가 닫긴 경우에도 이후 화면공유 시 에러가 발생합니다.

[발생일자]
2021.08.12

[재현경로]
- 발생 환경 : 윈도우os 크롬 브라우저
1. 2명 이상의 참가자가 한 회의에 접속(한명은 크롬을 사용해서 접속)
2. 한 참가자가 화면 공유를 하는 동안, 크롬 유저가 판서를 열고 닫음
3. 화면 공유 하던 참가자는 화면 공유를 중지하고 크롬 유저가 화면공유를 시도
4. 아래와 같은 에러가 발생하거나

[2021-08-12 07:59] ktm526 commented on #145
안드로이드에도 동일 enhancement 요청합니다.

[2021-08-12 08:00] ktm526 commented on #148
안드로이드 app에서도 동일 이슈 발생합니다.

[2021-08-12 08:04] ktm526 opened #153 "[lately] android app 채팅 화면에서 키보드를 내릴 수 있도록 개선 요청"
[발생현상]
android app에서 채팅 화면에 들어갔을 때 키보드가 항상 활성화된 상태로 유지되어 채팅 내역을 보고자 할 때 불편할 수 있음

[발생일자]
2021.08.12

[재현경로]
- 발생 환경 : android app 21.3.0(3)
1. android app으로 접속 후 채팅

[스크린샷 및 동영상 첨부]

[2021-08-12 08:15] ktm526 commented on #101
android app v21.3.0(3)에서도 동일 이슈 발생합니다

[2021-08-12 08:20] dmsgk724 opened #154 "[lately][func] 안드로이드 환경에서 비디오 공유 종료 못함"
[발생현상]
안드로이드 앱에서 비디오 공유를 한 후 종료를 할 버튼이 없다. 우측 상단의 미니뷰를 오래 터치해야 종료 버튼이 나타남.

[발생일자]
2021-08-12
[재현경로]
- 발생 환경 :
1. 비디오 공유를 한다
2. 비디오 공유를 종료할 버튼이 보이지 않는다
3. 우측 상단의 프로필 미니뷰를 오래 터치해야 종료버튼이 나타남

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85989698/129163173-6ae47a10-7c4c-45b9-ba0d-4e964823e758.png)

[2021-08-12 08:35] jungheekang opened #155 "[lately][func] YouTube 비디오 공유 후 종료해도 화면포커스가 비디오 공유을 위해 입장된 video(fellow jister)로 되어있음"
[발생현상]
YouTube 공유 후 종료해도 화면포커스가 비디오 공유을 위해 입장된 video(fellow jister)로 되어있음
비디오 종료 시 방장 화면 또는 공유한 대상자화면으로 포커스가 되면 될것같습니다.
(타일뷰일때는 안보이고 전체화면일때 보여집니다.)

[발생일자]
2021-08-12

[재현경로]
- 발생 환경 : app(21.3.0-3), web
1. 여러명 참가 회의생성
2. 방장 - youtube비디오 공유 - 비디오 공유 종료
3. 참가자 화면 확인 시

[스크린샷 및 동영상 첨부]
- app 화면
![IMG_588695D020B3-1](https://user-images.githubusercontent.com/87403323/129165234-98dec0a6-2169-4954-8402

[2021-08-12 08:49] jungheekang commented on #151
@sajan-dpnm So, is it possible to delete only "Error:", "Reason:" (kor : "Error :", "Reason:") from the error message?

[2021-08-12 09:00] sajan-dpnm commented on #151
yes, it is possible!

[2021-08-12 14:16] theun0524 commented on #104
vmeeting-release-v21.3.0-build-4.apk 로 테스트 부탁합니다.

[2021-08-13 02:25] theun0524 commented on #146
jitsi-meet 과 동일 이슈로 jitsi-meet에 이슈 올리고 수정 기다려야 할 것 같습니다.

[2021-08-13 02:32] #116 closed, assigned to nobody

[2021-08-13 02:38] #144 closed, assigned to nobody

[2021-08-13 02:39] sjhan22 commented on #153
IOS APP에서도 동일한 enhancement 요청합니다.

[2021-08-13 03:04] jungheekang opened #156 "[lately][func]android app에서 회의종료 - app종료 후 다시 회의실 입장 시 본인계정이 여러개 나옴"
[발생현상]
android app에서 회의종료 - app종료 후 다시 회의실 입장 시 본인계정이 여러개 나옴

[발생일자]
2021-08-13

[재현경로]
- 발생 환경  android app(21.3.0-5)
1. 안드로이드 app 실행 - 기존 3인이 참석되어있는 A 회의실 참석
2. 회의나가기 - back key로 어플종료
3. 안드로이드 app 실행 - 기존 A 회의실 재진입 시

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/87403323/129299712-b1875d13-135a-4be5-aaee-67308dbf7a9d.mp4

[2021-08-13 03:21] jungheekang opened #157 "[lately][UI]android에서 vmeeting app 실행 시 noti bar에 app 아이콘 변경 필요"
[발생현상]
[lately][UI]android에서 vmeeting app 실행 시 noti bar에 app 아이콘 변경 필요
![image](https://user-images.githubusercontent.com/87403323/129300219-5d0a510f-3cba-41c3-ba8b-71275c87eb31.png)
 ->
<img width="30" alt="스크린샷 2021-08-13 오후 12 17 45" src="https://user-images.githubusercontent.com/87403323/129300445-af522628-197f-41b7-8f4f-ec0eda816275.png">

[발생일자]
2021-08-13

[재현경로]
- 발생 환경 : android a

[2021-08-13 04:42] dmsgk724 commented on #104
잘 작동하여 이슈를 close합니다

[2021-08-13 04:42] #104 closed, assigned to nobody

[2021-08-13 04:43] dmsgk724 commented on #154
세로모드로 화면을 전환할 경우 메뉴창이 나타나는데 가로에서도 화면을 터치할 시 메뉴가 나올 수 있도록 개선하면 좋을 것 같습니다.

[2021-08-13 05:10] dmsgk724 opened #158 "[lately]방장이 방에서 나갈 때 이미 방장이 있으면 지정 후 나가는 기능 없애기"
[발생현상]
현재는 방장이 방에서 나갈 때 이미 또 다른 방장이 있더라도 지정 후에 나갈수 밖에 없습니다. 지정을 할 것인지 선택하는 기능이 있으면 좋겠습니다.

[발생일자]
2021-08-13

[재현경로]
- 발생 환경 :
1.  방장 권한인 참가자가 방에서 나간다
2.지정 후 나가기 기능을 무조건 거쳐야 한다.
3.

[스크린샷 및 동영상 첨부]

[2021-08-13 05:46] dmsgk724 opened #159 "[lately][func]앱에서 로그인한 참석자에게는 무조건 방장 권한이 부여되는 현상"
[발생현상]
이미 방에 방장이 있음에도 불구하고  로그인하고 방에 접속할 시 무조건 방장 권한이 부여됩니다.
Closed된 4번 이슈가 앱에서 적용된 현상입니다.

[발생일자]
2021-08-13

[재현경로]
- 발생 환경 :
1. 방에 이미 기존 방장 존재
2. 로그인하여 앱에서 방에 참석
3. 방장권한이 자동으로 부여됨

[스크린샷 및 동영상 첨부]

[2021-08-13 07:17] jungheekang opened #160 "[lately][func]android app에서 타일뷰 모드일때 스크롤이 되지 않음"
[발생현상]
android app에서 타일뷰 모드일때 스크롤이 되지 않아 아래참가자을 볼수 없음
(iOS app정상적으로 스크롤됩니다.)

[발생일자]
2021-08-13

[재현경로]
- 발생 환경 : android app
1. 7명 이상 참가한 회의실
2. 타일뷰 모드 ON
3. 타일뷰가 스크롤이 되지 않음

[2021-08-13 08:01] #45 closed

[2021-08-13 09:00] SangwooRyu commented on #122
v2.0.0에 수정하고 lately에 반영했습니다. 확인 부탁드립니다.

[2021-08-17 01:09] dmsgk724 commented on #160
정상 스크롤 되는 것 확인하여 이슈 클로즈 합니다

[2021-08-17 01:09] #160 closed, assigned to nobody

[2021-08-17 01:43] ktm526 commented on #156
기존 회의실 재진입이 아닌, 새로 생성한 회의실 진입 시에도 본인 계정이 여러 개 나오는 현상이 발생했습니다.

#158번 이슈를 테스트 하기 위해 다른 참가자 6~7명 가량이 접속해 있던 방에서 back key, 앱의 회의 종료 버튼을 각각 사용하여 회의에서 나온 뒤 다시 재접속을 한 이후 본인 계정이 3개로 보이는 버그가 발생하였습니다. 이후 버그가 발생한 해당 방이 아닌, 새로 생성한 방에 접속을 시도하였는데 이 때도 동일하게 본인 계정이 계속해서 3개로 보입니다.

https://user-images.githubusercontent.com/77431608/129650346-3b242e3b-c76c-4f85-98a1-6a72ded8c25a.mp4

![ezgif com-gif-maker (5)](htt

[2021-08-17 01:45] SangY00n opened #161 "[lately][func] 배경 선택 시에 Desktop Share를 선택하고 '오디오 공유' 체크하여 공유 및 적용을 시도 할 경우 배경이 정상적으로 적용되지 않는 현상"
[발생현상]
배경 선택 시에 Desktop Share를 선택하고 '오디오 공유' 체크하여 공유 및 적용을 시도 할 경우 배경이 정상적으로 적용되지 않고 회색(타일뷰 토글 off 상태) 또는 검은색(타일뷰 토글 on 상태)의 배경이 출력됩니다.

[발생일자]
2021.08.17

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 추가 액션(...) - 배경 선택
2. Desktop Share 선택 - 오디오 공유 체크 - 공유

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/129650450-e5726e89-9132-4bfb-a679-7ff0b6574fed.png)

[2021-08-17 01:46] SangY00n commented on #122
정상 동작함을 확인하였습니다. close 하겠습니다.

[2021-08-17 01:46] #122 closed, assigned to nobody

[2021-08-17 02:07] theun0524 commented on #156
@ktm526 재현 경로 좀 자세히 기술 부탁합니다.

[2021-08-17 04:18] jungheekang commented on #157
21.3.0.-6 확인하였습니다.

[2021-08-17 04:18] #157 closed, assigned to nobody

[2021-08-17 05:01] theun0524 commented on #159
@dmsgk724 수정되었습니다.
Android v21.3.0 build 8287714
iOS v21.3.0 build 7
위 버전에서 확인 후 close 부탁 합니다.

[2021-08-17 05:02] theun0524 commented on #156
@ktm526 수정되었습니다.
Android v21.3.0 build 8287714
iOS v21.3.0 build 7
위 버전에서 수정 확인하고 close 부탁합니다.

[2021-08-17 05:54] dmsgk724 commented on #159
ios와 android모두 testing한 결과 정상적으로 작동하는 것을 확인하여 close합니다.

[2021-08-17 05:54] #159 closed, assigned to nobody

[2021-08-17 06:06] SangY00n commented on #112
2021.08.17 기준
![image](https://user-images.githubusercontent.com/85980653/129671917-0cba6b7c-4c4d-4f59-8e25-abcc9d4f7ebb.png)

위와 같이 오른쪽에 배치된 타일들의 오른쪽 부분만 잘리는 것을 확인하였습니다.

[2021-08-17 06:42] jungheekang commented on #156
Android v21.3.0 build 8287714
iOS v21.3.0 build 7에서 현상 재현안되는거 확인했습니다.

[2021-08-17 06:42] #156 closed, assigned to nobody

[2021-08-17 08:35] SangY00n opened #162 "[lately][func] 카메라 고정 상태에서 판서를 열고 닫았을 때 카메라 화면이 보이지 않는 현상"
[발생현상]
자신을 포함한 회의 참가자들 중 한 명의 카메라 화면을 클릭하여 고정한 상태에서 판서를 열었다가 닫을 경우, 개개인의 카메라 화면을 고정하였을 때 카메라 화면이 보이지 않고 회색 화면이 보입니다. (타일뷰 모드에서는 카메라 화면이 잘 보입니다.)
또한 판서가 다시 열리지 않습니다.

[발생일자]
2021.08.17

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 자신을 포함한 회의 참가자들 중 한 명의 카메라 화면을 클릭하여 고정
2. 추가 액션(...) - 판서 열기
3. 추가 액션(...) -  판서 닫기
4. (타일뷰 토글 off 상태에서) 회의 참가자들 중 한 명의 카메라 화면을 클릭하여 고정
   -> 카메라 화면이 보이지 않음
5. 추가 액션(...) - 판서 열

[2021-08-18 01:29] jungheekang opened #163 "[lately][UI] app 에서 회의실 종료 또는 내보내기 되면 종료 알럿팝업 표시 필요"
[발생현상] app 에서 회의실 종료 또는 내보내기 되면 종료 알럿 표시 필요
web과 동일하게 처리 필요

[발생일자]
2021-08-18

[재현경로]
- 발생 환경 : APP
1. 회의실 모두 종료 될 때
2. 회의실에서 내보내기 되었을때
3. 로비모드에서 수락대기 중 회의종료되었을때

[2021-08-18 02:32] jungheekang opened #164 "[lately][func]APP - 로비 모드 중 참여자목록화면에선 회의입장 거부 버튼이 없음"
[발생현상]
APP - 로비 모드 중 참여자목록화면에선 회의입장 거부 버튼이 없음

[발생일자]
20201 - 08- 18

[재현경로]
- 발생 환경 : APP
1. APP실행 (로그인상태)- 회의실 생성 - 추가액션 - 보안옵션
2. 로비모드 활성화
3. "B" 참가자 회의실 참석 요청
4. 추가액션 - 참가자 목록 화면 상단에 거부 버튼 없음

[스크린샷 및 동영상 첨부]
![KakaoTalk_Photo_2021-08-18-11-10-25](https://user-images.githubusercontent.com/87403323/129826778-a1f80375-ddc5-4766-9371-f13981aee88a.jpeg)

[2021-08-18 02:38] SangY00n commented on #162
#128 이슈와 중복. 이슈 close 하겠습니다.

[2021-08-18 02:38] #162 closed, assigned to nobody

[2021-08-18 02:59] SangY00n opened #165 "[lately][func] 방장이 로비모드 활성화 시 방장만 회의 시간이 초기화되는 현상"
[발생현상]
방장이 로비모드를 활성화 시 방장에게 표시되는 회의 시간이 초기화됩니다.
기존에 회의 참여자들은 회의 시간이 정상적으로 출력되며, 로비모드 활성화 이후 참여한 회의 참여자들은 방장과 동일하게 로비모드 활성화 이후부터의 회의 시간이 출력됩니다.

[발생일자]
2021.08.18

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저, iOS 앱 21.3.0(7)
1. 방장이 추가 액션 - 보안 옵션 - 로비 활성화
2. 회의 시간 확인

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/85980653/129829193-d9459517-785f-4e1b-a779-93286bcaf4c4.mp4

[2021-08-18 03:41] SangY00n opened #166 "[lately][func] APP 에서 방장이 로비 모드 참석 요청을 무시하고 회의를 나갔을 때 발생하는 현상"
[발생현상]
APP 으로 접속한 사용자가 방장.
로비 모드를 활성화한 상태에서 새로운 회의 참여자가 참석 요청을 보냈을 때 방장이 **수락/거부 버튼** 을 누르지 않은 상태로 회의를 나갈 경우 (회의에는 참여자가 한 명 이상 남아 회의실이 사라지지 않아야 합니다),
새로운 회의를 생성하고 로비 모드를 활성화했을 때 **수락/거부 버튼** 이 사라지지 않는 현상이 발생합니다.

[발생일자]
2021.08.18

[재현경로]
- 발생 환경 : iOS APP 21.3.0 (7)
1. APP 사용자(방장)가 회의실 생성
2. 참여자1 회의실 입장
3. APP 사용자(방장)가 로비 모드 활성화
4. 참여자2 회의실 참석 요청
5. APP 사용자(방장) 참석 요청 **수락/거부 버튼** 누르지 않고 회의 나가기 (참

[2021-08-18 04:01] SangY00n opened #167 "[lately][func] 녹화 중 타일뷰를 사용할 경우 비정상적인 타일뷰가 녹화되는 현상"
[발생현상]
녹화 중 타일뷰를 사용할 경우 타일뷰에 회색 공간이 포함된 상태로 녹화되는 현상이 발생합니다.
일부 회의 참여자의 카메라가 보이지 않거나, 잘려서 보이는 등 비정상적으로 녹화됩니다.

[발생일자]
2021.08.18

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저, iOS APP 21.3.0 (7)
1. 녹화 시작
2. 타일뷰 토글 클릭

[스크린샷 및 동영상 첨부]

이 영상은 녹화 시작 후 타일뷰 상태에서 회의실에 한 명 씩 총 16명(방장 포함)이 회의에 참여하는 과정을 녹화한 영상입니다.

https://user-images.githubusercontent.com/85980653/129834747-cb7295fa-35f6-4b7e-b456-3664fd851a5a.mp4

[2021-08-18 08:03] jungheekang opened #168 "[lately][UI] app에서 과거 회의 이력 날짜 표기가 변경 필요"
[발생현상]
app에서 과거 회의 이력 날짜 표기가 변경 필요
금, 8월 06 11:59 오전 -> 8월 6일 오전 11:59

[발생일자]
2021-08-18

[재현경로]
- 발생 환경 : APP
1. app 메인화면의 과거 회의 이력 리스트 일자 확인

[스크린샷 및 동영상 첨부]
![KakaoTalk_Photo_2021-08-18-16-56-23](https://user-images.githubusercontent.com/87403323/129861326-17c80916-3940-4a86-a04b-1c47ab76cff3.jpeg)

[2021-08-18 09:59] jungheekang commented on #168
v21.3.0-build-8298096 정상 표출 확인하였습니다.

[2021-08-18 09:59] #168 closed, assigned to nobody

[2021-08-18 10:04] jungheekang commented on #147
v21.3.0-build-8298096 표시안됨 확인하였습니다.

[2021-08-18 10:04] #147 closed, assigned to nobody

[2021-08-18 12:20] jungheekang commented on #163
v21.3.0-build-8298096 알럿 표출 확인하였습니다.

[2021-08-18 12:20] #163 closed, assigned to nobody

[2021-08-19 02:59] ktm526 commented on #103
v21.3.0 (build 8299464)에서 해결되어 이슈 close 합니다

[2021-08-19 02:59] #103 closed, assigned to nobody

[2021-08-20 04:49] jungheekang opened #169 "[lately][UI] 설정 - 기타 - 방장 "모두 나와같은 설정 상태로" 문구 변경 요청"
[발생현상]
설정 - 기타 - 방장 권한 체크박스메뉴의 "모두 나와 같은 설정 상태로 문구 변경 요청

- 모두 나와 같은 설정 상태로  ->  모두 나와 같은 화면 상태로

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : 전체
1. 회의실 생성 및 입장 (권한 : 방장) - 추가 액션
2. 설정 - 기타 tab - 방장 메뉴

[2021-08-20 04:54] jungheekang opened #170 "[lately][UI]하단 toolbar 채팅아이콘 마우스 오버시 문구 변경 요청"
[발생현상]
하단 toolbar 채팅아이콘 마우스 오버시 문구 변경 요청
- 대화 열기 -> 채팅창 열기
- 대화 종료 -> 채팅창 닫기

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : 전체
1. 회의실 입장 - 하단 툴바의 채팅아이콘 문구

[2021-08-20 05:00] jungheekang opened #171 "[lately][func]로그인된 상태에서 회의 참여하여 설정 - 프로필 tab에 로그인 버튼 표출"
[발생현상]
로그인된 상태에서 회의 참여하여 설정 - 프로필 tab에 로그인 버튼 표출됨
(로그인된 상태면 로그아웃 버튼이 표출되어야됨)
로그인 버튼 누르면 로그인페이지 이동 후 다시 회의로 복귀되고 계속 로그인으로 표출

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : 전체
1. 기 생성되어있던 A회의
2. 로그인상태에서 A회의 참여 - 추가 액션 - 설정
3. 프로필 tab - 하단 인증하기 영역

[스크린샷 및 동영상 첨부]
![Aug-20-2021 14-12-21](https://user-images.githubusercontent.com/87403323/130182698-d30a823b-47ae-4430-9806-470d4d2272bb.gif)

[2021-08-20 05:28] jungheekang opened #172 "[lately][func]로그인상태에서 메인화면의 설정 - 프로필 tab의 이름, 이메일 항목 수정불가 처리 필요"
[발생현상]
로그인상태에서 메인화면의 설정 - 프로필 tab의 이름, 이메일 항목 수정불가 처리 필요

로그인상태에서는 메인화면의 설정 - 프로필tab에서 변경해도 회의에 참석하면 반영되지않고 초기화되어 입력불가 처리 필요

(회의실에서의 추가액션 - 설정 - 프로필tab에서 변경은 회의실에서 보여지는이름이 바뀌므로 유지필요
(계정 정보는 변경되지 않아도 회의실의 이름은 변경 가능함))

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : web 전체
1. 로그인 상태
2. 메인화면 - 설정 - 프로필 tab
3. 이름설정, 이메일설정 항목 변경
4. 회의실 입장 시 변경한 내용으로 표시되지 않고, 기존 계정정보가 표시

[스크린샷 및 동영상 첨부]

[2021-08-20 05:36] jungheekang opened #173 "[lately][func]'모두 나와 같은 설정상태로' 상태에서 방장이 판서 열어도 APP에서 판서 열리지 않음"
[발생현상]
방장설정이 '모두 나와 같은 설정상태로' 설정된 상태에서 방장이 판서을 열어도 app에서는 판서가 열리지 않음

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : android, iOS APP(21.3.0-11)
1. Web에서 회의실 생성 - 추가액션 - 설정 - 기타 tab - '모두 나와 같은 설정 상태로' 항목 체크
2. APP에서 회의실 입장
3. (방장) 추가액션 - 판서 열기 시 app에서는 판서 열리지 않음

[2021-08-20 06:00] jungheekang opened #174 "[lately][UI] 하단 toolbar 메뉴명은 '참가자 목록', 활성화된 창에는 '참석자 목록'으로 표기가 다름"
[발생현상]
하단 toolbar 메뉴명은 '참가자 목록', 활성화된 창에는 '참석자 목록'으로 표기됨
참가자 -> 참석자 변경 필요(참석자로 모두 통일 필요)

[참고자료. 네이버국어사전]
참석 : 모임이나 회의 따위의 자리에 참여함.
참가 : 모임이나 단체 또는 일에 관계하여 들어감.

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : web, app 전체
1. 하단 toolbar 의 '참가자 목록' 선택
2. 측면 '참가자목록' 창 문구 확인 시

[스크린샷 및 동영상 첨부]
- APP
![image](https://user-images.githubusercontent.com/87403323/130187012-0c995b0e-6cae-4577-9784-538d2b7839d5.png)

-

[2021-08-20 09:39] jungheekang commented on #164
21.3.0-11에서 버튼 표시, 동작 확인했습니다.

[2021-08-20 09:39] #164 closed, assigned to nobody

[2021-08-20 09:49] jungheekang commented on #161
@SangwooRyu 안녕하세요. 배경설정 - 화면공유 경로오는게 별도로 있다면 오디오공유 체크박스 disable 부탁드립니다.
화면공유 소스을 같이 쓰는경우는 예외처리 가능한지 검토 부탁드립니다.

[2021-08-20 09:56] jungheekang opened #175 "[lately][UI]로비모드 활성화 상태, 참석자목록에서 수락/거부 버튼 위치 변경 요청"
[발생현상]
로비모드 활성화 상태, 참석자목록에서 회의참석 요청자 수락/거부 버튼 위치 변경 요청
 - 수락,  거부  순서로 변경 필요

[발생일자]
2021-08-20

[재현경로]
- 발생 환경 : web
1. 로비모드 활성화
2. 참여자 회의 참석 요청
3. 참석자 목록 의 참여자요청 목록 확인 시

[스크린샷 및 동영상 첨부]
- 회의 화면에서의 수락/거부 버튼
<img width="221" alt="스크린샷 2021-08-20 오후 6 51 18" src="https://user-images.githubusercontent.com/87403323/130215857-0b2ae799-5650-4a2f-9e5b-fee53d0a5f0b.png">

- 참석자목록에서의 수락/거부 버튼
<im

[2021-08-20 09:59] jungheekang commented on #151
@sajan-dpnm 적용 부탁드립니다. APP에는 적용되어 있습니다.(은실장님)

[2021-08-20 10:10] sajan-dpnm commented on #151
okay

[2021-08-23 03:09] anish9849 commented on #171
Couldn't reproduce this issue on following env. @jungheekang  Could you please check it once again if this bug can be reproduced  ?

Branch: v2.0.0
Commit: 3aabbcad26bf34f0a4d915f1d3a5f8415b9af729

1. OS: Ubuntu(21.04 LTS),  Browsers: [Brave Browser, Chromium]
![Issue#](https://user-images.githubusercontent.com/85114817/130384442-52ef33f1-2631-4b27-915b-58ccf5daaf2f.gif)

2. OS: MacBook(Big Sur),

[2021-08-23 04:17] jungheekang commented on #171
@anish9849 If you attend an existing conference room as a "logged-in attendee," the reality will be reproduced. (moderator X)

[2021-08-23 04:43] anish9849 commented on #171
Ah.. Got the issue. Thank you for the clarification. I will look into it.

[2021-08-23 05:34] jungheekang opened #176 "[lately][UI]회원가입 화면에서 프로필 이미지 설정 영역에 문구 추가 필요"
[발생현상]
회원가입 화면에서 프로필 이미지 설정 영역에 문구 추가 필요
"*프로필 이미지" 추가

[발생일자]
2021-08-23

[재현경로]
- 발생 환경 : 전체
1. 메인화면 - 회원가입 - 회원가입 화면

[스크린샷 및 동영상 첨부]
<img width="167" alt="스크린샷 2021-08-23 오후 2 31 33" src="https://user-images.githubusercontent.com/87403323/130395568-c6520b39-f500-4084-91bb-f92f536da376.png">

[2021-08-23 06:08] anish9849 commented on #175
Please verify at https://github.com/vmeeting-io/jitsi-meet/commit/90f25e12cfab782ed4b9d938d4a3b41c28f5aa6e

[2021-08-24 04:14] jungheekang opened #177 "[lately][func]관리자 콘솔의 [회의관리]에서 "엑셀로 다운로드" 기능 추가"
[발생현상]
관리자 콘솔의 [회의관리]에서 "엑셀로 다운로드"기능 추가

([사이트 관리] 메뉴의 엑셀로 다운로드 기능과 동일한 위치, 동일 기능  추가)
(tab별로 버튼 추가되고, 어느탭에서나 다운로드 시도하여도 종료된 회의, 진행중인 회의 모두 export)

[발생일자]
2021-08-24

[재현경로]
1. 시스템관리자 - 관리자 콘솔
2. 회의관리

- 검색 필드 옆 "검색결과, 삭제, 새로고침 " 한줄아래로 이동(사이트관리 메뉴 처럼)

<img width="320" alt="스크린샷 2021-08-24 오후 1 04 55" src="https://user-images.githubusercontent.com/87403323/130554543-6372f536-53d6-496c-ae6

[2021-08-24 05:42] SangY00n opened #178 "[flagship][func] 개인메시지 보내기 중첩 시 수신자 이름이 바뀌지 않는 현상"
[발생현상]
_참여자1_ 에게 개인메시지 보내기를 시도 중 _참여자2_ 에게 개인메시지 보내기를 시도하면
메시지 입력 창 위에 ' _참여자1_ 에게 개인메시지' 와 같이 수신자 이름이 바뀌지 않고 그대로 유지됩니다.

전송 버튼을 누르면 개인메시지는 참여자2에게 제대로 전송됩니다.

[발생일자]
2021.08.24

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. 참여자1에게 개인메시지 보내기 클릭
- 참여자1의 개인메시지에 회신하기 또는
- 참여자1 더보기(...) - 개인메시지 보내기 또는
- 참가자 목록 - 참여자1 더보기(...) 개인메시지 보내기
2. 참여자2에게 개인메시지 보내기 클릭
- 참여자2의 개인메시지에 회신하기 또는
- 참여자2 더보기(...) - 개인메시지 보내기 또

[2021-08-24 05:49] SangY00n opened #179 "[lately][func] 대화창이 꺼져 있을 때 개인메시지 보내기 시도 시 수신자 이름이 표시되지 않는 현상"
[발생현상]
대화창이 꺼져 있을 때 회의 참여자 중 한 명에게 개인메시지 보내기를 시도하였을 때,
메시지 입력창 위에 '에게 개인메시지'와 같이 수신인의 이름이 표시되지 않습니다.

[발생일자]
2021.08.24

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저
1. (대화창이 열려 있다면) '대화 종료'를 눌러 대화창 닫기
2. 개인메시지 보내기 클릭
- 참가자 더보기(...) - 개인메시지 보내기 또는
- 참가자 목록 - 더보기(...) - 개인메시지 보내기
3. 메시지 입력창 확인

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/130562916-1cf217ce-bd26-4975-bcdb-2f378

[2021-08-24 05:50] sajan-dpnm commented on #179
@SangY00n related with issue 138, solving that issue will solve this issue!

[2021-08-24 06:13] sajan-dpnm commented on #179
upload gif please!

[2021-08-24 06:22] SangY00n commented on #179
![Animation_2021-08-24-15-18-57](https://user-images.githubusercontent.com/85980653/130566194-e30a5732-7ea7-44de-aafc-a90bccbc3d4c.gif)

The text above the message field is '에게 개인메시지', not ' _참가자1_ 에게 개인메시지'.
It must to be ' _참가자1_ 에게 개인메시지'.

[2021-08-24 08:25] sajan-dpnm commented on #179
reverted the code changes and pushed to lately!

[2021-08-24 08:27] sajan-dpnm commented on #176
code changes pushed to lately!

[2021-08-24 08:27] sajan-dpnm commented on #151
code changes to lately!

[2021-08-24 12:20] anish9849 commented on #171
@jungheekang Please verify it.

[2021-08-25 01:45] sajan-dpnm commented on #179
@SangY00n please confirm if it is working now!

[2021-08-25 04:39] SangY00n commented on #179
확인하였습니다. 이슈 close 하겠습니다.

[2021-08-25 04:39] #179 closed, assigned to sajan-dpnm

[2021-08-25 07:19] anish9849 commented on #165
@SangY00n could not reproduce this issue. Could you please verify it on lately ?

[2021-08-25 07:30] SangY00n commented on #165
I think this issue no longer occurs on lately. I will close this.

[2021-08-25 07:30] #165 closed, assigned to anish9849

[2021-08-26 09:11] jungheekang opened #180 "[flagship][func]로비모드상태에서 참석요청 후 회의 비밀번호 입력한뒤 방에 입장시 다른참가자들이 안보임"
[발생현상]
로비모드 상태에서 참석요청 후 회의비밀번호 입력 시도 한뒤 방에 입장시 타 참가자들이 보이지 않음

[발생일자]

[재현경로]
- 발생 환경 :
1. 패스워드 미설정, 로비 모드 설정, A회의실 2명 참석 상태
2. A 참가자 [회의 참석 요청] 클릭
3. [회의 비밀번호 입력] 클릭 - 임의 비밀번호 입력
3. 방장이 A 참가자 수락 시 회의실에 진입되지만 다른 참가자들이 없음

[스크린샷 및 동영상 첨부]

![Aug-26-2021 18-10-55](https://user-images.githubusercontent.com/87403323/130935832-d862a599-5d26-4dec-95f4-882f222ff4f6.gif)

[2021-08-26 10:22] sajan-dpnm commented on #178
code changes were pushed to lately and seems to be working fine in lately. the issue in flagship will be removed once the latest build is used in flagship

[2021-08-27 06:28] SangY00n opened #181 "[lately] 회원가입 버튼 클릭 시 loading 문구 변경 요청"
[발생현상]
회원가입 시 회원 정보 입력 후 회원가입 버튼을 눌렀을 때, 버튼에 'loading회원가입' 이라는 문구가 출력됩니다.
해당 문구를 'loading' 또는 '로드 중'과 같이 변경하는 것이 좋을 것 같습니다.

[발생일자]
2021.08.27

[재현경로]
- 발생 환경 : WindowOS의 모든 웹브라우저
1. 메인 홈페이지에서 회원가입
2. 모든 회원정보 기입 후 회원가입 버튼 클릭
3. 'loading회원가입' 문구 출력

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/85980653/131082193-f8af00bb-87d5-4307-a03b-93f4b70b7281.png)

언어가 한국어일 때
![image](ht

[2021-08-27 07:12] anish9849 commented on #181
@jungheekang Fixed at lately, Please verify it.

[2021-08-27 07:40] anish9849 commented on #172
@jungheekang  Please verify at lately.

[2021-08-27 07:43] SangY00n opened #182 "[flagship][func] 로비모드 활성화-비활성화 시 나타나는 접속자 통계 오류"
[발생현상]
방장 권한을 가진 참가자 중 한 명이 로비모드를 활성화했다가 비활성화할 경우, 접속자 통계에서 방장 권한을 가진 참가자들의 종료 시간과 접속 시간이 기록되며, 이름이 회색으로 출력됩니다.

[발생일자]
2021.08.27

[재현경로]
- 발생 환경 : WindowOS의 모든 웹브라우저
1. 방장 권한을 가진 참가자 중 한 명이 추가 액션(...) - 보안 옵션 에서 로비 활성화했다가 다시 비활성화로 전환
2. 추가 액션(...) - 접속자 통계 확인

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/85980653/131091476-25c5e189-a75b-4a8a-a2f6-cc71a87d4a50.mp4

[2021-08-27 08:08] SangY00n commented on #181
수정 확인하였습니다. 이슈 close 하겠습니다.

[2021-08-27 08:08] #181 closed, assigned to anish9849

[2021-08-27 08:09] SangY00n commented on #178
lately에서 확인하였습니다! 이슈 close 하겠습니다.

[2021-08-27 08:09] #178 closed, assigned to sajan-dpnm

[2021-08-27 09:18] jungheekang commented on #138
@sajan-dpnm 개인메시지 대상이 퇴실하면, 지목된 개인메시지을 해제 해주세요

[2021-08-27 09:19] jungheekang commented on #151
확인하였습니다.

[2021-08-27 09:19] #151 closed, assigned to sajan-dpnm

[2021-08-27 09:20] jungheekang commented on #176
확인했습니다.

[2021-08-27 09:20] #176 closed, assigned to sajan-dpnm

[2021-08-27 09:26] jungheekang commented on #175
확인했습니다.

[2021-08-27 09:26] #175 closed, assigned to anish9849

[2021-08-27 09:31] jungheekang commented on #161
@SangwooRyu 현재 lately에서 알럿메시지가 발생되지 않고 바로 적용되고 있습니다. 아래 내용이 적용이 안된것으로 보여집니다. 확인부탁드립니다.

#250번 이슈의 커멘트입니다.
배경이 공유하려는 화면으로 나오도록 수정하였고, 오디오 공유를 할 수 없도록 직접 수정할 수 없어서 오디오 공유를 체크하는 경우 일단 아래와 같이 경고 메시지가 뜨도록 수정했습니다.
jitsi-meet feat/#250_background_issue 브랜치 https://github.com/vmeeting-io/jitsi-meet/commits/feat/%23250_background_issue

[2021-08-29 14:14] huijjj commented on #177
수정하여 lately에 반영하였습니다. 확인 부탁드립니다

[2021-08-30 01:33] huijjj commented on #177
혹시 파트너 관리 메뉴에도 동일한 수정이 필요할까요?

[2021-08-30 01:35] theun0524 commented on #177
네 모든 목록 화면에 엑셀다운로드 기능 추가 부탁합니다

[2021-08-30 02:41] anish9849 commented on #174
@jungheekang I am little confused with the description of the text, sorry for having poor korean :(.

Are we supposed to change all "참가자"  to "참석자" ?

[2021-08-30 02:49] anish9849 commented on #169
Please verify!

[2021-08-30 02:49] anish9849 commented on #170
Please verify.

[2021-08-30 04:21] jungheekang commented on #174
@anish9849 "참석자" 입니다.

[2021-08-30 04:24] jungheekang commented on #172
확인했습니다.!!!

[2021-08-30 04:24] #172 closed, assigned to anish9849

[2021-08-30 04:24] jungheekang commented on #170
확인했습니다.

[2021-08-30 04:24] #170 closed, assigned to anish9849

[2021-08-30 04:25] jungheekang commented on #169
확인했습니다.

[2021-08-30 04:25] #169 closed, assigned to anish9849

[2021-08-30 04:55] jungheekang commented on #177
@huijjj 희종씨 다운로드 파일명의 날짜가 이상하게 네이밍되는것같은데 확인좀 부탁드립니다.

[2021-08-30 05:58] huijjj commented on #177
YYYY-MM-DD_HH-mm-ss 로 날짜 포맷을 수정하였습니다.

Background list를 제외한 모든 list에 excel 추출을 추가하였습니다.
Background list에는 excel 추출이 필요할 것 같지 않아 일단 추가하지 않았습니다.

수정사항 모두 lately에 반영하였습니다.

[2021-08-30 06:06] sajan-dpnm commented on #138
code changes pushed to lately. 확인 부탁드립니다!

[2021-08-30 07:38] SangY00n opened #183 "[flagship][UI] 녹화 중 REC 아이콘이 사라지지 않고 부적절한 위치에 남아있음"
[발생현상]
녹화 중 화면 상단에 나타나는 빨간색의 REC 아이콘이 마우스를 움직이지 않을 때 사라지지 않고 부적절한 위치에 남아있습니다.

[발생일자]
2021.08.30

[재현경로]
- 발생 환경 : WindowOS의 모든 브라우저 환경
1. 추가 액션(...) - 녹화 시작
2. (마우스 움직이지 않을 때) 화면 상단 확인

[스크린샷 및 동영상 첨부]
![Animation_2021-08-30-16-32-35](https://user-images.githubusercontent.com/85980653/131303002-458a10d9-4ec0-49b9-9d8c-bc5c2d6a0f93.gif)

[2021-08-30 07:41] SangwooRyu commented on #161
lately에 수정되었습니다. 확인부탁드려요

[2021-08-30 07:53] jangyoojin opened #184 "[lately][UI] 채팅창에서 참가자 찾을 때, 키보드로 조작 가능하게 수정 요청"
[발생현상]
채팅창에서 참가자를 '@'를 이용해 찾을 때, 참가자를 클릭해야만 선택됩니다. 마우스를 사용하지 않고 키보드만 이용해 선택할 수 있다면 더 편리할 것 같습니다.
개선 방향
-채팅창에 @를 입력했을 때, 아래와 같이 참가자 목록에 포커스를 주고 키보드 방향 키로 참가자 고르기가 가능하게 수정
-엔터를 쳐서 참가자 선택이 가능하게 수정
=>방향키와 엔터로 개인 메세지를 보낼 참가자가 적용되도록 수정하면 편리할 것 같습니다. 아래 캡쳐와 같이 수정되면 좋겠습니다.

[발생일자]
2021.08.30

[재현경로]
- 발생 환경 :  윈도우 모든 브라우저
1. 채팅창 열기
2. @ 입력하기
3. 메세지 보낼 참가자 이름 클릭하기

[스크린샷 및 동영상 첨부]
![image](https://user-ima

[2021-08-30 07:54] sajan-dpnm commented on #184
i think the selection is completed when you are able to type the participant's name followed by space

[2021-08-30 08:05] sajan-dpnm commented on #184
umm yeah, currently, the pop-up list doesn't support moving in between items

[2021-08-30 08:24] SangY00n commented on #161
확인하였습니다. 이슈 close 하겠습니다.

[2021-08-30 08:24] #161 closed, assigned to SangwooRyu

[2021-08-30 08:30] jangyoojin commented on #184
space로 선택하는 것을 enter 키 입력시에도 되게 수정하는 건 어떨까요?

[2021-08-30 09:13] sajan-dpnm commented on #184
currently the enter key listener is being used to propagate a new chat message, but yes it can be possible to use enter key to select participants when active

[2021-08-31 02:44] jungheekang commented on #138
확인했습니다.

[2021-08-31 02:44] #138 closed, assigned to sajan-dpnm

[2021-08-31 07:10] jungheekang commented on #171
확인했습니다.

[2021-08-31 07:10] #171 closed, assigned to anish9849

[2021-09-01 07:06] SangY00n opened #185 "[lately][UI] 추가 액션(...) 메뉴 아이템들의 마우스 오버 효과 통일 요청"
[발생현상]
추가 액션(...) 에서 메뉴 아이템들 위에 마우스를 오버했을 때 대부분의 아이템들이 텍스트가 나타나지만, '녹화 시작', '라이브 스트리밍 시작', '배경 선택'은 텍스트가 나타나지 않습니다.
또한 '판서 열기'의 경우 '공유문서 열기'로 나타납니다. '판서 열기'로 통일하는 것이 좋을 것 같습니다.

[발생일자]
2021.09.01

[재현경로]
- 발생 환경 : WindowOS의 모든 웹브라우저
1. 추가 액션(...)
2. 메뉴 아이템들의 마우스 오버 효과 확인

[스크린샷 및 동영상 첨부]

![gif](https://user-images.githubusercontent.com/85980653/131627112-403de064-71b4-48a1-9e09-b1501ea7ccad.gif)

[2021-09-03 06:38] jungheekang opened #186 "[lately][func]Voice interruption during screen sharing, the participant's screen continues to be displayed in aud mode"
[발생현상]
Voice interruption during screen sharing, the participant's screen continues to be displayed in inactive mode
- attach file change in inactive mode issue
- Voice cutoff occurs once every 2-3 minutes as of 09/03.

[발생일자]
2021-09-03

[재현경로]
- 발생 환경 :
1. Create a meeting(4 more)
2. screen sharing
3. When checking the voice and screen

[스크린샷 및 동영상 첨부]

https://user-images.githubusercontent.com/

[2021-09-03 07:59] tu-nv commented on #186
@jungheekang can you test again in lately?

[2021-09-03 08:23] jungheekang commented on #186
@tu-nv Same Occurrence

[2021-09-03 08:26] tu-nv commented on #186
@jungheekang I cannot reproduce this. I created similar test with lately and my PC, there is no issue.
Can you also test with meet.jit.si?

[2021-09-03 08:52] jungheekang commented on #186
@tu-nv same happens with https://alpha.jitsi.net/

[2021-09-10 02:23] jungheekang opened #187 "[lately][UI]메인사이트 화면의 매뉴얼 메뉴 기능 변경"
[발생현상]
메인화면 메뉴 기능 변경
 - 첨부된 사진 참고
  1. Features (/auth/page/features) 화면 -> Features 드롭다운 방식
  2. 설정된 언어에 맞게 다운로드, 매뉴얼 google site 연결 설정
      (한국어설정 시 한국어 매뉴얼 다운로드, 구글 매뉴얼 사이트 연결
       영어 (기타 모든 언어) 언어 설정 시 영어 매뉴얼 다운로드, 구글 매뉴얼 사이트 연결)
  3. Supports는 기존 contact us와 동일하게 동작 supports 누르면 이메일로 연결

- 메뉴얼과 연결 URL은 준비되는대로 전달예정이며,
  기능을 구현해놓고 파일은연결은 더미로 해놓고 문서 전달되면 파일수정하는방식으로 진행

[발생현상]
Main screen menu

[2021-09-10 03:54] anish9849 opened #188 "[lately] Enable whiteboard in lately."
[발생현상]

Whiteboard feature disabled at lately.

[Requested Date]
2021-09-10

[2021-09-10 08:59] jungheekang opened #189 "[lately][UI] 언어:영어, "disable everyone's camera" 버튼 문구 통일 요청"
[발생현상]
"disable everyone's camera" 버튼 문구 2곳 통일 요청

1. 타일뷰 - 참가자 설정(...)
   mute video everyone else -> disable video everyone else

<img width="267" alt="스크린샷 2021-09-10 오후 5 50 34" src="https://user-images.githubusercontent.com/87403323/132828702-64b8dd87-75ed-4d84-a6a8-867671f32dcc.png">

2. 참가자 목록 - 추가액션
   stop everyone's video -> disable everyone's video

<img width="310" alt="스크린

[2021-09-10 09:17] jungheekang opened #190 "[lately][UI] 언어 : eng, settings - profile 의 "gravatar" 불필요단어 삭제 요청"
[발생현상]
언어 : eng, settings - profile 의 "gravatar" 불필요단어 삭제 요청

set your gravatar email -> set your email

[발생일자]
2021-09-10

[재현경로]
1. 메인화면 - 셋팅 - 프로필

1. 회의실 - 추가액션 - 셋팅 - 프로필

[스크린샷 및 동영상 첨부]
<img width="584" alt="스크린샷 2021-09-10 오후 6 00 48" src="https://user-images.githubusercontent.com/87403323/132831032-3d9aa466-33b9-4be7-8b57-168402a1a012.png">

[2021-09-10 09:35] jungheekang opened #191 "[lately][UI] 내보내기(kick out) 아이콘, 영어 문구 통일 요청"
[발생현상]
내보내기(kick out) 아이콘, 영어 문구 통일 요청

1. chat ON - 발신자의 설정(...)
  - Kick-out user ->  Kick out
  - Disable Chat for user -> Disable Chat

<img width="254" alt="스크린샷 2021-09-10 오후 6 28 40" src="https://user-images.githubusercontent.com/87403323/132833024-f686507c-0683-4b68-9e45-ab2af4d8b10d.png">

2. 타일뷰 - 참가자의 설정(...)

  -  ![image](https://user-images.githubusercontent.com/87403323/1328

[2021-09-11 12:23] sajan-dpnm commented on #191
pushed to v2.0.0

[2021-09-11 12:49] sajan-dpnm commented on #190
code changes pushed to lately

[2021-09-11 13:05] jungheekang commented on #191
확인했습니다.

[2021-09-11 13:05] #191 closed, assigned to sajan-dpnm

[2021-09-11 13:05] jungheekang commented on #190
확인했습니다.

[2021-09-11 13:05] #190 closed, assigned to sajan-dpnm

[2021-09-11 13:26] sajan-dpnm commented on #189
@jungheekang I think `Mute Video Everyone Else` is the 적당한 expression in English rather than `Disable Video Everyone Else`. So I suggest we keep it as `Mute Video Everyone Else`. In the case of participant's pane, I will change to `Stop Video` -> `Mute Video` and `Stop Video Everyone Else` -> `Mute Video Everyone Else`. Please let me know if you disagree!

[2021-09-14 05:33] anish9849 commented on #187
@jungheekang  Please verify.

[2021-09-14 06:09] jungheekang commented on #187
@anish9849 learn more 선택 시 현재윈도우에서 열리지 않고, 새로운 탭 또는 새로운 윈도우에서 메뉴얼이 열리도록 해주세요

[2021-09-14 06:10] jungheekang commented on #187
@anish9849 그리고 다운로드는 링크연결이 아니고, 파일 다운로드입니다.

[2021-09-14 07:48] jungheekang commented on #187
@anish9849 만약에 가능하다면 APP의 더보기 - 도움말도 google site 메뉴얼이 연동될수있게 조치 부탁드립니다.
![image](https://user-images.githubusercontent.com/87403323/133217329-3c3a7bb6-875f-4076-9453-452a9f071f21.png)

[2021-09-14 08:04] anish9849 commented on #187
This seems to be working.

[2021-09-14 08:12] anish9849 commented on #187
Ok. I will add that in the Mobile APP too.

[2021-09-14 08:52] anish9849 commented on #187
@jungheekang The link has been modified to a pdf link. Please verify.

[2021-09-23 02:37] jungheekang opened #192 "[flagship, lately][func] 타일뷰에서 화자 영상으로 변경되는 모드 disable 요청"
[발생현상]
타일뷰에서 화자 영상이 상위로 변경되는 모드 disable 요청

[발생일자]
2021-09-23

[재현경로]
- 발생 환경 :
1. 타일뷰 - 타 참가자가 말할시 상위로 올라옴

[2021-09-23 03:28] jungheekang commented on #189
@sajan-dpnm Please proceed with the requested state.
1. mute video everyone else -> disable video everyone else
2. stop everyone's video -> disable everyone's video

[2021-09-23 03:34] sajan-dpnm commented on #189
ok

[2021-09-23 05:04] jungheekang opened #193 "[lately][func]참석자 목록 창에 리스트 스크롤 생성되지 않음"
[발생현상]
참석자 목록 창에 리스트 스크롤 생성되지 않음
(소회의실 기능 추가 이후 발생됨)
[발생일자]
2021-09-23

[재현경로]
- 발생 환경 :
1. 참석자 목록 - 참석자가 많은 경우 생성 되지 않음
1. 참석자 목록 - 소회의실이 많이 생성된 경우 스크롤 생성 되지 않음

[2021-09-23 08:05] sajan-dpnm commented on #189
@jungheekang please confirm!

[2021-09-24 01:08] anish9849 commented on #188
Please verify!, it has been enabled again.

[2021-09-24 04:53] jungheekang opened #194 "[lately][func]회의실 방이름 변경해도 참여자목록참의 방이름은 변경되지 않음"
[발생현상]
회의실 방이름 변경해도 참여자목록참의 방이름은 변경되지 않음

[발생일자]
2021-09-24

[재현경로]
1. 회의실 이름 'AAAA' 로 생성
2. 회의실 이름 'BBBB'로 변경
3. 참여자 목록 - 참여자 목록 창의 회의실이름 확인

<img width="671" alt="스크린샷 2021-09-24 오후 1 51 01" src="https://user-images.githubusercontent.com/87403323/134620148-a023d281-af6c-46de-b84d-07d00068a384.png">
시

[2021-09-24 05:07] jungheekang opened #195 "[lately][func]Screens shared with codec VP9 are not displayed on other participants' screens"
[발생현상]
Screens shared with codec VP9 are not displayed on other participants' screens

[발생일자]
2021-09-23

[재현경로]
- Occurrence environment :  chrome v93.xxxx, Lately.vmeeting.kr

1. “A” participant screen sharing
2. The shared screen is not visible on the "B" participant's chrome screen, only a gray screen is displayed.

[2021-09-24 05:09] tu-nv commented on #195
Yep I am working on it, but to be clear, it also happen on VP8 (I tested it). So it is not depend on codec

[2021-09-24 08:50] theun0524 commented on #193
수정완료: lately에서 확인 부탁합니다.

[2021-09-24 08:50] theun0524 commented on #192
수정 완료 : lately에서 확인 부탁합니다.

[2021-09-25 02:57] tu-nv commented on #195
@jungheekang can you test the fix in flagship.vmeeting.kr? (not lately, only flagship.vmeeting.kr). I have tested 20 times with emulated packet loss, the error did not happen anymore

[2021-09-25 03:16] jungheekang commented on #195
@tu-nv It's outside now, so I'll check it out on the flagship server later

[2021-09-26 09:36] tu-nv opened #196 "[lately][recording] Participant position rendered in wrong place"
[발생현상]
Always happen

[발생일자]

[재현경로]
- 발생 환경 :
1. Open a meeting with three participants in lately. E.g., https://lately.vmeeting.kr/trial/test0
2. Open another tab, copy and paste this link bellow to join: https://lately.vmeeting.kr/trial/test0#config.iAmRecorder=true&config.externalConnectUrl=null&config.startWithAudioMuted=true&config.startWithVideoMuted=true&interfaceConfig.APP_NAME="Jibri"&co

[2021-09-27 05:51] jungheekang opened #197 "[flagship][func] 리액션이모티콘 Silence, birthday 동작시 APP에서 화면이 흑화현상 발생"
[발생현상]
리액션이모티콘 Silence, birthday 동작시 APP에서 화면이 흑화현상 발생

[발생일자]
2021-09-27

[재현경로]
- 발생 환경 : APP (21.2.0 build11)(flagship)
1. web, app 접속
2. web에서 말하기버튼의 리앤션 이모티콘 Silence, birthday 선택
3. app 흑화현상 발생

[2021-09-27 05:52] jungheekang commented on #193
확인했습니다.

[2021-09-27 05:52] #193 closed, assigned to theun

[2021-09-27 05:58] jungheekang commented on #192
확인하였습니다.

[2021-09-27 05:58] #192 closed, assigned to theun

[2021-09-27 06:02] jungheekang commented on #189
@sajan-dpnm
<img width="320" alt="스크린샷 2021-09-27 오후 3 02 02" src="https://user-images.githubusercontent.com/87403323/134852821-f14f803e-8140-4033-aaad-34d730f26f55.png">

[2021-09-27 06:03] jungheekang commented on #189
@sajan-dpnm Please change word "mute video -> disable video"

[2021-09-27 06:06] jungheekang commented on #188
확인했습니다.

[2021-09-27 06:06] #188 closed, assigned to anish9849

[2021-09-27 06:37] jungheekang opened #198 "[lately][func][소회의실] 소회의실에서 메인회의실로 이동시 임의 회의실로 이동됨"
[발생현상]
참가자가 소회의실에서 메인회의실로 이동시 메인회의실이 아님 임의 회의실로 이동됨

[발생일자]
2021-09-27

[재현경로]
- 발생 환경 :
1. a참가자 1번소회의실로 이동
2. a참가자 메인회의실로 이동 시

[2021-09-28 06:54] jungheekang opened #199 "[lately][func]화면 공유 상태에서 생일모자AR적용 후 화면공유 해제하면 영상, 화면공유 표출되지 않음"
[발생현상]
화면 공유 상태에서 생일모자AR적용 후 화면공유 해제하면 영상, 화면공유 표출되지 않음

[발생일자]
2021-09-28

[재현경로]
- 발생 환경 :
1. A참가자 "화면공유" -> "생일모자 AR" -> "화면공유 해제" -> "생일모자 AR"
2. B참가자 화면에선 A참가자의 프로필만 보여짐, 화면공유해도 회색화면만 나옴

![제목 없음](https://user-images.githubusercontent.com/87403323/135037805-e20c0d95-ce76-4fad-91eb-ad8e20de83e9.png)

[2021-09-29 06:08] theun0524 commented on #196
수정완료. lately에서 확인 부탁합니다.

[2021-09-29 06:09] #196 closed, assigned to nobody

[2021-09-29 06:10] theun0524 commented on #158
수정완료. lately에서 확인 바랍니다.

[2021-09-29 06:11] theun0524 opened #200 "[lately] file share feature needed."
[발생현상]
파일 공유 기능이 없음.
채팅 창에 파일 공유 기능 추가해주세요.

[발생일자]

[재현경로]
- 발생 환경 :
1.
2.
3.

[스크린샷 및 동영상 첨부]

[2021-09-30 00:25] theun0524 commented on #182
수정완료. lately에서 확인 부탁합니다.

[2021-10-06 07:01] jungheekang opened #201 "[lately][func] 참가자목록의 참가자 추가메뉴가 브라우져 사이즈 줄이면 표출되지 않음"
[발생현상]
참가자목록의 참가자 추가메뉴가 브라우져 사이즈 줄이면 표출되지 않음

브라우저를 작게 줄여도 참가자 목록창은 작아지지 않는데 메뉴가 표출되지 않음

[발생일자]
2021-01-06

[재현경로]
1. 참가자 3명이상
2. 참가자목록 ON - 브라우저 축소 - 참가자목록의 다른참가자이름 마우스오버 시

[스크린샷 및 동영상 첨부]

<img width="612" alt="스크린샷 2021-10-06 오후 3 59 11" src="https://user-images.githubusercontent.com/87403323/136155046-31f485ca-5826-4e40-b30e-b72bc2700435.png">

[2021-10-06 07:04] jungheekang opened #202 "[lately][func]APP에서 투표기능 표출 되지 않음"
[발생현상]
APP에서 투표기능 표출 되지 않음

[발생일자]
2021-10-06

[재현경로]
1. APP - 채팅창 ON

[2021-10-06 07:08] jungheekang opened #203 "[lately][func]투표기능에서 항목추가 후 입력하지 않을 시 발생되는 알럿의 영어문구 없음"
[발생현상]
투표기능에서 항목추가 후 입력하지 않고 완료 버튼 선택시 발생되는 알럿에 영어문구 없음

[발생일자]
2021-10-06

[재현경로]
0. 브이미팅 설정 언어 : 영어
1. 투표생성 - 제목입력
2. 2개의 항목 입력 후 항목추가
3. 완료시 발생되는 알럿 문구

[스크린샷 및 동영상 첨부
![스크린샷 2021-10-06 오후 4 06 59](https://user-images.githubusercontent.com/87403323/136155996-64145cf8-8071-4751-b63c-0865aeab3e55.png)
]

[2021-10-06 07:26] jungheekang opened #204 "[lately][UI] 생일모자AR 메뉴 삭제 요청"
[발생현상]
생일모자AR 메뉴 삭제 요청
flagship, lately서버

[발생일자]
2021-10-06

[재현경로]
- 발생 환경 :
1. 추가액션 - 생일모자AR 메뉴 삭제

[스크린샷 및 동영상 첨부]
<img width="269" alt="스크린샷 2021-10-06 오후 4 22 10" src="https://user-images.githubusercontent.com/87403323/136158506-950b02cf-964b-4ebb-8eb3-759632499632.png">

[2021-10-06 07:58] jungheekang opened #205 "[lately][UI]리액션 기능의 조용, 축하 문구 변경 필요"
[발생현상]
리액션 기능의 이모티콘의 표시 이름 변경 필요

[한국어]
- silence -> 조용
- toolbar.birthday -> 축하

[영어]
- toolbar.birthday -> Congrats

[발생일자]
2021-10-06

[재현경로]
1. 리액션 토글 - 리액션 아이콘에 마우스 오버시 표시되는 문구

[스크린샷 및 동영상 첨부]
![스크린샷 2021-10-06 오후 4 52 32](https://user-images.githubusercontent.com/87403323/136162974-b7298301-c4f3-446b-936a-111850904d89.png)

[2021-10-07 05:05] jungheekang commented on #189
@sajan-dpnm  Please change the comment text above.

[2021-10-07 05:24] anish9849 commented on #197
@jungheekang The issue has been fixed on release 21.3.1. Please check the release on testflight for ios and for andorid apk file, please check the slack room. Thanks.

[2021-10-07 06:19] jungheekang commented on #197
@anish9849 The Android version doesn't seem to have been fixed yet. please check.
ios issue has been fixed.

[2021-10-07 06:24] sajan-dpnm commented on #189
I pushed some code changes and it currently shows the text as below:

![image](https://user-images.githubusercontent.com/72065079/136330386-27889b23-5dc5-49de-b48a-dc6156490478.png)

![image](https://user-images.githubusercontent.com/72065079/136330481-1fbe20e7-8952-4498-819c-99c8e1a5c059.png)

**Please confirm if it is the same for you**

[2021-10-07 06:25] sajan-dpnm commented on #204
@jungheekang Removed the option, please confirm

![image](https://user-images.githubusercontent.com/72065079/136330747-76c35dda-ce95-4241-ac83-3d0812f4a24d.png)

[2021-10-07 06:27] jungheekang commented on #189
@sajan-dpnm 확인했습니다. 감사합니다.

[2021-10-07 06:27] #189 closed, assigned to sajan-dpnm

[2021-10-07 07:45] jungheekang opened #206 "[lately][func]타이머 디폴트 시간이 9sec로 되어 있음. 00로 변경 필요"
[발생현상]
타이머 디폴트 시간이 9sec로 되어 있음. 00로 변경 필요

- 디폴트
00 min   00 sec

[발생일자]
2021-10-07

[재현경로]
- 발생 환경 :
1. 참가자목록 - 더보기 - 타이머

[스크린샷 및 동영상 첨부]

<img width="240" alt="스크린샷 2021-10-07 오후 4 43 21" src="https://user-images.githubusercontent.com/87403323/136341303-4ec50322-72fc-4eb4-a07c-02cd8f10407e.png">

[2021-10-07 07:51] jungheekang opened #207 "[lately][func]타이머 59분 59초 초과될때 알럿표시 변경"
[발생현상]
타이머 59분 59초 초과될때 알럿표시 변경
59분 59초 초과될때 숫자인풋박스에 알럿 아이콘발생 -> 아이콘 삭제, 59분 이상 입력하면 59로 변경
클릭으로 숫자 변경시에도 59이상은 들어가지 않게 변경

[발생일자]
2021-10-07

[재현경로]
- 발생 환경 :
1. 참가자목록 - 더보기 - 타이머
2. min 인풋박스에 60넘게 입력, sec 인풋박스에 60넘어가게 입력 시

[스크린샷 및 동영상 첨부]
<img width="245" alt="스크린샷 2021-10-07 오후 4 49 59" src="https://user-images.githubusercontent.com/87403323/136342340-3eccd186-8add-4951-9b9d-1eee2e4a39

[2021-10-07 07:53] anish9849 commented on #197
What is the build no of the andorid app ?

[2021-10-07 08:02] jungheekang commented on #197
21.3.1 build 8728630

[2021-10-07 08:17] jungheekang opened #208 "[lately]투표기능에 제목, 항목 입력 가능 자릿수 및 항목생성 갯수 지정 필요"
[발생현상]
투표기능에 제목, 항목 입력 가능 자릿수 및 항목생성 갯수 지정 필요

- 제목 : 112자, 항목 : 56자 (한글기준)
- 항목생성 총 10개 제한(기본 2개포함, 추가 8개만 생성가능)

[발생일자]
2021-10-07

[재현경로]
1. 투표기능의 제목 입력박스 자릿수
2. 항목 입력박스 자릿수

[2021-10-08 01:42] jungheekang opened #209 "[lately, flagship][func] 참가자목록 - 모두 음소거, 모두 비디오 끄기 팝업의"allow attendees to unmute themselves"기능 삭제 필요"
[발생현상]
참가자목록 - 모두 음소거 팝업의"allow attendees to unmute themselves"기능 삭제 필요
참가자목록 - 모두 비디오끄기 팝업의"allow attendees to start their video"기능 삭제 필요
- 해당 기능 동작되지 않음
- OFF했을때 문구가 영어로 바뀜

[발생일자]
2021-10-08

[재현경로]
- 발생 환경 :
1. 참가자 목록
2. 모두 음소거 - 음소거 팝업의 "allow attendees to unmute themselves" 기능 ON/OFF

1. 참가자 목록 - 더보기
2. 모두 비디오 끄기 -  팝업의 "allow attendees to start their video" 기능 ON/OFF

[스크린샷 및 동영상 첨부]
https:

[2021-10-08 02:34] jungheekang opened #210 "[lately][func]관리자콘솔 페이징기능 리스트표시 오류"
[발생현상]
관리자콘솔 페이징기능 리스트표시 오류현상
한화면에 20/50/100개씩 리스트 보여주는게 동작되지 않음
20개 선택해도 리스트는 10개만표시됨

[발생일자]
2021-10-08

[재현경로]
- 발생 환경 :
1. 관리자 권한 아이디 로그인
2. 관리자 콘솔 - 사용자관리
3. 하단 페이지셀렉트박스 선택 시

[스크린샷 및 동영상 첨부]
![스크린샷 2021-10-08 오전 11 32 56](https://user-images.githubusercontent.com/87403323/136489065-b45da3a7-051d-4a16-9bc1-ba7caa65c64c.png)

[2021-10-08 02:49] jungheekang opened #211 "[lately][func]라이센스 수 만큼 회의를 생성한 상태에서 로그인한 사용자가 회의참여 시도 시 라이센스 에러 발생"
[발생현상]
라이센스 수 만큼 회의를 생성한 상태에서 로그인한 사용자가 회의참여 시도 시 라이센스 에러 발생

[발생일자]
2021-10-08

[재현경로]
- 발생 환경 :
1. 관리자 콘솔
2. 사이트 관리 - 라이센스 수 : 2, 회의당 참여자 수 : 100 설정 , 사용자목록 : 5명 등록
3. 사용자 5명 모두 로그인
4. A사용자 A 회의실 생성, B사용자 B회의실 생성
5. C사용자 A 회의실 입장 시 라이센스 오류 발생

[2021-10-08 03:12] jungheekang opened #212 "[flagship][func]모두 음소거 하면 타 참가자화면 알림에 이름이 누락되어 표시됨"
[발생현상]
모두 음소거 하면 타 참가자화면 알림에 이름이 누락되어 표시됨
한국어만 이름이 누락되어 표시됨, 영어는 정상표시됨

[발생일자]
2021-10-08

[재현경로]
- 발생 환경 :
1. 참가자 목록
2. 모두음소거 버튼 선택시

[스크린샷 및 동영상 첨부]
![스크린샷 2021-10-08 오후 12 10 35](https://user-images.githubusercontent.com/87403323/136492435-42cb24c2-ea5e-41fa-b69d-97d012236247.png)

[2021-10-08 03:22] jungheekang opened #213 "[lately][func]방장에 의해 disable video되면 알림이 발생되지 않음"
[발생현상]
방장에의해 disable video되면 알림이 발생되지 않음
참가자목록의 전체비디오 끄기, 참가자 메뉴의 비디오끄기 두가지 모두 알림 발생되지 않음

mute는 알림처럼 알림이 발생되면 좋을것같습니다.

[발생일자]
2021-10-08

[재현경로]
1. 참가자목록 - 더보기 - 카메라 모두 끄기

1. 참가자 메뉴 - 카메라 끄기

[2021-10-08 04:01] anish9849 commented on #174
@jungheekang  Please verify this on new release 21.3.1.

[2021-10-08 07:01] sajan-dpnm commented on #206
@jungheekang code changes pushed to lately. please confirm

[2021-10-08 07:02] sajan-dpnm commented on #207
@jungheekang code changes pushed to lately, please confirm

[2021-10-08 07:10] jungheekang commented on #207
@sajan-dpnm 확인했습니다.

[2021-10-08 07:10] #207 closed, assigned to anish9849

[2021-10-08 08:04] jungheekang commented on #206
확인했습니다.

[2021-10-08 08:04] #206 closed, assigned to anish9849

[2021-10-08 08:05] #177 closed, assigned to huijjj, anish9849

[2021-10-08 08:27] jungheekang commented on #197
확인했습니다.

[2021-10-08 08:27] #197 closed, assigned to anish9849

[2021-10-08 08:41] jungheekang commented on #187
@anish9849 app - 도움말 누르면 매뉴얼 site 연결될수있게 조치 부탁드립니다.

[2021-10-08 08:49] #139 closed, assigned to nobody

[2021-10-09 05:52] sajan-dpnm commented on #212
![image](https://user-images.githubusercontent.com/72065079/136645924-5a35e75f-6164-4a84-ad64-4ef9459cac06.png)

@jungheekang
Code changes pushed to lately! please confirm

[2021-10-10 04:57] anish9849 commented on #205
@jungheekang Please verify!

[2021-10-11 14:04] jungheekang commented on #212
확인했습니다.

[2021-10-11 14:04] #212 closed, assigned to sajan-dpnm

[2021-10-11 14:05] jungheekang commented on #205
확인했습니다.

[2021-10-11 14:05] #205 closed, assigned to anish9849

[2021-10-12 07:51] theun0524 commented on #211
수정완료) lately에 적용했습니다.

[2021-10-12 07:51] theun0524 commented on #209
수정완료) lately에 적용했습니다.

[2021-10-12 08:03] theun0524 commented on #203
이 문구는 브라우저가 표시하는 문구입니다.
즉, 브라우저 언어(크롬) 또는 OS 언어(Safai) 설정에 따라 표시됩니다.

[2021-10-12 08:13] theun0524 commented on #201
화면이 512보다 작아지면 참가자 컨텍스트 메뉴를 표시하지 않도록 하는 것이 디자인 컨셉입니다.
즉, 데스트탑에서는 동작시키고 패드나 모바일에서는 동작되지 않도록 설계되어 있습니다.

[2021-10-12 08:37] #209 closed, assigned to nobody

[2021-10-12 08:39] #201 closed, assigned to nobody

[2021-10-12 08:40] #203 closed, assigned to nobody

[2021-10-13 05:23] jungheekang commented on #174
@anish9849  "참석자" 수정해달라고 요청했는데 모두(web,app) "참가자"로 수정되어 있습니다.

[2021-10-13 06:02] theun0524 commented on #210
수정완료) lately 에 적용됨.

[2021-10-13 06:22] #211 closed, assigned to theun, theun0524

[2021-10-13 06:23] #210 closed, assigned to nobody

[2021-10-13 06:25] #182 closed, assigned to nobody

[2021-10-13 06:27] jungheekang commented on #152
VP9의 크롬 이슈. vmeeting은 vp8으로 고정으로 변경

[2021-10-13 06:27] #152 closed, assigned to nobody

[2021-10-15 02:47] jungheekang opened #214 "[lately][func] 계정설정, 관리자콘솔 - 사용자정보에 생일 정보 편집기능 없음. 생일정보 추가 요청"
[발생현상]
계정설정, 관리자콘솔 - 사용자정보에 생일 정보 편집 기능 없음. 생일정보 추가 요청

* 계정설정
- 계정설정 추가 문구
(kor) 생일정보는 회의 내 생일 알림, 생일 모자 AR적용에만 사용됩니다.
(eng) Birthday info will only be used for birthday noti  and birthday hat AR in meeting room

<img width="425" alt="스크린샷 2021-10-15 오전 11 37 51" src="https://user-images.githubusercontent.com/87403323/137423782-299d67a1-8c08-4c2a-b92b-2e7d2b9f896b.png">

* 관라자콘솔 - 사용자정보

[2021-10-15 03:01] jungheekang opened #215 "[lately][UI] 회원가입 생일입력 문구 변경 요청"
[발생현상]
 회원가입 생일입력 문구 변경 요청

- Kor
생일정보는 생일모자 AR에 사용되며, 그외에는 사용되지 않습니다.
-> 생일정보는 회의 내 생일 알림, 생일 모자 AR적용에만 사용됩니다.

- Eng
Birthday info will only be used for implementing AR hat.
-> Birthday info will only be used for birthday noti and birthday hat AR in meeting room.

[발생일자]
2021- 10-15

[재현경로]
1. 메인사이트 - 회원가입

[첨부파일]
<img width="419" alt="스크린샷 2021-10-15 오전 11 48 01" src="https://user-imag

[2021-10-15 06:07] #174 closed, assigned to anish9849

[2021-10-15 07:26] sajan-dpnm commented on #214
@jungheekang the birthdate field in account settings should be editable right? but the birthdate field in admin console-> user manage should be uneditable right?

[2021-10-15 07:29] jungheekang commented on #214
@sajan-dpnm I think both should be editable. please make it editable

[2021-10-15 09:03] sajan-dpnm commented on #200
A prototype implementation of the file sharing feature has been pushed to the Vmeeting implementation in lately.
![image](https://user-images.githubusercontent.com/72065079/137458199-4c687fd5-3b5f-4266-b39f-1c52470d454e.png)

whereby users can share a file in a chatroom by clicking on the file icon inside the chat input field. Since this is a prototypic implementation that was completed without an

[2021-10-18 02:04] sajan-dpnm commented on #155
@jungheekang this issue has been fixed and confirmed by @anish9849 that this issue is no longer seen in the new build. @jungheekang Please confirm

[2021-10-18 02:27] jungheekang opened #216 "[lately] 회원가입 시 간편 회원가입(카카오톡, 구글, 네이버, 페이스북 등) 추가"
[발생현상]
회원가입 시 간편 회원가입(카카오톡, 구글, 네이버, 페이스북 등) 추가
(회원가입 경로 다양화)

[발생일자]
2021-10-18

[재현경로]
1. 메인페이지 - 회원가입

[스크린샷 및 동영상 첨부]
<img width="257" alt="스크린샷 2021-10-18 오전 11 25 20" src="https://user-images.githubusercontent.com/87403323/137659989-eddd8983-127c-46de-a2a6-867d1cf99584.png">

[2021-10-18 06:52] jungheekang commented on #200
@sajan-dpnm  I will answer the questions above.

1. Image, video, audio, document, zip file
   (Generally, it refers to an extension that is used a lot. Rare extensions do not need to be included.)

2. Please allow all participants to upload

3. Please limit the upload to 300mb

4. Set the storage location at the same level as the meeting recording storage location.

5. First (for the time being),

[2021-10-18 06:58] jungheekang opened #217 "[lately][UI] 채팅창에 파일업로드 아이콘 추가되어 이모티콘 박스가 옆으로 밀려나있음"
[발생현상]
채팅창에 파일업로드 아이콘 추가되어 이모티콘 박스가 옆으로 밀려나있음

[발생일자]
2021-10-18

[재현경로]
1.  채팅창
2. 이모티콘 버튼

[스크린샷 및 동영상 첨부]
<img width="326" alt="스크린샷 2021-10-18 오후 3 55 11" src="https://user-images.githubusercontent.com/87403323/137682966-a39284fa-f60c-4a65-9590-b803d24b75f4.png">

[2021-10-18 07:35] sajan-dpnm commented on #214
Code changes pushed to lately. Requesting @jungheekang for further tests

![image](https://user-images.githubusercontent.com/72065079/137687636-95a8a277-1ea3-4234-ba56-905e314b6bbe.png)

![image](https://user-images.githubusercontent.com/72065079/137687732-52eba4ac-c3c0-45a0-84b4-f75669cc5cd1.png)

[2021-10-18 07:46] jungheekang commented on #200
@sajan-dpnm
Please implement it like the attached picture.

<img width="306" alt="image" src="https://user-images.githubusercontent.com/87403323/137689412-2935df16-b61e-4471-83ba-3bd51f6abcb7.png">

[2021-10-18 08:03] jungheekang commented on #200
@sajan-dpnm
1. Fixed box width and height
2. word
    eng) Size
    kor) 용량

[2021-10-18 08:04] jungheekang opened #218 "[lately][UI] 파일 업로드 시 한국어 깨짐 현상"
[발생현상]
파일 업로드 시 한국어 깨짐 현상

[발생일자]
2021-10-18

[재현경로]
1. 한글로 된 문서 업로드 시

[스크린샷 및 동영상 첨부]
<img width="262" alt="스크린샷 2021-10-18 오후 4 59 25" src="https://user-images.githubusercontent.com/87403323/137691960-c80dac37-66ac-4c29-bee3-a8f8c0fd728c.png">

[2021-10-18 08:17] sajan-dpnm commented on #215
Code changes pushed to lately. Please confirm @jungheekang

![image](https://user-images.githubusercontent.com/72065079/137693750-7af3dbc7-9378-43b6-83ae-78f8b81e20ff.png)

![image](https://user-images.githubusercontent.com/72065079/137693842-f7056654-9a44-4d80-9134-35fb73b7d4eb.png)

[2021-10-18 08:26] jungheekang commented on #216
@anish9849

<img width="927" alt="image" src="https://user-images.githubusercontent.com/87403323/137695354-714d17a4-3ae6-421d-b7b1-76af1296da05.png">

[2021-10-18 08:29] jungheekang commented on #216
@anish9849 Please refer to "vmeeting.kr", registration and login to add login Account linkage.

[2021-10-18 08:40] jungheekang commented on #200
@anish9849 @sajan-dpnm Upload and download should work in the same way in the APP.

[2021-10-18 08:48] jungheekang commented on #215
good

[2021-10-18 08:48] #215 closed, assigned to sajan-dpnm

[2021-10-18 11:05] sajan-dpnm commented on #217
Code changes pushed to lately. Please confirm @jungheekang
![image](https://user-images.githubusercontent.com/72065079/137719338-b311e1f1-a1ee-4b24-a6c1-40ed4be7fe11.png)

[2021-10-18 13:27] sajan-dpnm commented on #218
Code changes pushed to lately. Please confirm @jungheekang

![image](https://user-images.githubusercontent.com/72065079/137740614-23071965-abdd-4b61-9c5e-c708db17f0ee.png)

[2021-10-19 03:05] #217 closed, assigned to sajan-dpnm

[2021-10-19 03:07] #218 closed, assigned to sajan-dpnm

[2021-10-19 03:16] jungheekang commented on #214
@sajan-dpnm Please change the language according to the language setting

[2021-10-19 03:20] jungheekang commented on #214
@sajan-dpnm If you delete the date by pressing the X (Delete) button in the calendar area and save it, it is displayed like an attached file image.
<img width="500" alt="스크린샷 2021-10-19 오후 12 15 11" src="https://user-images.githubusercontent.com/87403323/137838421-ccad5274-d3ed-4985-ad50-c094ef01491c.png">

[2021-10-19 03:30] jungheekang commented on #214
@sajan-dpnm
Meeting Room - Settings - Profile tab - birthday If you delete the date and save the data by clicking the OK button, an error occurs in Account Setting - Birthday's Calendar and Admin Console.
<img width="646" alt="스크린샷 2021-10-19 오후 12 26 33" src="https://user-images.githubusercontent.com/87403323/137839199-a40a6835-be31-4361-9a87-712813276213.png">

[2021-10-19 03:33] #204 closed, assigned to sajan-dpnm

[2021-10-19 03:34] jungheekang commented on #187
확인했습니다. good!!

[2021-10-19 03:34] #187 closed, assigned to anish9849

[2021-10-19 03:46] #155 closed, assigned to sajan-dpnm

[2021-10-19 03:54] sajan-dpnm commented on #214
@jungheekang that's right. Because the date is now updated to empty date, it will show as an empty string, which will result to `Invalid Date`. However, account user and Admin from the admin console can assign a new birthdate by typing in the format `YYYY-MM-DD` which will assign a new date to the participant.

[2021-10-19 03:56] sajan-dpnm commented on #214
@jungheekang

I didn't get what you meant!

[2021-10-19 04:04] sajan-dpnm commented on #214
@jungheekang

![screen-capture](https://user-images.githubusercontent.com/72065079/137841977-be0a2ae6-6d55-4cad-9313-fcd1f3f4f081.gif)

[2021-10-19 04:08] jungheekang commented on #214
If the system language is English, the calendar is displayed in English. If the system language is Korean, it is displayed in Korean.

All are now displayed in Korean.
<img width="500" alt="스크린샷 2021-10-19 오후 12 15 11" src="https://user-images.githubusercontent.com/87403323/137842450-84265535-a1c2-43de-8a63-47c5d487233f.png">
![스크린샷 2021-10-19 오후 1 10 53](https://user-images.github

[2021-10-19 04:12] jungheekang commented on #214
@sajan-dpnm If there is no value in the calendar input box, check it when saving to prevent it from being saved. Display an alert or previous value

[2021-10-19 04:16] sajan-dpnm commented on #214
@jungheekang You said that birthday input is not a required field during user registration. But now you want to prevent the user from saving an empty date value?

[2021-10-19 05:01] jungheekang commented on #214
@sajan-dpnm In a situation where the date is stored, if the user just clears the value and does not enter it,
It means to notify you that there is no date entered or to enter a value before deletion.

[2021-10-19 05:11] jungheekang commented on #214
@sajan-dpnm
So let's do this.
The default value for the date of birth is 1980-01-01.
If you delete the date of birth and save it, set it as the default value.
Also, please set the birthday date of all members as 1980-01-01.
Then, the birthday data of all members will be displayed on the admin console.

[2021-10-19 05:42] sajan-dpnm commented on #214
@jungheekang okay, i will look into it

[2021-10-19 12:20] anish9849 commented on #200
@jungheekang It is pretty hard to keep track of tasks if you assign it comments. How about making it a separate issue or use of other platform to keep track of issues and ongoing tasks ?

[2021-10-19 12:24] jungheekang commented on #200
@anish9849 Shall we make it a "file share" channel in Slack?

[2021-10-19 12:38] anish9849 commented on #200
@jungheekang Although I have never used it, I would prefer to try platforms like Jira. The simplest solution would be to create it as a separate issue.  Furthermore, if we decide to stick with github issues, I think we should have some sort of labels signifying the level of urgency of the issue. For e.g., I never knew that File Sharing feature is to be completed by the end of this months until @sa

[2021-10-19 13:02] jungheekang commented on #200
@anish9849 The introduction of a new platform or tool will be decided after consulting with Director Eun. And first of all, I will arrange it tomorrow so that it can be managed by adding priority and schedule (milestone) labels on GitHub.

[2021-10-20 00:44] anish9849 commented on #200
ok.

[2021-10-25 06:12] jungheekang opened #219 "[lately][func] 사파리 브라우저에서 화면공유 시 카메라 ON 설정 불가 요청"
[발생현상]
사파리 브라우저에서 화면공유 시 카메라 ON 설정 불가 요청
(화면공유 시 카메라 비활성화 처리 요청)

[발생일자]
2021-10-25

[재현경로]
1. MAC OS의 사파리 브라우저(safari)
2. 화면 공유 시 카메라ON 불가 요청

[2021-10-25 08:52] theun0524 commented on #219
lately에 수정/반영했습니다. 사파리 브라우저에서 화면 공유시 카메라 토클 버튼을 숨김.

[2021-10-25 08:56] jungheekang commented on #195
해당 이슈 해결완료.
(크롬브라우저, VP8 아님)

[재현경로]
1. 회의생성 - 회의 녹화
2. 화면공유 - A, B, C 참가자 참석
3. 비디오 ON 시 참가자 화면에 공유화면 미표출.

[2021-10-25 08:56] #195 closed, assigned to tu-nv

[2021-10-25 09:06] #80 closed, assigned to nobody

[2021-10-25 09:17] jungheekang opened #220 "[lately][UI]APP의 참가자 목록에서 참가자이름 아래 방장 표시 없음"
[발생현상]
참가자 목록에서 참가자이름 아래 방장 표시 없음

[발생일자]
2021-10-25

[재현경로]
1. APP - 회의참석
2. 참석자목록 - 참석자이름 아래 방장표시 없음

[스크린샷 및 동영상 첨부]
APP
![IMG_6E538B8669C7-1](https://user-images.githubusercontent.com/87403323/138669244-779608c8-fc15-461f-9109-f33538455116.jpeg)

WEB
<img width="285" alt="스크린샷 2021-10-25 오후 6 16 43" src="https://user-images.githubusercontent.com/87403323/138669274-182b28af-e708-4608-8a

[2021-11-15 03:13] jungheekang opened #221 "[lately][func] 채팅창에 파일을 드래그하고 드랍하지 않으면 채팅창에 드래그드랍 문구가 없어지지 않음"
[발생현상]
채팅창에 파일을 드래그하고 드랍하지 않으면 채팅창에 드래그드랍 문구가 없어지지 않음

drop here 밖으로 파일이 없어지면 drop here 영역도 없애주세요

[발생일자]
2021-11-15

[재현경로]
- 발생 환경 :
1. 회의 생성 - 채팅창 활성화
2. 채팅창에 파일을 드래그하고 파일은 놓지 않았을 경우

[스크린샷 및 동영상 첨부]
https://user-images.githubusercontent.com/87403323/141716521-30bb59c5-f82f-4267-b495-18e927d3f72d.mp4

[2021-11-16 06:29] jungheekang opened #222 "[lately][func] APP 에서 회의 참여시 이름입력 팝업이 입력되지 않아도 X 버튼으로 팝업이 닫힘"
[발생현상]
APP 에서 회의 참여 시 이름입력 팝업이 입력되지 않아도 X 버튼으로 팝업이 닫힘

입력되지 않으면 팝업이 닫히지 않게 해주세요

[발생일자]
2021-11-16

[재현경로]
- 발생 환경 : APP
1. 로그안된 APP 사용자(이름 설정안되있는 상태)
2. 회의 참석
3. 이름 입력 팝업에서 이름 입력하지 않고 닫힘 버튼 시 팝업 닫힘

[스크린샷 및 동영상 첨부]
![IMG_79B94385EB52-1](https://user-images.githubusercontent.com/87403323/141933077-e5239052-b22d-4ce9-938d-125ddb515436.jpeg)

[2021-11-16 11:32] jungheekang opened #223 "[flagship][func] ㄷveryone follows me 설정하고 다른방장이 스트리밍한 상태에서 타일뷰 더블클릭하면 타일뷰ON,OFF 계속 반복됨"
[발생현상]
everyone follows me 설정하고 다른방장이 스트리밍한 상태에서 타일뷰 더블클릭하면 타일뷰ON,OFF 계속 반복됨

[발생일자]
2021-11-16

[재현경로]
사전 조건 : 회의실에 6명이상 참석
1. A방장이 settings - More - "everyone follows me" 체크하여 설정
2. B방장이 유튜브스트리밍 시작
3. A 방장이 타일뷰을 더블클릭하면 계속 타일뷰 on,off가 반복됨

[2021-11-16 12:39] jungheekang opened #224 "[lately][func]everyone follows me 방장권한 설정 변경"
1. everyone follows me 설정 권한
   (1명만 everyone follows me 설정 부여 가능)

- case 1
 A방장 everyone follows me 설정 된 상태 -> B방장 스트리밍/녹화 시작 시
  = A방장 everyone follows me 설정 유지

- case 2
 A방장 스트리밍/녹화 시작 시
  = A방장 everyone follows me 설정

- case 3
 A방장 스트리밍/녹화 시작 -> B방장 everyone follows me 설정 시
  = B방장에게 everyone follows me 권한 설정되며, A방장은 설정 해제

2. 수정되어야될 이슈
- 스트리밍/녹화 시작 시 설정 - everyone follows me 체크박스에 체크 되게 수정

[2021-11-17 01:44] jungheekang commented on #224
case3에서 B방장이 설정 해제 한 경우는 다시 A에게 자동으로 다시 설정되게 해줘야될지, 설정이 없는 상태로 유지해야될지가 빠진것같습니다.

제생각에는 설정이 없는상태로 두고, A,B누구나 다시 설정할수있게 하는방향이 좋을것같습니다.

[2021-11-17 03:24] jungheekang opened #225 "[lately][UI] 채팅/투표 창 타이틀 문구에 "/Polls" 문구 추가 필요"
[발생현상]
채팅/투표 창 타이틀 문구에 "/Polls" 문구 추가 필요

영어는 "Chat" -> "Chat/Polls" 변경
(한국어 : "채팅/투표")

[발생일자]
2021-11-17

[재현경로]
1. 채팅창 열기

[스크린샷 및 동영상 첨부]
- 한국어
![스크린샷 2021-11-17 오후 12 20 39](https://user-images.githubusercontent.com/87403323/142128989-a580bc0a-637b-4ef9-bf3f-cc2146288be5.png)

- 영어
![스크린샷 2021-11-17 오후 12 20 55](https://user-images.githubusercontent.com/87403323/142129011-e144

[2021-11-18 05:17] jungheekang opened #226 "[APP] APP에서 썸네일 열기/닫기 버튼 추가 요청"
[발생현상]
APP에서 썸네일 열기/닫기 버튼 추가 요청
- web의 썸네일 열기/닫기 버튼처럼 추가
![스크린샷 2021-11-18 오후 2 16 07](https://user-images.githubusercontent.com/87403323/142356323-8ae4a6c6-8847-46f7-8c42-d47217b953da.png)

[발생일자]
2021-11-18

[재현경로]
1. APP에서 회의 참석 - 핀모드

[스크린샷 및 동영상 첨부]
![KakaoTalk_Photo_2021-11-18-14-04-32 002](https://user-images.githubusercontent.com/87403323/142356145-2321d049-272c-48d0-bf04-04428eaf2

[2021-11-20 12:08] theun0524 commented on #224
아래와 같이 수정했습니다.
- 레코딩/스트리밍 시작시 이미 팔로잉(follow-me) 중이 아니면 자동으로 화면 팔로잉을 시작합니다.
- 내가 화면 팔로잉 권한을 가진 경우, 레코딩/스트리밍 종료시 자동으로 팔로잉을 종료합니다.
- 방장은 누구나 참가자 목록의 컨텍스트 메뉴를 통해서 팔로잉 권한을 가져오거나 다른 사람에게 줄 수 있습니다.
- 화면 팔로잉 권한은 항상 한사람에게만 가능합니다.
- 참가자 목록에 팔로잉 권한을 표시합니다.

[2021-11-24 09:08] jungheekang opened #227 "[lately][func] "내화면 팔로잉" 기능에 따른 PIN, 화면공유 동작 오류에 따른 수정 요청"
[발생현상]
"내화면 팔로잉" 기능에 따른 PIN, 화면공유 동작 오류에 따른 수정 요청

[발생일자]
2021-11-24

[재현 시나리오]
<img width="741" alt="스크린샷 2021-11-24 오후 6 05 37" src="https://user-images.githubusercontent.com/87403323/143207538-dee23d59-56d9-45bd-8641-3cd79ee82abf.png">

[내화면 팔로잉 체크리스트.xlsx](https://github.com/vmeeting-io/vmeeting_issue/files/7594233/default.xlsx)

[2021-11-29 11:07] jungheekang opened #228 "[lately][func]생일날이되면 적용되면 참가자 목록의 추가액션 메뉴와 음소거 메뉴가 생김"
[발생현상]
생일날이되면 적용되면 참가자 목록의 추가액션 메뉴와 음소거 메뉴가 생김

[발생일자]
2021-11-29

[재현경로]
1. 설정 - 생년월일 - 오늘로 설정
2. 참가자목록 - 생일인 참가자 마우스 오버 시 음소거버튼, 추가액션 버튼 2개 발생됨

[스크린샷 및 동영상 첨부]
<img width="313" alt="스크린샷 2021-11-29 오후 8 04 19" src="https://user-images.githubusercontent.com/87403323/143857100-ccc4a58c-9c8d-4b79-afaf-2308760504ab.png">

[2021-11-30 02:08] sajan-dpnm commented on #228
@jungheekang what is the desired functionality that you want in this scenario? only 1 추가액션 button?

[2021-11-30 02:51] jungheekang commented on #228
@sajan-dpnm Mute button should not appear on my profile(me).
It is an error that two additional action buttons are displayed.

[2021-11-30 03:06] jungheekang opened #229 "[func] APP에서 스피커 소리가 mute가 되지 않음"
[발생현상]
APP에서 스피커 소리가 mute가 되지 않음

[발생일자]
2021-11-30

[재현경로]
1. 회의 참가 - ios 단말기, android 단말기 스피커볼륨을 줄여도 mute되지 않음

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/87403323/143978516-0bdfb994-492c-4aeb-bf6d-40f879309e85.png)

[2021-11-30 04:36] sajan-dpnm commented on #228
@jungheekang  okay, i will remove the Mute button from self profile. But it begs the question again as to whether we want to display the actions (...) button next to the participant. Because as far as I remember, it was Mr. Kang's opinion to allow putting birthday hat by oneself, so if it's the participant's birthday and we decide to remove the actions button then the participant can't put on birt

[2021-11-30 05:13] sajan-dpnm commented on #228
@jungheekang 과장님, 제가 이해하는데로 코드 수정하고 lately 에서 push 했습니다. please let me know your opinion

[2021-11-30 05:17] jungheekang commented on #228
넵 확인했습니다. 버튼 2개가 나오는 것중 1개만 나오는게 맞습니다.

[2021-11-30 05:34] sajan-dpnm commented on #228
okay

[2021-11-30 05:54] #228 closed, assigned to sajan-dpnm

[2021-11-30 06:01] jungheekang commented on #223
#224 해결시 자동 해결 이슈

[2021-11-30 06:01] #223 closed, assigned to theun

[2021-12-02 02:21] anish9849 commented on #229
@jungheekang During an ongoing call, volume does not get muted in mobile devices(checked in ios and android). This is same with all other voice/video calling apps(Kakao, Zoom, Cellular Network Phone Calls) etc. Do we still want this for vmeeting ?

[2021-12-02 03:38] jungheekang commented on #229
@anish9849 yes i want
In the case of Zoom, there is an option to choose whether to mute when entering a meeting. I think it would be good to put an option in this way as well.
![KakaoTalk_Photo_2021-12-02-12-35-57](https://user-images.githubusercontent.com/87403323/144353414-08269202-123f-4703-9ebd-6f275875ca12.jpeg)

[2021-12-02 05:16] anish9849 commented on #222
@jungheekang If we do not allow user to close without entering name on this popup, what is the use of this X button ?

[2021-12-02 05:17] jungheekang commented on #229
@anish984 Zoom is a "disconnect audio" function, both mic/speaker are muted.
![KakaoTalk_Photo_2021-12-02-14-14-48](https://user-images.githubusercontent.com/87403323/144362031-1f6a38bf-1799-45f8-8d11-a12c109709b0.jpeg)
9

[2021-12-02 05:18] anish9849 commented on #229
Please send me scenario on where to add it on vmeeting app.

[2021-12-02 05:28] jungheekang commented on #229
우선, 아무곳에 버튼을 만들어서 동작이 되는지 확인해주면 그후에 시나리오을 작성해드릴꼐요

[2021-12-02 05:38] jungheekang commented on #222
@anish9849 X button은 없애주세요.

[2021-12-03 05:20] jungheekang opened #230 "[lately][func]DID Operation issue fix request"
[발생현상]
1. account settings - phone Number :
    ->  Request a change so that it can be saved even if the phone number is deleted(blank)

2. When a non-logged in attendee enters, the login request screen does not appear.

3. admin console - user information - phone number :
    -> Ignore phone number condition and save

[발생일자]
2021-12-03

[2021-12-10 01:23] anish9849 commented on #230
@jungheekang  Verified ?

[2021-12-10 01:35] jungheekang commented on #230
확인했습니다.

[2021-12-10 01:35] #230 closed, assigned to anish9849

[2021-12-10 05:14] #219 closed, assigned to nobody

[2021-12-14 02:22] #221 closed, assigned to sajan-dpnm

[2021-12-15 01:46] jungheekang opened #231 "[lately][func]설정 - 프로필 Tab에서 이름이 없는 경우 확인 버튼이 동작하지 않음"
[발생현상]
설정 - 프로필 Tab에서 이름이 없는 경우 확인 버튼이 동작하지 않음.

1. 메인 사이트  - 설정
2. 회의 - 설정
  -> 1, 2는 이름이 없는상태(빈칸)에서 확인 버튼시 알럿 표시

3. 회의 - 썸네일화면 - 이름설정
  -> 이름을 지워서 이름이 없으면 기존이름 표시되게 설정

[발생일자]
2021-12-15

[2021-12-15 01:59] sajan-dpnm commented on #231
give us a gif?

[2021-12-15 02:37] jungheekang commented on #231
![Dec-15-2021 11-37-05](https://user-images.githubusercontent.com/87403323/146112782-189bfd7b-a7e5-47b4-9713-afb4a19cb525.gif)

[2021-12-15 03:19] sajan-dpnm commented on #231
so you want the button to be grayed out? there is a notification popping up in the event that the user tries to confirm without inputting a profile name!

[2021-12-15 05:47] anish9849 commented on #220
@jungheekang
Is it ok to have it on the right side rather than on the bottom ?

<img width="423" alt="40639451-7DEB-4FAF-8A65-2EA6B1771E31" src="https://user-images.githubusercontent.com/85114817/146130453-f80c4b43-4f42-4bf9-875e-564511ac8ce0.png">

[2021-12-15 06:02] jungheekang commented on #220
@anish9849 I think it would be better to do it in 2 lines.

[2021-12-15 06:06] anish9849 commented on #220
@jungheekang Any reason behind it ?

If so, how would you handle the case when name is very long ?

Having it on the right will look as below:
![image](https://user-images.githubusercontent.com/85114817/146132432-3375cd00-22e0-4c73-865d-ffe21978b928.png)

[2021-12-15 06:08] jungheekang commented on #220
![스크린샷 2021-12-15 오후 3 07 40](https://user-images.githubusercontent.com/87403323/146132732-ebc9aa86-850c-444b-a7ce-879e03c936d2.png)

[2021-12-15 06:10] jungheekang commented on #220
Just do it like the picture captured above.
You just need to mark it as ... .

[2021-12-15 06:15] anish9849 commented on #220
OK!!! Please specify the number of characters that you want to show.

[2021-12-15 06:17] jungheekang commented on #220
15자리로 해주세요
![스크린샷 2021-12-15 오후 3 17 01](https://user-images.githubusercontent.com/87403323/146133671-382c2e95-325e-480b-86ea-491bf4fd5130.png)

[2021-12-17 01:29] jungheekang commented on #231
@sajan-dpnm  Please make a notification pop-up appear

[2021-12-17 01:50] sajan-dpnm commented on #231
@jungheekang i think there is already an existing notification pop-up alert when the user tries to input empty profile name
https://user-images.githubusercontent.com/72065079/146475417-92cbde8e-5ae8-4532-93c4-62df274e1b07.mp4

[2021-12-17 01:56] jungheekang commented on #231
@sajan-dpnm  It seems that Manager Eun hastily edited it.

[2021-12-17 02:07] jungheekang opened #232 "[lately][func] 메인홈페이지의 설정에서 Sounds tab설정해도 저장되지 않음"
[발생현상]
메인홈페이지의 설정에서 Sounds tab설정해도 저장되지 않음

[발생일자]
2021-12-17

[재현경로]
- 발생 환경 :
1. 메인홈페이지 - 설정 - sounds tab - 옵션에 체크 - OK
2. 회의 참석 - 추가액션 - 설정 - sounds tab - 옵션 확인 시 체크한 옵션이 체크되어 있지 않음

[2021-12-17 02:14] jungheekang opened #233 "[lately][func] 참가자 참가, 퇴장시 알림음 발생되지 않음"
[발생현상]
참가자 참가 , 퇴장시 알림음 발생되지 않음

[발생일자]
2021-12-17

[재현경로]
- 발생 환경 :
1. 설정 - 알림음 tab - 옵션 : 참가자 참가시 , 참가자 퇴장시 체크 - 확인
2. 회의생성 - 회의에 참가자 참자, 퇴장 시 알림음 발생되지 않음

[2021-12-21 03:18] jungheekang opened #234 "[lately][func] 지곡초등학교 사용 피드백(추가 및 요청) 내용"
[발생현상]
1. 채팅 on/off 기능
2. 소회의실기능
3. 참석자 이름 변경 못하게 설정(관리자승인 또는 관리자만)
4. 화면 모드(타일뷰) 인원수 늘려 한눈에 모두 볼 수 있게 설정
5. 음소거 해제는 관리자 승인
6. 배경설정 이슈(얼굴이 가끔 안나옴)
7. 내화면 팔로잉 기능
8. 투표기능을 관리자만 또는 참석자 모두 할수 있는 설정
9. 학습용 브이미팅이 별도로 있었으면 좋겠다

[발생일자]
2021-12-21

[2021-12-23 02:33] jungheekang opened #235 "[lately][func]"
[발생현상]
로그인 안된 상태에서 링크로 회의 참여 시 로그인 여부(DID) 발생되지 않음
바로 회의에 참여되고 있음

[발생일자]
2021-12-23

[재현경로]
1. 회의 생성 - 링크 복사
2. 로그인 안된 상태의 브라우저에서 링크로 회의 참석 시 로그인 여부 팝업 발생되지 않음

[2021-12-23 03:14] jungheekang opened #236 "[lately][func]APP에서 회의참가 거부 당하면 메인화면으로 나가지지 않음"
[발생현상]
로비모드에서 APP에서 참가 요청한 참가자가 거부 당하면 메인화면으로 나가지지 않음

[발생일자]
2021-12-23

[재현경로]
1. 회의생성 - 로비모드 활성화
2. APP에서 참가 요청
3. 방장이 회의참가 거부
4. APP에서 메인화면으로 나가지 않음

[스크린샷 및 동영상 첨부]
![IMG_8FE914D3B579-1](https://user-images.githubusercontent.com/87403323/147182569-ea1011e0-30cf-494a-81d6-70a224627da3.jpeg)

[2021-12-23 03:20] jungheekang opened #237 "[lately][func] 회의 생성 후 방장이 퇴장하고 다시 동일한 회의에 참여시 관리자콘솔에 동일한 회의가 또 생성됨"
[발생현상]
회의 생성 후 방장이 퇴장하고 다시 동일한 회의에 참여시 관리자콘솔에 동일한 회의가 또 생성됨

[발생일자]
2021-12-23

[재현경로]
1. A '123' 회의생성 - B,C,D 참가
2. A 회의에서 퇴장
3. A '123' 회의에 재입장
4. 관리자 콘솔 확인 시 123 회의가 생성되어있음

[스크린샷 및 동영상 첨부]
<img width="1352" alt="스크린샷 2021-12-23 오후 12 07 40" src="https://user-images.githubusercontent.com/87403323/147183016-2a9925cc-8317-411e-9f0f-eefab886f855.png">

[2021-12-23 03:35] jungheekang commented on #237
flagship 에서도 동일한 증상 발생됩니다.
io 에서는 발생안합니다.

[2021-12-23 04:30] theun0524 commented on #237
수정완료.

[2021-12-23 04:30] theun0524 commented on #235
수정완료.

[2021-12-23 04:38] jungheekang commented on #237
확인했습니다.

[2021-12-23 04:38] #237 closed, assigned to theun

[2021-12-23 07:51] anish9849 commented on #236
Fixed, will upload to testflight on next release.

[2021-12-28 04:37] #235 closed, assigned to nobody

[2021-12-28 04:59] jungheekang opened #238 "[lately][func] Attention status에서 high resolution : ON상태에서 브라우저 폭을 줄이면 스크롤 생성 추가 요청"
[발생현상]
Meeting Attendance - Attention status에서 high resolution : ON상태에서 브라우저 폭을 줄이면 스크롤 생성 추가 요청

[발생일자]
2021-12-28

[재현경로]
- 발생 환경 :
1. user menu - meeting details
2. meeting attendance tab
3. high resolution : ON
4. attention 표시 부분에 스크롤 추가

[스크린샷 및 동영상 첨부]
![스크린샷 2021-12-28 오후 1 56 27](https://user-images.githubusercontent.com/87403323/147529688-52b39c95-966a-4afd-8222-82684a1a8917.png)

[2021-12-28 05:50] jungheekang opened #239 "[lately][func]로그인하지 않은 참가자는 Meeting detail - meeting management에 표시 되지 않음"
[발생현상]
로그인하지 않은 참가자는 Meeting detail - meeting management에 표시 되지 않음

[발생일자]
2021-12-28

[재현경로]
1. 로그인하지 않은 참가자 미팅룸에 참석
2. 미팅 종료
3. Meeting detail - meeting management - room name
4. 로그인하지 않은 참가자가 표시 되지 않음(데이터는 빈칸으로 나오고, 참석자는 나와야됨)

[스크린샷 및 동영상 첨부]

[2021-12-28 06:45] jungheekang opened #240 "[lately][func]meeting details에서 Participant Name의 정렬이 되어있지 않음"
[발생현상]
meeting details에서 Participant Name의 정렬이 되어있지 않음
회의 입장 순서로 정렬 필요 (처음 입장한사람이 맨위에 나오게 표시)
[발생일자]
2021-12-28

[재현경로]
1. Meeting details - meeting management
2.Participant Name 에서 회의 입장순으로 정렬 필요

[2021-12-29 06:54] sajan-dpnm commented on #240
fixed. please check at vmeeting.maharjansajan.com.np

[2021-12-29 08:34] jungheekang opened #241 "[lately]참가자 목록 - "검색, 필터, 정렬" 기능 추가"
[발생현상]
참가자 목록 - "검색, 필터, 정렬" 기능 추가
- 화면설계서 v0.7 참고
https://docs.google.com/presentation/d/1pTQz5IZ_G2zE-RAM8WL4I-Vs71f5ZTC3/edit?usp=sharing&ouid=104232893163260504150&rtpof=true&sd=true

[스크린샷 및 동영상 첨부]
![image](https://user-images.githubusercontent.com/87403323/147642504-e9645717-a972-42ce-9084-f6fc75f637f5.png)

![image](https://user-images.githubusercontent.com/87403323/147642484-15eda89e-6155

[2021-12-30 01:31] jungheekang commented on #226
@anish9849
썸네일 숨기기
<img width="473" alt="스크린샷 2021-12-30 오전 10 29 10" src="https://user-images.githubusercontent.com/87403323/147714587-95195e9f-91c0-416a-94df-05f40ec9c7df.png">
<img width="230" alt="스크린샷 2021-12-30 오전 10 29 41" src="https://user-images.githubusercontent.com/87403323/147714601-6a006112-7480-4ab4-a8e3-939ccaa0fcca.png">

썸네일 보이기
<img width="110" alt="스크린샷 2

[2022-01-03 08:30] sajan-dpnm commented on #238
changed. please check at https://vmeeting.maharjansajan.com.np:8443/

[2022-01-03 08:30] sajan-dpnm commented on #239
changed. please check at https://vmeeting.maharjansajan.com.np:8443/

[2022-01-07 03:33] #200 closed, assigned to sajan-dpnm

[2022-01-07 07:49] #240 closed, assigned to sajan-dpnm

[2022-01-07 07:49] #239 closed, assigned to sajan-dpnm

[2022-01-07 07:49] #222 closed, assigned to anish9849

[2022-01-07 07:50] #236 closed, assigned to anish9849

[2022-01-07 07:53] #220 closed, assigned to anish9849

[2022-01-17 08:21] anish9849 commented on #216
Implemented at branch anish/sso. Please merge it.

[2022-06-29 02:52] jungheekang opened #242 "[lately][func] 오디오설정 ^ 아이콘 더블클릭하면 회의에서 나가짐"
[발생현상]
오디오설정 ^ 아이콘 더블클릭하면 회의에서 나가짐

[발생일자]
2022-06029

[재현경로]
1.  회의 중
2. 하단 툴바 - 오디오설정 ^ 아이콘 더블클릭 시

[2022-06-29 02:59] jungheekang opened #243 "[lately][func] 보안옵션 - 비밀번호입력필드에 비밀번호입력 후 엔터치면 로비나가지는 현상"
[발생현상]
보안옵션 - 비밀번호입력필드에 비밀번호입력 후 엔터치면 로비나가지는 현상

[발생일자]
2022-06-29

[재현경로]
1. 하단 툴바 -  추가액션 - 보안옵션
2. 비밀번호 설정 - 비밀번호 입력필드에서 엔터 입력 시

[2022-07-06 09:09] jungheekang opened #244 "[lately][func] 참가자 이름이 길면 개인채팅메시지 입력창이 늘어나는 현상"
[발생현상]
참가자 이름이 길면 개인채팅메시지 입력창이 늘어나는 현상

[발생일자]
2022-07-06

[재현경로]
1. 참가자 이름 -> 이름으로 최대길게 입력
2. 채팅 -> 개인메시지 시

[스크린샷 및 동영상 첨부]
<img width="373" alt="스크린샷 2022-07-06 오후 5 53 18" src="https://user-images.githubusercontent.com/87403323/177514544-5069da97-bd08-4064-b2b7-987cae3b20c0.png">

[2022-07-06 09:11] jungheekang commented on #242
07-04 문제해결확인

[2022-07-06 09:11] #242 closed, assigned to nobody

[2022-07-15 07:35] jungheekang opened #245 "[lately][func] (방장) 리액션 시 발생되는 알럿창에서 "모두에게 알림음 끄기" 버튼 동작 되지 않음"
[발생현상]
방장일때 최초 리액션 시 발생되는 알럿창에서 "모두에게 알림음 끄기" 버튼 동작 되지 않음

[발생일자]
2022-07-15

[재현경로]
1. 회의생성
2. 리액션 메뉴 - 박수
3.  이 회의에서 리액션 알림을을 끄기로 설정할 수 있습니다. 알럿창 - '모두에게 알림음 끄기' 선택 시 동작 되지 않음

[2022-07-15 08:10] jungheekang opened #246 "[lately][func] 설정 - 방장 tab에서 '모두에게 리액션 알림음 끄기' 체크 해제 해도 본인의 알림음은 켜지지 않음"
[발생현상]
설정 - 방장 tab에서 '모두에게 리액션 알림음 끄기' 체크 해제 해도 본인의 알림음은 켜지지 않음

[발생일자]
2022-07-15
[재현경로]

1. 회의 생성
2. 설정 - 방장 tab - '모두에게 리앤션 알람음 끄기' 체크 - 확인 버튼
3. 설정 - 알림음 tab - '리액션' 체크박스 체크 해제 확인
4. 설정 - 방장 tab - '모두에게 리앤션 알람음 끄기' 체크해제 - 확인버튼
5. 설정 - 알림음 tab - '리액션' 체크박스 체크여부 확인 시 체크 되어있지 않음

[2022-08-11 11:16] theun commented on #246
수정완료. lately 서버에 적용해 두었어요.

[2022-08-11 11:17] theun commented on #245
수정완료. lately 서버에 적용해 두었어요.

[2022-08-11 11:17] theun commented on #244
수정완료. lately 서버에 적용해 두었어요.

[2022-08-11 11:18] theun commented on #243
수정완료. lately 서버에 적용해 두었어요.

[2022-08-12 01:12] jungheekang commented on #243
확인했습니다.

[2022-08-12 01:12] #243 closed, assigned to nobody

[2022-08-12 01:14] jungheekang commented on #244
확인했습니다.

[2022-08-12 01:14] #244 closed, assigned to nobody

[2022-08-12 02:03] jungheekang commented on #245
확인했습니다.

[2022-08-12 02:03] #245 closed, assigned to nobody